Repository thorvg/thorvg, pull requests merged in 2020-09, with the labels that each got.

#11 SvgLoader: Use non-premultipied color
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#13 SvgLoader: Gradient use non-premultipied color
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#14 SvgLoaderCommon: Add initialization in SvgVector
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug

#15 SvgLoader: Add null check
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#16 SvgLoader: Fix memory leak for loader's gradient
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#17 SvgLoader: Support DashArray attribute for stroke
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement

#20 svg_loader: refactoring code.
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
Labels: enhancement

#24 SvgLoader: Supports case when only rx or ry is declared
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug

#22 sw_engine: the check if the stroke width > 0 after conversion its val…
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#39 SvgLoader: Modify calculation formula of linear gradient matrix
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#25 svg_loader: fixing issues with a A/a command
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug

#42 Fixing issues with a A/a command
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug

#48 SvgLoader: Fix wrong display when dasharray size is 1
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#8 ThorVG/Utils: Convert svg to png
  meson_options.txt
  src/bin/meson.build
  src/bin/svg2png/lodepng.cpp
  src/bin/svg2png/lodepng.h
  src/bin/svg2png/meson.build
  src/bin/svg2png/svg2png.cpp
  src/meson.build
Labels: enhancement

#57 capi: correct interfaces.
  inc/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  test/testCapi.c
Labels: enhancement

#44 shape: added duplicate api.
  inc/thorvg.h
  inc/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPicture.cpp
  src/lib/tvgScene.cpp
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
  src/lib/tvgShapePath.h
  test/makefile
  test/testCapi.c
  test/testDuplicate.cpp
Labels: enhancement

#62 ReadMe: Add description for svg2png
  README.md
Labels: documentation

#74 SvgPath: When path end(Z,z), Current point are returned to starting p…
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug

#78 gradient: Fixed radial gradient setter.
  src/lib/tvgRadialGradient.cpp
Labels: enhancement
