Repository thorvg/thorvg, pull requests merged in 2020-11, with the labels that each got.

#127 common lib/loaders: Fix missing space for coding convention
  src/lib/tvgCanvasImpl.h
  src/lib/tvgFill.h
  src/lib/tvgPaint.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
Labels: documentation

#125 test Canvas: Set up unit test based on gtest.
  meson.build
  meson_options.txt
  test/meson.build
  test/test_canvas.cpp
  test/testsuite.cpp
Labels: infrastructure

#124 svg_loader SvgLoader: Fixed a typo
  src/loaders/svg/tvgSvgLoader.cpp
Labels: documentation

#112 svg_loader LoaderMgr: Delegates file validation check to LoaderMgr.
  src/lib/tvgLoaderMgr.cpp
  src/lib/tvgLoaderMgr.h
  src/lib/tvgPictureImpl.h
Labels: enhancement

#132 sw_engine: performance optimization.
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/meson.build
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/sw_engine/tvgSwResMgr.cpp
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/tvgInitializer.cpp
  src/lib/tvgTaskScheduler.cpp
  src/lib/tvgTaskScheduler.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
Labels: optimization

#133 examples: revise example code.
  src/examples/Arc.cpp
  src/examples/Blending.cpp
  src/examples/Boundary.cpp
  src/examples/ClipPath.cpp
  src/examples/Duplicate.cpp
  src/examples/FillRule.cpp
  src/examples/LinearGradient.cpp
  src/examples/MultiCanvas.cpp
  src/examples/MultiShapes.cpp
  src/examples/Opacity.cpp
  src/examples/Path.cpp
  src/examples/PathCopy.cpp
  src/examples/RadialGradient.cpp
  src/examples/Scene.cpp
  src/examples/Shape.cpp
  src/examples/Stroke.cpp
  src/examples/StrokeLine.cpp
  src/examples/Svg.cpp
  src/examples/Svg2.cpp
  src/examples/Update.cpp
  src/lib/sw_engine/tvgSwResMgr.cpp
Labels: refactoring

#134 sw_engine mempool: performance optimization.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwMemPool.cpp
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: optimization

#135 sw_engine rle: performance optimization.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: optimization

#137 common shape: memory optimization
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
Labels: optimization

#138 sw_engine mempool: ++optimization
  src/lib/sw_engine/tvgSwMemPool.cpp
Labels: optimization

#139 common renderer: code refactoring.
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/tvgCanvas.cpp
  src/lib/tvgRender.h
Labels: refactoring

#142 common taskScheduler: thread sync optmization
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgTaskScheduler.cpp
  src/lib/tvgTaskScheduler.h
  src/loaders/svg/tvgSvgLoader.cpp
Labels: optimization

#144 common taskScheduler: code refactoring
  src/examples/Stress.cpp
  src/lib/tvgTaskScheduler.h
Labels: refactoring

#146 capi: Added fill rule API.
  inc/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Labels: enhancement

#155 sw_engine Raster: Add null check for transform
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug
