Repository thorvg/thorvg, pull requests merged in 2020-10, with the labels that each got.

#85 examples: testStrokeLine example expanded
  src/examples/testStrokeLine.cpp
Labels: enhancement

#87 shape: fixing 'pie' option
  src/lib/tvgShape.cpp
Labels: bug

#89 gradient: added check for gradient start and end set for 0
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#68 SwRender & tvgPaint: Implement ClipPath feature
  inc/thorvg.h
  src/examples/meson.build
  src/examples/testClipPath.cpp
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/tvgCanvasImpl.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: feature

#86 Bezier curve: improvement of the curve splitting algorithm
  src/lib/tvgBezier.cpp
Labels: bug

#102 svg_loader: use designated fabsf() for float values.
  src/loaders/svg/tvgSvgPath.cpp
Labels: refactoring

#101 tvgSvgLoader: Add points copy of missing polygon/polyline
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#104 sw_engine: fix missing shape update issue.
  src/examples/Stress.cpp
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwShape.cpp
Labels: bug

#83 thorvg viewer: introduce thorvg viewer
  README.md
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgPath.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/meson.build
  src/wasm/meson.build
  src/wasm/thorvgwasm.cpp
  test/wasm_test.html
  wasm_build.sh
  wasm_cross.txt
Labels: feature

#105 thorvg viewer: fix scale problem
  src/wasm/thorvgwasm.cpp
Labels: bug

#95 Bezier curve: extension of the termination condition in bezLength()
  src/lib/tvgBezier.cpp
  src/lib/tvgBezier.h
Labels: bug

#100 dash pattern: handling dash patterns < 1
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/tvgShape.cpp
Labels: bug

#120 common paint: introduce opacity() method.
  inc/thorvg.h
  src/examples/Opacity.cpp
  src/examples/meson.build
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgCanvasImpl.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: enhancement

#117 svg_loader SvgLoader: Prevent memory overflow for tagName
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug
