Repository thorvg/thorvg, pull requests merged in 2020-12, with the labels that each got.

#149 common capi: Added scene clear API
  inc/thorvg.h
  inc/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgScene.cpp
Labels: enhancement

#158 sw_engine raster: code refactoring & optimize code.
  inc/thorvg.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: refactoring

#160 sw_engine raster: support opacity composition.
  src/examples/Opacity.cpp
  src/examples/Stress.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgSceneImpl.h
Labels: enhancement

#163 sw_engine renderer: refactoring code & optimize composition.
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
Labels: optimization, refactoring

#156 common Picture : Introduce Picture's size setter, getter APIs
  inc/thorvg.h
  src/examples/Svg.cpp
  src/lib/tvgLoader.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.h
Labels: enhancement

#167 common picture: revise resize method.
  inc/thorvg.h
  src/examples/MultiCanvas.cpp
  src/examples/Stress.cpp
  src/examples/Svg2.cpp
  src/lib/tvgPictureImpl.h
Labels: enhancement

#166 sw_engine renderer: support scene opacity composition
  src/examples/Opacity.cpp
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: enhancement

#169 picture svg_loader: use viewbox size as default image size.
  inc/thorvg.h
  src/lib/tvgLoader.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
Labels: enhancement

#171 wasm: code refactoring.
  src/wasm/thorvgwasm.cpp
Labels: refactoring

#174 sw_engine renderer: code refactoring.
  src/examples/Opacity.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
Labels: refactoring

#175 svg_loader: code refactoring
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgPath.cpp
  src/loaders/svg/tvgSvgPath.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: optimization

#179 common sw_engine: code refactoring & stabilizing.
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/tvgArray.h
  src/lib/tvgCanvasImpl.h
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
Labels: optimization

#159 [Tools] Automatic code format tool added
  code_format
  tools/codestyle/README
  tools/codestyle/c++_clang_formatter.sh
  tools/codestyle/code_formatter.sh
  tools/codestyle/cpplint_tizen_160919.py
  tools/codestyle/cpplint_tizen_dir.sh
Labels: infrastructure

#182 sw_engine renderer: optimize composition data usage.
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
Labels: optimization

#183 common sw_engine: apply partial composition.
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: optimization

#184 svg_loader XmlParser: Print unsupported elements, attribute with log option
  meson.build
  meson_options.txt
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgXmlParser.cpp
Labels: feature

#189 svg_loader SvgLoader: Print inefficient elements
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgXmlParser.cpp
Labels: enhancement

#157 CompositeMethod: Masking method AlphaMask
  inc/thorvg.h
  src/examples/Masking.cpp
  src/examples/meson.build
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/tvgPaint.h
Labels: feature

#194 sw_engine shape: expand the algorithm to draw arcs with negative angles
  src/lib/tvgShape.cpp
Labels: enhancement

#192 common composite: code refactoring.
  inc/thorvg.h
  src/examples/Masking.cpp
  src/lib/gl_engine/tvgGlCommon.h
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgCanvasImpl.h
  src/lib/tvgPaint.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: refactoring

#196 common sw_engine: code refactoring
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgPaint.h
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
Labels: refactoring

#197 sw_engine renderer: fix a regression bug.
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#193 common gl_engine: transformation support
  src/examples/CustomTransform.cpp
  src/examples/DirectUpdate.cpp
  src/examples/GradientTransform.cpp
  src/examples/SceneTransform.cpp
  src/examples/Transform.cpp
  src/examples/Update.cpp
  src/lib/gl_engine/tvgGlCommon.h
  src/lib/gl_engine/tvgGlGeometry.cpp
  src/lib/gl_engine/tvgGlGeometry.h
  src/lib/gl_engine/tvgGlProgram.cpp
  src/lib/gl_engine/tvgGlProgram.h
  src/lib/gl_engine/tvgGlPropertyInterface.cpp
  src/lib/gl_engine/tvgGlPropertyInterface.h
  src/lib/gl_engine/tvgGlRenderTask.cpp
  src/lib/gl_engine/tvgGlRenderTask.h
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRendererProperties.h
  src/lib/gl_engine/tvgGlShaderSrc.cpp
Labels: feature

#198 sw_engine: apply opacity to graident fill case.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwShape.cpp
Labels: enhancement

#195 Capi: Shape bounds binding
  inc/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Labels: enhancement

#199 gl_engine: fix coding convention.
  AUTHORS
  src/examples/Transform.cpp
  src/examples/Update.cpp
  src/lib/gl_engine/tvgGlGeometry.cpp
  src/lib/gl_engine/tvgGlGeometry.h
  src/lib/gl_engine/tvgGlPropertyInterface.cpp
Labels: refactoring
