Repository thorvg/thorvg, pull requests merged in 2021-05, with the labels that each got.

#369 sw_engine: Added sanity checks.
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#371 Update README.md
  README.md
Labels: documentation

#376 loader SvgLoader: Fix memory leak
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#372 docs: thorvg_capi
  inc/thorvg_capi.h
Labels: documentation

#380 sw_engine: fix invalid data sharing at multi-threading.
  inc/thorvg.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwMemPool.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
  src/lib/tvgSwCanvas.cpp
Labels: bug, enhancement

#377 doc: linguistic changes in C++ API docs
  inc/thorvg.h
Labels: documentation

#358 log SvgLoader: Enhance log message
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgXmlParser.cpp
  src/loaders/svg/tvgXmlParser.h
Labels: enhancement

#383 sw_engine: removing unnecessary variable from SwRadial struct
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
Labels: optimization

#384 sw_engine: fixing wrong 'if else' statement handling when gradient sh…
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#385 sw_engine: gradient shapes with opacity < 255 rastered properly
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#391 sw_engine: refactoring the linear gradient rle rastering function
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#395 Mgrudzinska/transl grad mask refact2
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#396 common scene: fixing the initial values of variables in the bounds ge…
  src/lib/tvgSceneImpl.h
Labels: bug

#397 common Initializer: Fix init count
  src/lib/tvgInitializer.cpp
Labels: bug

#399 svg_loader: the viewBox clipping composite layer added independently …
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#382 common: fix a potential memory leak after clear()
  inc/thorvg.h
  inc/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgCanvasImpl.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
Labels: bug, enhancement
