Repository thorvg/thorvg, pull requests merged in 2021-10, with the labels that each got.

#843 common: allow composition on empty scene without Result::InsufficientCondition error
  src/lib/tvgCanvasImpl.h
Labels: bug

#848 capi: Release official CAPI's.
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Labels: documentation

#855 docs: improving c++ and c apis docs
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#852 capi: tvg_canvas_destroy should be able to destroy SwCanvas and GlCan…
  src/bindings/capi/tvgCapi.cpp
Labels: bug

#864 common, gl_engine: portable fallthrough attribute
  src/lib/gl_engine/tvgGlGeometry.cpp
  src/lib/tvgCommon.h
Labels: infrastructure

#867 capi: removed repeated comments
  src/bindings/capi/thorvg_capi.h
Labels: bug

#868 docs: minor changes
  inc/thorvg.h
Labels: documentation

#851 svg_loader: proper handling width/height units
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug

#870 docs: ++ docs of the load apis
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#872 sw_engine: border cases for gradients
  meson.build
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#839 infra: Add window build test in CI
  .github/workflows/build_win.yml
  meson.build
  src/lib/tvgInitializer.cpp
Labels: infrastructure

#876 Update authors
  AUTHORS
Labels: documentation

#874 tests: ++LOC svg loader, tvg saver
  test/images/tag.svg
  test/testPicture.cpp
Labels: example

#866 all: fixing clang warnings
  inc/thorvg.h
  src/lib/sw_engine/tvgSwMath.cpp
  src/lib/tvgCommon.h
  src/savers/tvg/tvgTvgSaver.cpp
Labels: portability

#859 infra: add all option to enable all loader formats.
  meson.build
  meson_options.txt
  src/loaders/meson.build
Labels: infrastructure

#869 docs: c and c++ apis docs improved
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#880 examples, tests: replace backslashes with forward slashes for portability
  meson.build
Labels: infrastructure, portability
