Repository thorvg/thorvg, pull requests merged in 2021-06, with the labels that each got.

#400 common: added API to get the transformation matrix of the object
  inc/thorvg.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
Labels: enhancement

#231 sw_engine common: improving the alpha blending algorithm
  src/lib/sw_engine/tvgSwCommon.h
Labels: enhancement

#408 test: remove gtest & its infra.
  meson.build
  meson_options.txt
  test/meson.build
  test/test_canvas.cpp
  test/test_paint.cpp
  test/testsuite.cpp
  test/wasm/wasm_test.html
Labels: infrastructure

#407 infra: install capi header file only its binding option is enabled.
  inc/meson.build
  src/bindings/capi/meson.build
  src/bindings/capi/thorvg_capi.h
Labels: infrastructure

#409 tests: introduce catch2 unit tests infrastructure.
  meson.build
  meson_options.txt
  test/catch.hpp
  test/meson.build
  test/testInitializer.cpp
  test/testMain.cpp
Labels: example, infrastructure

#410 capi: add tvg_paint_get_transform() api.
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Labels: enhancement

#413 capi: include <stdint.h> into thorvg_capi.h
  src/bindings/capi/thorvg_capi.h
Labels: refactoring

#419 svg_loader: initializing uninitialized variables
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#388 TVG Loader/Saver module: tvg helper file
  src/lib/meson.build
  src/lib/tvgTvgHelper.h
Labels: feature

#411 svg_loader SceneBuilder: Remove incorrect calculation for gradient
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#423 sw_engine: fixing the composition for canvas width != canvas stride
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#424 sw_engine: added check whether surface width <= surface stride
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#427 svg_loader: support stroke gradient
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement

#431 examples: revise examples
  src/examples/CustomTransform.cpp
  src/examples/GradientStroke.cpp
  src/examples/GradientTransform.cpp
  src/examples/SceneTransform.cpp
  src/examples/Stacking.cpp
  src/examples/Transform.cpp
Labels: example

#390 TVG Loader/Saver module: tvg loader example
  src/examples/TvgLoader.cpp
  src/examples/images/tvg_file.tvg
  src/examples/meson.build
Labels: example, feature

#426 tests: add SwCanvasBase unit tests
  src/lib/tvgCanvasImpl.h
  test/meson.build
  test/testSwCanvasBase.cpp
Labels: example

#433 tvg_loader: code refactoring.
  meson_options.txt
  src/lib/meson.build
  src/lib/tvgBinaryDesc.h
  src/loaders/meson.build
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/tvg/tvgTvgLoadParser.cpp
  src/loaders/tvg/tvgTvgLoadParser.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
Labels: refactoring

#434 capi: picture load data
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Labels: enhancement

#436 tvg_loader: Fixed missing 'this->' keyword
  src/loaders/tvg/tvgTvgLoader.cpp
Labels: bug

#412 utc capi: Added shape fill utc.
  test/capi/testFill.cpp
  test/meson.build
Labels: example

#437 tvg_loader: added tvg format verification
  src/loaders/tvg/tvgTvgLoadParser.cpp
  src/loaders/tvg/tvgTvgLoadParser.h
  src/loaders/tvg/tvgTvgLoader.cpp
Labels: enhancement

#438 loader_mgr: FileTypes order changed
  src/lib/tvgLoaderMgr.h
Labels: enhancement

#441 svg_loader: gradient update takes into account a stroke and a fill
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#416 utc capi: Added capi initializer, canvas, paint and shape utc
  test/capi/testInitializer.cpp
  test/capi/testPaint.cpp
  test/capi/testShape.cpp
  test/capi/testSwCanvas.cpp
  test/meson.build
Labels: example

#443 tset capi: code refactoring.
  test/capi/capiInitializer.cpp
  test/capi/capiPaint.cpp
  test/capi/capiShape.cpp
  test/capi/capiSwCanvas.cpp
Labels: refactoring

#448 utc capi: added capiSwCanvas test cases
  test/capi/capiSwCanvas.cpp
Labels: example

#449 svg_loader: adding check if stroke-dasharray attribute != none
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#450 svg_loader: after reading an unsupported style attribute no other val…
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug

#451 svg_loader: fixing color parsing
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#453 common Scene: return FailedAllocation if it really failed at memory a…
  src/lib/tvgScene.cpp
Labels: enhancement

#417 utc capi: Added radial gradient tests.
  test/capi/testRadialGradient.cpp
  test/meson.build
Labels: example

#418 utc capi: Added linear gradient tests.
  test/capi/testLinearGradient.cpp
  test/meson.build
Labels: example

#456 infra CI: Fix test flag of test build
  .github/workflows/actions.yml
Labels: infrastructure

#458 infra CI: Upload unit test result to artifact
  .github/workflows/actions.yml
  test/meson.build
Labels: infrastructure

#454 test Scene: Add tvg::Scene unit tests
  test/meson.build
  test/testScene.cpp
Labels: example

#460 svg_loader: radial gradient transformation support
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement

#462 test Scene: Separate tests into SECTION()
  test/testScene.cpp
Labels: example

#463 loaders: added copy param for Picture::load
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgLoader.h
  src/lib/tvgLoaderMgr.cpp
  src/lib/tvgLoaderMgr.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
Labels: enhancement

#464 loaders: revise code from cce4b443b3250d14a3077cf13226f7cacbb82f57
  inc/thorvg.h
  src/lib/tvgPicture.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/tvg/tvgTvgLoadParser.cpp
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
Labels: refactoring

#446 common: fix a memory leak after scene->clear(true)
  src/lib/tvgSceneImpl.h
Labels: bug

#467 svg_loader XmlParser: Fix check the end of string
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug

#465 common scene: code refactoring.
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
Labels: refactoring

#466 add missing string header
  inc/thorvg.h
Labels: bug

#469 svg_loader SvgLoader: Prevent invalid access
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#468 svg_loader SvgLoader: Copy the missing composite url
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#476 svg_loader: correct parsing ColorStop offset values
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#478 infra: add memory sanitize option in meson
  meson.build
  src/meson.build
Labels: infrastructure

#470 sw_engine fill: fixing gradient calculations for 'repeat' spread value
  src/lib/sw_engine/tvgSwFill.cpp
Labels: bug

#480 common: fix compatibility issue for MSVC
  src/lib/tvgShape.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
Labels: infrastructure

#481 common: fix compatibility issue for MSVC.
  src/lib/tvgCommon.h
Labels: infrastructure

#489 common: fix compatibility issue for MSVC.
  src/lib/tvgCommon.h
Labels: infrastructure

#497 common: fix MSVC compatibility problem.
  src/lib/sw_engine/tvgSwMath.cpp
Labels: infrastructure

#471 tvg_loader: code refactoring.
  src/loaders/tvg/tvgTvgLoadParser.cpp
Labels: refactoring

#499 tvg_loader: recover wrongly introduced change by my mistake.
  src/loaders/tvg/tvgTvgLoadParser.cpp
Labels: bug

#500 svg2png: revise code to fix memory violation.
  src/bin/svg2png/svg2png.cpp
Labels: bug

#479 svg_loader SvgPath: Added corner case handling for flags of Arc
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug

#504 svg_loader: prevent heap memory overflow.
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#506 sw_engine stroke: set stroke invalid if points are zero.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: refactoring

#475 common fill: handling the ColorStop offset values
  src/lib/tvgFill.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#505 svg_loader: fix double-free memory.
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#507 Use spellcheck
  README.md
Labels: documentation

#509 common: PaintType enum changed to identifier in Paint class
  inc/thorvg.h
  src/lib/tvgCommon.h
  src/lib/tvgPaint.h
  src/lib/tvgPicture.cpp
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgShape.cpp
Labels: enhancement

#508 common: introducing the composite API (getter)
  inc/thorvg.h
  src/lib/tvgPaint.cpp
Labels: enhancement

#519 svg_loader: applying opacity to the gradient
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#523 svg_loader: finish the search after founding the proper color
  src/loaders/svg/tvgSvgLoader.cpp
Labels: optimization

#516 svg_loader: negative attrs length fix
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#522 svg_loader: currentColor - inheritance from a parent
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug

#526 sw_engine renderer: fix a broken composition bug
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#527 sw_engine rle: -- sanitizer reports.
  src/lib/sw_engine/tvgSwRle.cpp
Labels: refactoring

#529 svg_loader: fix the inifite loop bug when size has 'em' unit.
  src/loaders/svg/tvgSvgUtil.cpp
Labels: bug, svg

#532 svg_loader: code refactoring
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: refactoring

#533 svg_loader: code refactoring
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: refactoring

#535 svg_loader: code refactoring
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: refactoring

#538 infra: ++ strict build test
  .github/workflows/actions.yml
Labels: infrastructure

#539 svg_loader: fix a infinite loop error if compositions have circular d…
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg

#528 svg_loader: allow multiple <defs> tags without data and memory leak
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#531 sw_engine: stop-opacity value should be interpolated between stops
  src/lib/sw_engine/tvgSwFill.cpp
Labels: bug
