Repository thorvg/thorvg, pull requests merged in 2021-12, with the labels that each got.

#1106 sw_engine SwCommon: Change spans's x,y value type
  src/lib/sw_engine/tvgSwCommon.h
Labels: refactoring

#1105 sw_engine raster: remove unnecessary functions.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterAvx.h
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRasterNeon.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Labels: optimization, refactoring

#1104 sw_engine image: support premultipy the image.
  inc/thorvg.h
  src/examples/images/test.png
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgLoadModule.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_jpg/tvgJpgLoader.h
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/external_png/tvgPngLoader.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/raw/tvgRawLoader.h
Labels: bug, enhancement

#1109 common picture: remove unused variable.
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
Labels: refactoring

#1110 common paint: code refactoring
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: refactoring

#1111 png_loaders: fix the wrong premultiplying operations.
  src/examples/PicturePng.cpp
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.cpp
Labels: bug

#1097 sw_engine raster: improve the transformed rle image rasterizer.
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgRender.h
Labels: enhancement, optimization, refactoring

#1115 sw_engine SwShape: Prevent null access
  src/lib/sw_engine/tvgSwShape.cpp
Labels: bug

#1113 sw_engine texmap: implemented fast span-edge anti-aliasing
  src/examples/PictureJpg.cpp
  src/examples/PicturePng.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
  test/images/test.tvg
Labels: enhancement

#1116 capi: missing arg description added
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#932 common: Introduced Accessor for traversing the scene-tree.
  inc/thorvg.h
  src/lib/meson.build
  src/lib/tvgInitializer.cpp
  src/lib/tvgIterator.cpp
Labels: feature

#1119 sw_engine raster: ++safety of the scaled image rasterization
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Labels: bug

#1121 sw_engine raster: fix a crash at the texmap clipping.
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgPaint.cpp
  src/lib/tvgRender.h
Labels: bug

#1122 Hide the thorvg LZW implementation.
  src/lib/tvgLzw.cpp
Labels: infrastructure

#1126 infra: just released v0.7.0
  meson.build
Labels: infrastructure

#1127 common: Introduced Accessor for traversing the scene-tree.
  inc/thorvg.h
  src/examples/Accessor.cpp
  src/examples/meson.build
  src/lib/meson.build
  src/lib/tvgAccessor.cpp
Labels: feature

#1123 example: add script to execute all
  src/examples/all.sh
  src/examples/meson.build
Labels: enhancement, example

#620 compositeMethod: introduced ColorMask
  inc/thorvg.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#621 example: added LumaMasking.cpp
  src/examples/LumaMasking.cpp
  src/examples/meson.build
Labels: example
