Repository thorvg/thorvg, pull requests merged in 2021-04, with the labels that each got.

#310 sw_engine: fixing linear gradient rastering for shapes with composition
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#284 png_loader: Added libpng based png loading
  meson.build
  meson_options.txt
  src/lib/tvgLoaderMgr.cpp
  src/lib/tvgLoaderMgr.h
  src/loaders/meson.build
  src/loaders/png/meson.build
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/meson.build
Labels: feature

#285 Added png loading example
  src/examples/LoadPng.cpp
  src/examples/images/samsung.png
  src/examples/meson.build
Labels: example, feature

#313 loader loaderMgr: add a useful debug message.
  src/lib/tvgLoaderMgr.cpp
Labels: enhancement

#309 sw_engine: unnecessary memory allocation and variables has been removed
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#312 meson: revise png loader meson script.
  meson.build
  meson_options.txt
  src/loaders/meson.build
  src/loaders/png/meson.build
  src/meson.build
Labels: refactoring

#315 loader png: code refactoring
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
Labels: refactoring

#319 sw_engine raster: ++ precise alpha multiplying
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug, enhancement

#322 binary optimization
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShape.cpp
Labels: optimization

#323 loaders svg: fix invalid clip path result.
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#325 loaders svg: code refactoring
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: refactoring

#328 loaders svg: code refactoring
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/svg/tvgSvgPath.cpp
  src/loaders/svg/tvgSvgPath.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.h
  src/loaders/svg/tvgXmlParser.cpp
Labels: optimization, refactoring

#330 loaders svg: prevent composition setting if the result shape is invalid.
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: refactoring

#333 sw_engine: fixing stroke gradient
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#334 loader svg: fix composition(mask/clip) issue.
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#338 loaders svg: code refactoring.
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring

#339 loaders svg: fix a wrongly handles the corner case.
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#341 examples: ignoring pictures other than svgs in Stress.cpp
  src/examples/Stress.cpp
Labels: bug

#345 sw_engine: adding a check before stroke fill dereference
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#342 loader svg: displaying SVG images without the specified viewBox attri…
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.h
Labels: bug

#353 loaders svg: ++safety
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#351 capi: Added Inverted Alpha Mask composition enumeration.
  inc/thorvg_capi.h
Labels: enhancement

#347 loader SvgLoader: Fix wrong debug log
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#355 loaders svg: code refactoring
  src/loaders/svg/meson.build
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
  src/loaders/svg/tvgSvgUtil.cpp
  src/loaders/svg/tvgSvgUtil.h
Labels: refactoring

#348 doc common: Draft documentation for C++ header APIs
  inc/thorvg.h
Labels: documentation

#356 doc common: adding the documentation for the C++ APIs
  inc/thorvg.h
Labels: documentation

#360 infra Travis: Remove travis-ci build test
  .travis.yml
Labels: infrastructure

#363 doc common: Fix typo and missing parameter
  inc/thorvg.h
Labels: documentation

#362 doc README: Update build status badge
  README.md
Labels: documentation

#361 doc common: adding the documentation for the C++ APIs
  inc/thorvg.h
Labels: documentation

#359 infra Actions: If no coding style error, no comment
  .github/workflows/actions.yml
  .github/workflows/actions_cpplint.yml
  .github/workflows/cpp_lint_check.sh
Labels: infrastructure

#357 common paint: changed result in composite API
  src/lib/tvgPaint.cpp
Labels: bug

#365 doc common: change of the return value in the composite API
  inc/thorvg.h
Labels: documentation

#366 doc common: Add grouping of C++ api and C api
  inc/thorvg.h
  inc/thorvg_capi.h
Labels: documentation

#335 sw_engine: fixing overlapping masks
  src/lib/tvgPaint.cpp
Labels: bug

#367 doc common: Revise c api doc
  inc/thorvg_capi.h
Labels: documentation

#368 doc: polish up api documentation.
  inc/thorvg.h
  inc/thorvg_capi.h
Labels: documentation

#370 infra: disable capi in default.
  meson_options.txt
  src/examples/meson.build
Labels: infrastructure
