Repository thorvg/thorvg, pull requests merged in 2021-08, with the labels that each got.

#677 loader: removed loader finding for LoaderMgr::loader(data, w, h, copy)
  src/lib/tvgLoader.cpp
Labels: optimization

#680 common loader: use RawLoader class immediately.
  src/lib/tvgLoader.cpp
Labels: optimization

#675 tvg_format: force to check for compatibility by version comparision.
  meson.build
  src/lib/tvgCommon.h
  src/lib/tvgInitializer.cpp
  src/loaders/tvg/tvgTvgLoadParser.cpp
  src/loaders/tvg/tvgTvgLoadParser.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
  src/savers/tvg/tvgTvgSaver.cpp
Labels: enhancement

#679 sw_engine common: Added neon alpha blending.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: optimization

#681 sw_engine raster: code refactoring.
  src/lib/sw_engine/meson.build
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterAvx.h
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: refactoring

#678 loaders: Pass mimetype to picture::load
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/PictureJpg.cpp
  src/examples/PicturePng.cpp
  src/examples/Svg2.cpp
  src/lib/tvgLoader.cpp
  src/lib/tvgLoader.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  test/capi/capiPicture.cpp
  test/testPicture.cpp
Labels: enhancement

#684 tvg loader: code refactoring
  src/lib/tvgLoader.cpp
Labels: refactoring

#685 common Shape: Fix check to invalid argument
  src/lib/tvgShape.cpp
Labels: bug

#686 common picture: return bounding box size with the current image size.
  src/lib/tvgPictureImpl.h
Labels: bug

#683 api: add deprecated syntax for deprecated apis.
  inc/thorvg.h
Labels: infrastructure

#682 tvg_loader: introduce tvg interpreter base class for future extension.
  src/loaders/tvg/meson.build
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/loaders/tvg/tvgTvgCommon.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
Labels: enhancement, refactoring

#688 JPG loader: print error string on failure
  src/loaders/jpg/tvgJpgLoader.cpp
Labels: jpg

#687 tvg_saver: optimize binary format.
  src/examples/images/test.tvg
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: optimization

#694 common picture: recover viewbox() api.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgLoadModule.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgLoader.h
Labels: bug

#697 common initializer: fix out of buffer access by the version info string.
  src/lib/tvgInitializer.cpp
Labels: bug

#700 common: meson.build added default_options cpp_std=gnu++14
  meson.build
Labels: infrastructure

#703 --annoying compiler warnings.
  src/lib/tvgInitializer.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
Labels: refactoring

#705 common interator: add count() interface.
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgSceneImpl.h
Labels: enhancement

#707 tvg_saver: optimize saving data.
  src/examples/images/test.tvg
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgSceneImpl.h
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: optimization, tvg

#709 common: RenderRegion x, y protect against negative value in unsigned int
  src/lib/tvgPaint.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#711 sw_engine: allow sharing shapes & connected strokes all in one.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwMemPool.cpp
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: bug, enhancement

#713 sw_engine: memory optimization.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: optimization

#715 sw_common neon: Fix issue with unaligned memory.
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: bug

#721 build: Fixed simd options detection
  meson.build
  meson_options.txt
  src/meson.build
Labels: infrastructure

#720 picture: fix reloading images
  src/lib/tvgPictureImpl.h
Labels: bug

#698 svg2png: redesigned
  src/bin/svg2png/svg2png.cpp
Labels: enhancement

#722 infra: simplify vector meson option.
  meson.build
  src/meson.build
Labels: infrastructure

#723 utc: increase coverage up
  test/images/tag.svg
  test/testPicture.cpp
Labels: example

#728 utc: increase coverage SwEngine
  test/meson.build
  test/testSwEngine.cpp
Labels: example

#725 utc: increase coverage of picture and fill
  test/testFill.cpp
  test/testPicture.cpp
Labels: example

#716 sw common: Added neon translucent rect API implementaiton
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: optimization

#724 svg: fix opacity percentage value parsing
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#745 common picture: quick fix broken bounds() interface.
  src/examples/PictureTvg.cpp
  src/examples/TvgSaver.cpp
  src/examples/images/test.tvg
  src/lib/tvgPictureImpl.h
Labels: bug

#748 wasm: intoduce saveTvg via File System API
  src/wasm/thorvgwasm.cpp
  wasm_cross.txt
Labels: enhancement, viewer

#744 sw_engine avx: addad ALPHA_BLEND_AVX and avxRasterTranslucentRect fun…
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterAvx.h
Labels: optimization

#738 sw_engine shape: prevent crash when wrong pair of commands & points.
  src/lib/sw_engine/tvgSwShape.cpp
Labels: bug

#742 wasm: fix loading for binary files
  src/wasm/thorvgwasm.cpp
Labels: bug

#755 tvg_format: fix broken clippath region.
  src/examples/images/test.tvg
  src/lib/tvgPictureImpl.h
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: bug, tvg

#754 doc: Enhance appendPath docs
  inc/thorvg.h
Labels: documentation

#756 tvg saver: enabling gradient transformation
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: bug

#740 sw_engine: code refactoring.
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: bug, refactoring

#758 README: updated svg2png section
  README.md
Labels: documentation

#747 sw_engine neon: fix the iterations number of 'neon calls'
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: bug

#757 sw_engine neon: refactoring
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: refactoring

#760 svg2png: fixing the args interpretation
  src/bin/svg2png/svg2png.cpp
Labels: bug

#759 docs: minor linguistic changes
  README.md
  inc/thorvg.h
Labels: documentation

#765 sw_engine: calling avxRasterTranslucentRect instead of its c version
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug
