Repository thorvg/thorvg, pull requests merged in 2021-02, with the labels that each got.

#213 sw_engine composition: invert alpha masking
  inc/thorvg.h
  src/examples/InvMasking.cpp
  src/examples/meson.build
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/tvgPaint.h
Labels: enhancement

#219 sw_engine renderer: rendering optimization of shapes without strokes
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: optimization

#228 shape: Fixed reset api.
  src/lib/sw_engine/tvgSwShape.cpp
Labels: bug

#234 sw_engine raster: adding rastering functions for image without transf…
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#232 sw_engine raster: checking zero division while inverting the transfor…
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#211 infra coding_style: Add coding style check bot
  .github/workflows/actions_cpplint.yml
  .github/workflows/cpp_lint_check.sh
Labels: infrastructure

#244 common: Clean up code
  src/lib/gl_engine/tvgGlGeometry.cpp
  src/lib/gl_engine/tvgGlGeometry.h
  src/lib/tvgCanvasImpl.h
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgXmlParser.cpp
Labels: refactoring

#220 infra CI: Introduce new build test with github action
  .github/workflows/actions.yml
  test/meson.build
Labels: infrastructure

#223 common render: removed unnecessary assignments in update() fun
  src/lib/tvgRender.cpp
Labels: refactoring

#251 common: Fix ubuntu version in build test
  .github/workflows/actions.yml
Labels: infrastructure

#237 sw_engine rle: fixing clipping with non overlaping figures
  src/lib/sw_engine/tvgSwRle.cpp
Labels: bug

#214 example StrokeGradient
  src/examples/StrokeGradient.cpp
  src/examples/meson.build
Labels: enhancement

#215 sw_engine: adding a gradient as a stroke feature
  inc/thorvg.h
  inc/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
  src/lib/tvgRender.h
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
Labels: feature

#242 SvgLoader: Mask style implementation
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement

#235 common Scene: Fix translucent composition condition
  src/lib/tvgSceneImpl.h
Labels: bug

#217 sw_engine math: fixing matrix transformation
  src/lib/sw_engine/tvgSwMath.cpp
Labels: bug

#236 sw_engine raster: fixing rasterization of an image with InvMask
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#248 sw common: Fixed crash in rasterRGBA32
  src/lib/sw_engine/tvgSwCommon.h
Labels: bug

#212 Issue 180 example
  src/examples/Capi.cpp
Labels: example

#256 canvas: fix crash issue.
  src/lib/tvgCanvasImpl.h
  src/lib/tvgGlCanvas.cpp
  src/lib/tvgSwCanvas.cpp
Labels: bug

#258 common: optimize scene composition
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPicture.cpp
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgShape.cpp
Labels: optimization

#260 scene: fix a composition regression bug.
  src/lib/tvgSceneImpl.h
Labels: bug
