Repository thorvg/thorvg, pull requests merged in 2021-11, with the labels that each got.

#970 common: code refactoring
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/sw_engine/tvgSwMemPool.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgFill.cpp
  src/lib/tvgFill.h
  src/lib/tvgLoader.cpp
  src/lib/tvgPaint.cpp
  src/lib/tvgShapeImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring

#968 tvg_loader: TVGLOG added in case an unknown fill or stroke tag used
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
Labels: enhancement

#974 test Picture: Fix array release
  test/testPicture.cpp
Labels: example

#973 tvg_saver: preTransform condition
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#802 common: Unmultiplicated colorspace
  inc/thorvg.h
  src/bin/svg2png/svg2png.cpp
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/wasm/thorvgwasm.cpp
Labels: enhancement, feature

#838 loaders: Consider colorspaces
  inc/thorvg.h
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgLoadModule.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_jpg/tvgJpgLoader.h
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/external_png/tvgPngLoader.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/raw/tvgRawLoader.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
Labels: enhancement

#977 sw_engine: fastTrack with clips
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwShape.cpp
Labels: bug

#978 svg_loader: fix bounds for gradient
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#975 sw_engine: var/funct renaming
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwMath.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwShape.cpp
Labels: refactoring

#979 infra meson: Add -Dstatic_library option
  meson_options.txt
  src/loaders/meson.build
Labels: infrastructure

#893 svg_loader: define the scaling factors for units changing
  src/loaders/svg/tvgSvgLoader.cpp
Labels: enhancement, refactoring

#983 sw_engine image: fix memory leak.
  src/lib/sw_engine/tvgSwImage.cpp
Labels: bug

#948 tvg_saver/tvg_loader: gradient fill in the tvg format
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: enhancement

#984 jpg_loader: fix compiler warnings.
  src/loaders/jpg/tvgJpgd.cpp
Labels: refactoring

#991 optimize binary size.
  src/meson.build
Labels: optimization

#990 common math: code refactoring
  src/lib/meson.build
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwMath.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/tvgMath.h
  src/lib/tvgPaint.cpp
  src/lib/tvgRender.cpp
  src/savers/tvg/tvgTvgSaver.cpp
  test/images/tag.tvg
Labels: refactoring

#987 WASM: Use ARGB8888. Convert into ABGR and unmultiply after sync()
  src/wasm/thorvgwasm.cpp
Labels: tools

#992 svg_loader: SvgCompositeNode introduced
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: enhancement, svg

#988 svg_loader: mask node loaded as a scene
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg

#996 svg_loader: reduce binary size
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/svg/tvgXmlParser.cpp
Labels: optimization

#997 svg_loader: reduce binary size.
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: optimization

#986 sw_engine: functions supporting a masking of the clipped images are m…
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1003 test capi: fix memory leak.
  test/capi/capiSavers.cpp
  test/images/tag.tvg
Labels: bug

#1008 tests: capi - buffer was not freed
  test/capi/capiSwCanvas.cpp
Labels: bug

#1002 common array: + exception handling.
  src/lib/tvgArray.h
Labels: bug

#1013 tvg_saver TvgSaver: Initialize local value
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#1012 test Array: Remove too big size test
  test/capi/capiScene.cpp
  test/testScene.cpp
  test/testSwCanvasBase.cpp
Labels: example

#1004 common: ++exception handling.
  src/lib/tvgSaver.cpp
Labels: bug

#1016 test initializer: remove a invalid test case.
  test/testInitializer.cpp
Labels: example

#1017 common paint: fix a memory leak.
  src/lib/tvgPaint.cpp
  test/capi/capiPaint.cpp
Labels: bug

#1018 Revert "test capi: fix memory leak."
  test/capi/capiSavers.cpp
  test/images/tag.tvg
Labels: bug

#1006 tvg_saver: fix memory leaks
  src/lib/tvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#1019 sw_engine renderer: fix the invalid memory access in the corner case.
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#1015 sw_engine: unification of mask and inv mask functions
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1024 sw_engine raster: code refactoring.
  src/examples/images/test.tvg
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/tvgMath.h
Labels: refactoring

#1025 sw_engine raster: code refactoring
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1026 sw_engine raster: code refactoring
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1028 sw_engine: missing implementations added
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1033 common paint: code refactoring
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
Labels: refactoring

#989 apis: promote beta apis to the official ones.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#1034 infra: Add build test after patch merged
  .github/workflows/actions.yml
  .github/workflows/build_win.yml
Labels: infrastructure

#1038 README: Update Badge
  README.md
Labels: documentation

#1041 png_loader: correct colorspace
  src/loaders/png/tvgLodePng.cpp
Labels: loaders

#1039 svg_loader: memory properly released
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1043 svg_loader: mem properly freed
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1040 sw_engine raster: allow image interpolation by increasing tolerance.
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1036 sw_engine raster: code refactoring
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1035 common paint: alpha masking optimization
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
Labels: optimization

#1037 sw_engine image: introduce the stride property for the image.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: enhancement

#1045 infra bot: Add Memcheck bot (valgrind)
  .github/workflows/actions.yml
  .github/workflows/memcheck_valgrind.sh
Labels: infrastructure

#1044 sw_engine image: optimized image rendering.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwMath.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgMath.h
Labels: optimization

#1046 common paint: fix invalid memory access in unit test
  src/lib/tvgPaint.cpp
Labels: bug

#1047 infra bot: Hotfix memcheck bot for push event
  .github/workflows/memcheck_valgrind.sh
Labels: bug, infrastructure

#1048 common paint: improve rotation condition precision
  src/lib/tvgMath.h
  src/lib/tvgPaint.cpp
Labels: enhancement

#1050 common paint: improve rotation condition precision
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwMath.cpp
  src/lib/tvgMath.h
  src/lib/tvgPaint.cpp
Labels: enhancement

#1051 sw_engine: avxRasterTranslucentRle implemented
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterAvx.h
Labels: enhancement

#1052 common math: code refactoring
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/tvgMath.h
  src/lib/tvgPaint.cpp
  src/lib/tvgRender.cpp
  src/lib/tvgShape.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: refactoring

#1053 sw_engine image: ++optimization
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: optimization

#1056 sw_engine: ialpha function pointer used instead of 255 - alpha
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1055 sw_engine neon: code refactoring.
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: refactoring

#1057 sw_engine raster: code refactoring
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1058 infra: Use latest meson version
  .github/workflows/actions.yml
Labels: infrastructure

#1059 infra bot: Add Memcheck bot (AddressSanitizer)
  .github/workflows/actions.yml
  .github/workflows/memcheck_asan.sh
Labels: infrastructure

#1060 example stroke: added vertical line samples.
  src/examples/Stroke.cpp
Labels: example

#1065 sw_engine raster: optimize the image raster
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: optimization

#1066 example: added different stroke's caps
  src/examples/Stroke.cpp
Labels: example

#1061 example boundary2: added image boundary check sample.
  src/examples/Boundary2.cpp
  src/examples/meson.build
Labels: example

#1063 examples: added image scale up/down samples.
  src/examples/ImageScaleDown.cpp
  src/examples/ImageScaleUp.cpp
  src/examples/images/scaledown.png
  src/examples/images/scaleup.png
  src/examples/meson.build
Labels: example

#1068 common shape: fix memory access violation
  src/lib/tvgShapeImpl.h
Labels: bug

#1069 sw_engine raster: remove the condition which is out of the genearal c…
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: optimization

#1072 sw_engine image: code refactoring
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1077 test capiSwCanvas: remove a invalid test case.
  test/capi/capiSwCanvas.cpp
Labels: bug, example, capi

#1078 tvg_saver TvgBinInterpreter: Prevent misaligned memory access
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
Labels: bug

#1076 common paint: fix the wrong fast track logic.
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgPaint.cpp
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
Labels: bug

#1070 sw_engine image: introduced scaled image raster logics.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: optimization

#1080 sw_engine image: code refactoring
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1081 infra stylebot: Delete existing comments
  .github/workflows/cpp_lint_check.sh
Labels: infrastructure

#1084 common: nothing was rendered after an empty masked node came across
  src/lib/tvgPaint.cpp
Labels: bug

#1083 sw_engine image: + scaled rle rgba image
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1085 sw_engine image: refactoring before further development.
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1086 sw_engine image: complete sequeqnce of the direct rgb image drawing.
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1087 sw_engine image: complete sequeqnce of the scaled rgb image drawing.
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1088 sw_engine image: improvement sequeqnce of the transformed rgba image …
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1089 sw_engine image: improvement sequeqnce of the direct rgba rle image d…
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1090 sw_engine image: complete sequeqnce of the scaled rgba rle image draw…
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1091 sw_engine image: improvement sequeqnce of the transformed rle rgba im…
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#1092 sw_engine raster: code refactoring
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterAvx.h
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: refactoring

#1067 sw_engine texmap: introduced texture mapping polygon drawing.
  src/lib/sw_engine/meson.build
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
Labels: enhancement, optimization

#1095 sw_engine texmap: code refactoring.
  src/lib/sw_engine/tvgSwRasterTexmap.h
Labels: optimization, refactoring

#1094 sw_engine: code refactoring
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
Labels: refactoring

#1096 sw_engine raster: code refactoring.
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: refactoring

#1098 sw_engine raster: fix the texmap regression bug.
  src/lib/sw_engine/meson.build
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Labels: bug

#1093 Mgrudzinska/svg loader 2
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: refactoring

#1099 sw_engine texmap: remove unnecessary conditions.
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Labels: optimization

#1101 sw_engine raster: fix the regression bug of the image simple scaling rendering
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#1102 sw_engine SwRaster: Initialize uninitialized local variable
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#1103 sw_engine SwRaster: Explicitly declare type cast to uint32_t
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug
