Repository thorvg/thorvg, pull requests merged in 2021-07, with the labels that each got.

#549 sw_engine: fix broken MSVC compatibility.
  src/lib/sw_engine/tvgSwRle.cpp
Labels: infrastructure

#514 svg_loader: recalculating the default values of grads
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#553 common array: -- sanitizer errors
  src/lib/tvgArray.h
Labels: bug

#554 sw_engine: --sanitizer errors
  src/lib/sw_engine/tvgSwCommon.h
Labels: bug

#560 test scene: revert section usage.
  test/testScene.cpp
Labels: infrastructure

#559 common shape: allow to reset stroke dash.
  inc/thorvg.h
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
Labels: enhancement

#558 test Shape: add Shape unit tests
  test/meson.build
  test/testShape.cpp
Labels: example

#564 common picture: ++ exception case.
  src/lib/tvgPicture.cpp
Labels: bug

#565 infra: ++ strict build test
  .github/workflows/actions.yml
Labels: infrastructure

#562 svg_loader SvgPath: Added corner case handling for flags of Arc
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug, svg

#566 common picture: ++exception case.
  inc/thorvg.h
  src/lib/tvgLoaderMgr.cpp
  src/lib/tvgLoaderMgr.h
  src/lib/tvgPictureImpl.h
Labels: enhancement

#563 test Picture: add Picture unit tests
  test/meson.build
  test/testPicture.cpp
Labels: example

#557 svg_loader: memory leak after improper stop tag
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#556 svg_loader: multiple composition memory leak
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#573 test capi: add Picture unit test
  test/capi/capiPicture.cpp
  test/capi/meson.build
Labels: example

#577 test picture: ++ raw data loading.
  src/lib/tvgPictureImpl.h
  src/loaders/raw/tvgRawLoader.cpp
  test/testPicture.cpp
Labels: example

#578 test capi: code refactoring
  test/capi/capiPaint.cpp
  test/testPicture.cpp
Labels: example, refactoring

#579 test filling: add fill/linear/radial gradients.
  test/meson.build
  test/testFill.cpp
Labels: example

#574 infra: enable capi unit-test in default
  .github/workflows/actions.yml
Labels: infrastructure

#580 sw_engine: stop-opacity value should be interpolated between stops
  src/lib/sw_engine/tvgSwFill.cpp
Labels: bug

#572 svg_loader: fix dead loop on non-digit char in stroke-dasharray
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#510 tvg_loader: change values of flags
  src/lib/tvgBinaryDesc.h
Labels: enhancement, tvg

#570 png_loader: added open from memory
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
Labels: enhancement

#581 svg_loader: Support percentage unit of dash-array
  src/loaders/svg/tvgSvgLoader.cpp
Labels: feature

#569 svg_loader: postpone cloneNode()
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: enhancement, svg

#561 tests capi: Add capi Scene TC
  test/capi/capiScene.cpp
  test/capi/meson.build
Labels: example

#583 test capi: complement scene test cases.
  test/capi/capiScene.cpp
  test/testScene.cpp
Labels: example, refactoring

#585 sw_engine renderer: fix memory leak.
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
Labels: bug

#586 example: PictureJpg.cpp
  src/examples/PictureJpg.cpp
  src/examples/images/logo.jpg
  src/examples/meson.build
Labels: example

#589 jpg_loader JpgLoader: Prevent memory leak
  src/loaders/jpg/tvgJpgLoader.cpp
Labels: bug

#552 example svg: 'image-embeded.svg' added
  src/examples/images/image-embeded.svg
Labels: example

#591 jpg_loader: code refactoring
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
Labels: refactoring

#597 svg_loader SvgLoader: Fix memory leak of duplicate declared id
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#596 svg_loader SvgLoader: Initialize to flag value of SvgParser
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug

#601 svg_loader SvgUtil: Move nullcheck to before use
  src/loaders/svg/tvgSvgUtil.cpp
Labels: bug

#599 svg_loader SvgPath: Skip invalid path
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug

#605 svg_loader: race condition on arc processing
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug, svg

#602 svg_loader: image tag: fixed utf8 decode
  src/loaders/svg/tvgSvgUtil.cpp
Labels: bug, svg

#615 test capi: scene added negative tests
  test/capi/capiScene.cpp
Labels: example

#614 test: svg rendering
  test/testPicture.cpp
Labels: example

#613 github actions: added tvg and jpg loaders
  .github/workflows/actions.yml
Labels: infrastructure

#609 test capi: Stroke Linear Gradient
  test/capi/capiLinearGradient.cpp
Labels: example

#610 test capi: Stroke Radial Gradient
  test/capi/capiRadialGradient.cpp
Labels: example

#608 test capi: added missing canvas, paint and shape tests
  test/capi/capiPaint.cpp
  test/capi/capiShape.cpp
  test/capi/capiSwCanvas.cpp
Labels: example

#612 test: testPicture added .jpg and .png loading tests
  test/testPicture.cpp
Labels: example

#603 svg_loader: image tag: force size equal to the viewbox
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg

#592 jpg_loader: decompress header on opening
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
Labels: enhancement, refactoring

#540 sw_engine: preventing the double application of the opacity
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#625 sw_engine renderer: code refactoring
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: refactoring

#403 common paint: introducing basic iterators functionality
  inc/thorvg.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: feature, tvg

#511 Mgrudzinska/saver iterator based
  inc/thorvg.h
  src/lib/meson.build
  src/lib/tvgBinaryDesc.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgSaver.cpp
  src/lib/tvgSaverImpl.h
Labels: feature, tvg

#626 common: code refactoring
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/tvgCommon.h
  src/lib/tvgLinearGradient.cpp
  src/lib/tvgPicture.cpp
  src/lib/tvgRadialGradient.cpp
  src/lib/tvgSaverImpl.h
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgShape.cpp
Labels: refactoring

#512 tvg_saver: example
  src/examples/Tvg.cpp
Labels: example, tvg

#630 tvg format: code refactoring #7
  src/loaders/tvg/tvgTvgLoadParser.cpp
Labels: refactoring, tvg

#631 tvg format: code refactoring #8
  inc/thorvg.h
  src/lib/tvgCommon.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgSaverImpl.h
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: refactoring

#632 tvg format: code refactoring #9
  src/lib/tvgBinaryDesc.h
  src/lib/tvgSaverImpl.h
  src/loaders/tvg/tvgTvgLoadParser.cpp
Labels: refactoring

#622 svg_loader: allow both clipPath and mask together
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement, svg

#633 tvg format: code refactoring #10
  src/examples/images/test.tvg
  src/lib/tvgBinaryDesc.h
  src/lib/tvgSaverImpl.h
Labels: refactoring

#635 infra: add tvg saver in build test
  .github/workflows/actions.yml
Labels: infrastructure

#638 examples: replace sprintf() with snprintf()
  src/examples/MultiCanvas.cpp
  src/examples/Stress.cpp
  src/examples/Svg.cpp
Labels: example

#642 common: code refactoring.
  src/lib/meson.build
  src/lib/tvgInitializer.cpp
  src/lib/tvgLoadModule.h
  src/lib/tvgLoader.cpp
  src/lib/tvgLoader.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgSaveModule.h
  src/lib/tvgSaver.cpp
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/raw/tvgRawLoader.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
  src/savers/tvg/tvgTvgSaver.cpp
Labels: refactoring

#636 apis: promote beta apis to the official ones.
  inc/thorvg.h
Labels: documentation

#649 svg_loader: code refactoring.
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgXmlParser.cpp
  src/loaders/svg/tvgXmlParser.h
Labels: refactoring

#650 common log: use the log macro to replace the print method easier.
  src/lib/gl_engine/tvgGlCommon.h
  src/lib/gl_engine/tvgGlProgram.cpp
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlShader.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/tvgCommon.h
  src/lib/tvgLoader.cpp
  src/lib/tvgPaint.h
  src/lib/tvgSaver.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/svg/tvgXmlParser.cpp
  src/loaders/tvg/tvgTvgLoadParser.cpp
Labels: enhancement

#651 sw_engine: removed unused rleAlphaMask
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRle.cpp
Labels: optimization

#653 doc: fixed typos in MemPool docs
  inc/thorvg.h
Labels: documentation

#647 tvg_saver: removing saving the default values
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: optimization

#657 tvg_saver: fix the invalid data size.
  src/examples/images/test.tvg
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#658 test paint: add missing Paint utc
  test/meson.build
  test/testPaint.cpp
Labels: example

#659 tools svg2tvg: introduce a new tool for exporting tvg.
  meson_options.txt
  src/bin/meson.build
  src/bin/svg2tvg/meson.build
  src/bin/svg2tvg/svg2tvg.cpp
Labels: tvg

#662 example: add a rendering performance test sample
  src/examples/Performance.cpp
  src/examples/meson.build
Labels: example

#660 common picture: remove viewbox() api.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  test/capi/capiPicture.cpp
Labels: refactoring

#665 common loader: code refactoring.
  src/lib/tvgLoadModule.h
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
Labels: refactoring

#666 common loader: code refactoring
  src/lib/tvgLoadModule.h
  src/lib/tvgPictureImpl.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
Labels: refactoring

#667 sw_engine: flush memory pool after drawing.
  src/lib/sw_engine/tvgSwMemPool.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: optimization

#664 sw_engine common: Added neon version of rasterRGBA32 API.
  meson.build
  meson_options.txt
  src/lib/sw_engine/tvgSwCommon.h
  src/meson.build
Labels: enhancement, optimization

#669 common picture: correct non-working size() behavior.
  inc/thorvg.h
  src/examples/PictureJpg.cpp
  src/examples/PicturePng.cpp
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#668 svg_loader: allow multiple defs tags
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, enhancement, svg

#628 sw_engine Raster: Apply bilinear interpolation to images
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#672 tvg_format: optimize data format
  src/examples/images/test.tvg
  src/loaders/tvg/tvgTvgLoadParser.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: optimization

#673 example Picture: improve the test coverage.
  src/examples/PictureJpg.cpp
  src/examples/PicturePng.cpp
  src/examples/images/logo.jpg
  src/examples/images/logo.png
  src/examples/images/test.jpg
  src/examples/images/test.png
  test/capi/capiPicture.cpp
  test/images/logo.jpg
  test/images/logo.png
  test/images/test.jpg
  test/images/test.png
  test/testPicture.cpp
Labels: example
