Repository thorvg/thorvg, pull requests merged in 2021-09, with the labels that each got.

#764 test SwEngine: raster image functions included into the unit tests
  test/testSwEngine.cpp
Labels: example

#763 test SwEngine: _rasterTranslucentRect added into the tests
  test/testSwEngine.cpp
Labels: example

#769 utc: loading and saving .tvg
  test/images/tag.svg
  test/images/tag.tvg
  test/images/test.tvg
  test/meson.build
  test/testPicture.cpp
  test/testSavers.cpp
Labels: example

#753 sw_engine avx: the not aligned memory separated in the rasterRGBA32 func
  src/lib/sw_engine/tvgSwRasterAvx.h
Labels: optimization

#766 sw_engine: handling clips from outside the rendering region
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgPaint.cpp
Labels: bug

#772 tvg_loader: code refactoring & optimization loading.
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
Labels: optimization, refactoring

#771 tvg_saver: save the missing scene reserve count.
  src/examples/images/test.tvg
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: enhancement

#775 svg_loader: parsing flags in the elliptical arc curve
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug

#780 tvg_saver: fix a wrong logic by mistake.
  src/examples/images/test.tvg
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#781 sw_engine: overlaping stroke cap
  src/lib/sw_engine/tvgSwShape.cpp
Labels: bug

#782 examples tvg: added a new example to verify tvg resources.
  src/examples/Tvg.cpp
  src/examples/images/alphachannel.tvg
  src/examples/images/bojo.tvg
  src/examples/images/bzrfeed.tvg
  src/examples/images/cartman.tvg
  src/examples/images/dst.tvg
  src/examples/images/duke.tvg
  src/examples/images/favorite_on.tvg
  src/examples/images/gallardo.tvg
  src/examples/images/gradient_stroke.tvg
  src/examples/images/heliocentric.tvg
  src/examples/images/ietf.svg.tvg
  src/examples/images/image-embeded.tvg
  src/examples/images/intertwingly.tvg
  src/examples/images/lineargrad1.tvg
  src/examples/images/logo.tvg
  src/examples/images/open-clipart.tvg
  src/examples/images/opensearch.tvg
  src/examples/images/penrose-tiling.tvg
  src/examples/images/radialgrad1.tvg
  src/examples/images/ranze-penguin.tvg
  src/examples/images/rg1024_eggs.tvg
  src/examples/images/samsung-7.tvg
  src/examples/images/samsung-galaxy-s.tvg
  src/examples/images/tiger.tvg
  src/examples/images/yadis.tvg
  src/examples/images/yinyang.tvg
  src/examples/meson.build
Labels: example, tvg

#784 tvg_saver: fix the stroke width scaling factor
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#785 sw_engine image: fix the clipped image issue.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#787 wasm: add force parameter for update() function
  src/wasm/thorvgwasm.cpp
Labels: viewer

#788 api: set default value nullptr for user convenience.
  inc/thorvg.h
  src/examples/AnimateMasking.cpp
  test/testScene.cpp
  test/testSwCanvasBase.cpp
Labels: refactoring

#786 wasm: pass mimetype on loading and store original size
  src/wasm/thorvgwasm.cpp
Labels: viewer

#789 wasm: remove default data
  src/wasm/thorvgwasm.cpp
Labels: viewer

#797 svg_saver: shifting 'preTransform' value changing
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#806 tvg_saver: do not merge if the shapes have outlines.
  src/examples/images/penrose-staircase.tvg
  src/examples/images/test.tvg
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug, tvg

#807 sw_engine: Fixed build errors.
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: bug

#798 tvg_saver: proper serialization of a grad fill
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: bug

#809 tvg_saver: code refactoring
  src/savers/tvg/tvgTvgSaver.cpp
  src/savers/tvg/tvgTvgSaver.h
Labels: refactoring

#808 prepare to release tvg format feature.
  .github/workflows/actions.yml
  meson.build
  meson_options.txt
  src/loaders/meson.build
  src/savers/meson.build
Labels: tvg

#823 svg: fix url property
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: svg

#815 infra: excluding pthread lib dependency on windows os
  src/meson.build
Labels: infrastructure

#818 common: change args type in the internal size() implementation
  src/lib/tvgPictureImpl.h
Labels: bug

#819 sw_engine avx: removing not portable variable type
  src/lib/sw_engine/tvgSwRasterAvx.h
Labels: bug

#663 sw_engine Raster: Improving image quality in image scale down
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement

#833 api: remove the redundant api, Picture::paint().
  inc/thorvg.h
  src/lib/tvgPicture.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
Labels: refactoring

#831 apis: release official apis.
  inc/thorvg.h
Labels: documentation

#834 test: added test for tvg_picture_get_viewbox function
  test/capi/capiPicture.cpp
Labels: example

#841 svg_loader: fixing minor warnings
  inc/thorvg.h
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#847 README: Add license badge
  README.md
Labels: documentation

#846 Updated readme with optional dependencies
  README.md
Labels: documentation
