Repository thorvg/thorvg, pull requests merged in 2021-03, with the labels that each got.

#261 sw_engine fill: fix wrong gradient transformation.
  src/lib/sw_engine/tvgSwFill.cpp
Labels: bug

#269 svgloader: fillRule value passed to the shape
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#263 sw_engine fill: fixing the infinite loop condition
  src/lib/sw_engine/tvgSwFill.cpp
Labels: bug

#270 svgloader: fixing SVG image display when viewBox size is not given
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#271 svgloader: fixing linear gradient transformation
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#273 svg_loader SvgLoader: Fix copy conditions for stop of gradient
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#275 svg_loader SvgPath: Remove unnecessary optimization code for small arc draw
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug

#276 sw_engine shape/image: substituting logical 'and' with 'or'
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwShape.cpp
Labels: bug

#283 example: Duplicate.cpp modified
  src/examples/Duplicate.cpp
Labels: example

#277 svg_loader: limiting the ploted area of svg to viewBox
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#288 common shape: revise Shape::reset() api.
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
Labels: enhancement

#292 loader SvgSceneBuilder: Add root node to clipping viewBox.
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#293 sw_engine rleClipPath: Modify clippath spans creation size.
  src/lib/sw_engine/tvgSwRle.cpp
Labels: bug

#295 sw_engine: optimize rle clipping
  src/lib/sw_engine/tvgSwRle.cpp
Labels: optimization

#299 common shape: Fixed appendArc for negative values.
  src/lib/tvgShape.cpp
Labels: bug

#289 paint: clip was substracted from the array for any composite method
  src/lib/tvgPaint.h
Labels: bug

#301 common picture: fix crash at picture duplication.
  src/examples/Duplicate.cpp
  src/examples/PixelImage.cpp
  src/lib/tvgLoaderMgr.cpp
  src/lib/tvgLoaderMgr.h
  src/lib/tvgPictureImpl.h
Labels: bug

#300 initializer: add reference counting for the engines initialization.
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgInitializer.cpp
Labels: enhancement

#286 svg_loader: applying AlphaMask during scene building
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#297 examples: revise StrokeGradient
  src/examples/GradientStroke.cpp
  src/examples/meson.build
Labels: refactoring

#278 svg_loader: ommiting xml entities in the svg file
  src/loaders/svg/tvgXmlParser.cpp
  src/loaders/svg/tvgXmlParser.h
Labels: bug

#304 common engines: code refactoring
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: refactoring

#305 sw_engine: code refactoring
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwMath.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/sw_engine/tvgSwShape.cpp
Labels: refactoring

#306 common sw_engine: optimize single rectangle ClipPath.
  src/examples/ClipPath.cpp
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwMath.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/tvgPaint.h
  src/lib/tvgRender.h
Labels: optimization

#302 gradients: paint linerar gradients properly with mask composition method
  src/examples/GradientMasking.cpp
  src/examples/meson.build
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: enhancement
