Repository thorvg/thorvg, pull requests merged in 2022-12, with the labels that each got.

#1286 docs : Add vcpkg Installation Document
  README.md
Labels: documentation

#1287 examples TvgSaver: code refactoring.
  src/examples/TvgSaver.cpp
Labels: refactoring

#1289 saver/loader tvg: support picture mesh properties.
  src/examples/images/test.tvg
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: enhancement, tvg

#1291 svg_loader: Change SVG viewbox variable type from int to float
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug

#1293 examples: fixing building errors on macOS
  src/examples/MultiCanvas.cpp
  src/examples/Svg.cpp
  src/examples/Tvg.cpp
Labels: bug

#1292 common Util: Skip if there is a space after the dot
  src/loaders/svg/tvgSvgUtil.cpp
Labels: bug

#1297 paint: fastTrack should return false for the skew transformations
  src/lib/tvgMath.h
  src/lib/tvgPaint.cpp
Labels: bug
