Repository thorvg/thorvg, pull requests merged in 2022-01, with the labels that each got.

#1128 svg_loader: composite node splitted on mask and clip nodes
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: refactoring

#1132 sw_engine SwRaster: Initialize uninitialized transform value
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#1133 sw_engine raster: fix a regression bug.
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#1134 svg_loader: ++robustness
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1130 svg_loader: mask-type attribute introduced
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement

#1139 svg_loader: preventing memory leak
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1137 svg_loader: fix grad update
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1140 svg_loader: removing repeated lines
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring

#1136 svg_loader: the color attribute properly inherited
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1141 svg_loader: changed the order of if conditions
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug

#1129 svg_loader: postponed nodes properly cloned
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1150 svg_loader: fixing memleak
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1145 sw_engine: fixed declaration of 'i' shadows a previous local
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: infrastructure

#1146 sw_engine: fix comparison of integer expressions of different signedness
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: infrastructure

#1152 svg_loader: fixing cyclic cloning of nodes
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1154 svg_loader: preventing memcpy from a nullptr
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1163 svg_loader: memleak prevention
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1157 gl_engine GlRenderer: Fix build error
  src/lib/gl_engine/tvgGlRenderer.cpp
Labels: bug

#1158 tvg_loader: Convert tvgJpgd.h EOL to LF
  src/loaders/jpg/tvgJpgd.h
Labels: refactoring

#1159 build: Add missing <cstring> includes for MinGW compatibility
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/svg/tvgSvgUtil.cpp
  src/loaders/svg/tvgXmlParser.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: infrastructure

#1165 svg_loader: group tags misinterpreted as parent nodes
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1168 svg_loader: ++robustness
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1170 sw_engine: float casted on the unsigned int type
  src/lib/sw_engine/tvgSwImage.cpp
Labels: portability

#1171 examples: terminate the same engine as was initialized
  src/examples/AnimateMasking.cpp
  src/examples/GradientMasking.cpp
  src/examples/GradientStroke.cpp
  src/examples/InvMasking.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/MultiCanvas.cpp
  src/examples/PictureJpg.cpp
  src/examples/PicturePng.cpp
  src/examples/PictureRaw.cpp
  src/examples/Stress.cpp
  src/examples/Svg.cpp
  src/examples/Svg2.cpp
  src/examples/Tvg.cpp
Labels: bug

#1169 portability: fixing windows warnings
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
  src/lib/tvgMath.h
Labels: portability

#1173 loaders jpg: fix all memory leaks.
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgd.cpp
Labels: bug

#1174 loader png: fix all memory leaks.
  src/loaders/png/tvgPngLoader.cpp
Labels: bug
