Repository thorvg/thorvg, pull requests merged in 2022-09, with the labels that each got.

#1268 svg_loader: prevent stack-overflow for nested nodes
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#1266 svg_loader: deeper search for postponed nodes
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1249 svg_loader: preserveAspectRatio attrib handled according to the svg standard
  src/lib/tvgLoadModule.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.h
Labels: bug, enhancement, svg

#1269 examples: Added Texmap
  src/examples/Texmap.cpp
  src/examples/meson.build
Labels: example

#1271 wasm: Update size calculation logic
  src/wasm/thorvgwasm.cpp
Labels: infrastructure

#1270 wasm: add -flto option
  wasm_cross.txt
Labels: infrastructure
