Repository thorvg/thorvg, pull requests merged in 2022-02, with the labels that each got.

#1175 example: cssStyle.svg add
  src/examples/images/cssStyle.svg
Labels: example

#1187 svg_loader: code refactoring.
  src/loaders/svg/tvgSvgCssStyle.cpp
  src/loaders/svg/tvgSvgCssStyle.h
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring

#1179 svg_loader: fixing the used mask-type
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#1185 svg_loader: proper image transformation
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#1189 svg_loader: preventing invalid log msg
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1190 infra: Disable unit test in window CI
  .github/workflows/build_win.yml
Labels: infrastructure

#1188 svg_loader: fixing memory leak
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug

#1191 jpeg_loader: resolve the asan bug report.
  src/loaders/jpg/tvgJpgd.cpp
Labels: bug

#1194 svg_loader: handle the exception properly.
  src/loaders/svg/tvgSvgLoader.cpp
Labels: loaders
