Repository thorvg/thorvg, pull requests merged in 2022-08, with the labels that each got.

#1231 loaders raw: fix a compiler warnings on Windows.
  src/loaders/raw/tvgRawLoader.cpp
Labels: bug

#1233 Windows: use _fullpath() instead of fullpath().
  src/bin/svg2png/svg2png.cpp
  src/bin/svg2tvg/svg2tvg.cpp
Labels: portability

#1237 sw_engine: Fix uninitialized variable
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Labels: refactoring

#1235 Windows: set TVG_EXPORT to dllexport also for mingw
  inc/thorvg.h
Labels: portability

#1240 Fix compiler warnings on windows
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgd.cpp
  src/loaders/png/tvgPngLoader.cpp
  test/testScene.cpp
  test/testSwCanvas.cpp
  test/testSwCanvasBase.cpp
Labels: refactoring

#1246 fix compilation of svg2png on Windows
  src/bin/svg2png/svg2png.cpp
Labels: portability

#1260 svg_loader: only the first css style node is interpreted
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1259 svg_loader: fill and stroke paiint url were copied twice
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1263 svg_loader: prevent mem leaks
  src/loaders/svg/tvgSvgCssStyle.cpp
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug
