Repository thorvg/thorvg, pull requests merged in 2022-05, with the labels that each got.

#1219 svg_loader: Fix invaild '<' nested check
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug

#1220 svg2png: Add more error message types
  src/bin/svg2png/svg2png.cpp
Labels: enhancement

#1223 Fix alloca on FreeBSD
  src/loaders/svg/tvgXmlParser.cpp
Labels: portability

#1224 fix FreeBSD compile issue.
  src/lib/sw_engine/tvgSwRaster.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: portability

#1225 Fix building with GCC 13.
  src/lib/tvgLzw.h
Labels: portability

#1227 Cleanup FreeBSD preprocessor checks (if vs ifdef)
  src/lib/sw_engine/tvgSwRaster.cpp
  src/loaders/svg/tvgXmlParser.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: refactoring
