Repository thorvg/thorvg, pull requests merged in 2023-10, with the labels that each got.

#1667 gl_engine: support render image
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlProgram.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.h
Labels: enhancement, gl

#1685 sw_engine/stroke: Enhance the quality of the dash line corners.
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwShape.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: enhancement, sw

#1689 Lottie: Fixed handling of multiple strokes in one layer.
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#1692 infra: add android CI build test with necessary cross build config.
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  cross/android_aarch64.txt
  cross/android_x86_64.txt
  src/meson.build
Labels: infrastructure

#1696 loader/svg: Fix maskContentUnits userSpaceOnUse/objectBoundingBox
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg, showstopper

#1695 gl_engine: use glScissor to support fast clip
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
Labels: enhancement, gl

#1700 examples: allow gl test
  src/examples/Animation.cpp
  src/examples/Lottie.cpp
Labels: example

#1699 examples: add svg samples.
  src/examples/images/masking.svg
  src/examples/images/multipath+matrix.svg
Labels: example

#1701 lottie/builder: fix a regression bug.
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#1703 Improve README Image Responsiveness
  README.md
Labels: documentation

#1697 wg_engine: introduce webgpu canvas
  inc/thorvg.h
  meson.build
  meson_options.txt
  src/renderer/meson.build
  src/renderer/tvgInitializer.cpp
  src/renderer/tvgWgCanvas.cpp
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: feature, wgpu

#1706 loader/jpg: Fix a regression bug.
  src/loaders/jpg/tvgJpgd.cpp
Labels: bug, showstopper, jpg

#1702 renderer/initializer: Support for initializing SW and GL engines together
  src/renderer/tvgInitializer.cpp
Labels: enhancement

#1707 lottie: enhancement feature support
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#1713 capi: introduce missing blend functions in capi bindings
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Labels: APIs

#1711 api: enhance the API usage.
  inc/thorvg.h
  src/bindings/wasm/tvgWasm.cpp
  src/examples/Animation.cpp
  src/examples/Lottie.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: APIs

#1714 Enhance the performance
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwMath.cpp
Labels: optimization

#1704 gl_engine: support basic alpha composite
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
Labels: enhancement, gl

#1720 gl_engine: fix a compiler warning.
  src/renderer/gl_engine/tvgGlRenderPass.cpp
Labels: portability, gl

#1718 performance fine-tuning
  src/renderer/sw_engine/tvgSwMath.cpp
Labels: optimization

#1721 sw_engine raster: fixed a default alpha blending bug.
  src/renderer/sw_engine/tvgSwRasterC.h
Labels: bug, sw

#1709 wg_engine: introduce ability to draw multiple solid color filled shapes.
  src/renderer/tvgWgCanvas.cpp
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelineBase.cpp
  src/renderer/wg_engine/tvgWgPipelineBase.h
  src/renderer/wg_engine/tvgWgPipelineEmpty.cpp
  src/renderer/wg_engine/tvgWgPipelineEmpty.h
  src/renderer/wg_engine/tvgWgPipelineSolid.cpp
  src/renderer/wg_engine/tvgWgPipelineSolid.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: feature, wgpu

#1724 sw_engine/raster: optimized the scaled image rasterization
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: optimization, sw

#1727 examples/lottie: added more show cases
  src/examples/Lottie.cpp
  src/examples/images/cat_loader.json
  src/examples/images/driving.json
  src/examples/images/dropball.json
  src/examples/images/fiery_skull.json
  src/examples/images/fly_in_beaker.json
  src/examples/images/isometric.json
  src/examples/images/radar.json
  src/examples/images/sad_emoji.json
  src/examples/images/uk_flag.json
  src/examples/images/yesno.json
Labels: example

#1726 gl_engine: use raw pointer to pass and hold GlRenderTask
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: enhancement, gl

#1731 animation/lottie: updated the frame count unit.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/bindings/wasm/tvgWasm.cpp
  src/examples/Animation.cpp
  src/examples/Capi.cpp
  src/examples/Lottie.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/renderer/tvgAnimation.cpp
  src/renderer/tvgFrameModule.h
  test/capi/capiAnimation.cpp
  test/testAnimation.cpp
Labels: enhancement, lottie

#1735 renderer/shape: enable returning count values only
  src/renderer/tvgShape.cpp
Labels: enhancement

#1738 renderer: revise the internal paints structure.
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgRender.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgScene.cpp
  src/renderer/tvgScene.h
  src/renderer/tvgShape.cpp
Labels: refactoring, optimization

#1736 renamed stroke apis family.
  inc/thorvg.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/AnimateMasking.cpp
  src/examples/Arc.cpp
  src/examples/ClipPath.cpp
  src/examples/CustomTransform.cpp
  src/examples/DirectUpdate.cpp
  src/examples/Duplicate.cpp
  src/examples/GradientStroke.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/Opacity.cpp
  src/examples/Retaining.cpp
  src/examples/SceneBlending.cpp
  src/examples/SceneClipper.cpp
  src/examples/SceneTransform.cpp
  src/examples/Stroke.cpp
  src/examples/StrokeLine.cpp
  src/examples/StrokeMiterlimit.cpp
  src/examples/TvgSaver.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
  src/savers/tvg/tvgTvgSaver.cpp
  test/testShape.cpp
  test/testSwEngine.cpp
Labels: refactoring, APIs

#1740 lottie: fixed all memory access violations.
  src/loaders/lottie/tvgLottieModel.cpp
Labels: bug

#1741 portability: addressed all compilation warnings from MSVC
  src/loaders/lottie/tvgLottieModel.h
  src/renderer/sw_engine/tvgSwMath.cpp
Labels: portability

#1743 common: stroke dash offset support with new apis.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/Capi.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/tvgShape.cpp
  src/savers/tvg/tvgTvgSaver.cpp
  test/capi/capiShape.cpp
  test/testShape.cpp
Labels: feature, refactoring, APIs

#1745 wasm: fix a regression bug.
  inc/thorvg.h
  src/bindings/wasm/tvgWasm.cpp
Labels: bug, wasm

#1746 renderer/scene: ++safety
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
Labels: enhancement
