Repository thorvg/thorvg, pull requests merged in 2023-01, with the labels that each got.

#1298 scene: fixing nested masking
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
Labels: bug

#1299 examples: keep aspect ratio of svg images.
  src/examples/MultiCanvas.cpp
  src/examples/Stress.cpp
Labels: example

#1300 examples: fixing the crash for disabled loaders
  src/examples/ImageScaleDown.cpp
  src/examples/ImageScaleUp.cpp
Labels: example

#1302 svg_loader: fixing name
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring

#1303 all: Trailing spaces removed
  CONTRIBUTING.md
  README.md
  inc/thorvg.h
  src/bin/svg2tvg/svg2tvg.cpp
  src/examples/TvgSaver.cpp
  src/examples/all.sh
  src/lib/gl_engine/tvgGlGeometry.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRasterNeon.h
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/tvgBezier.cpp
  src/lib/tvgBinaryDesc.h
  src/lib/tvgLzw.cpp
  src/lib/tvgMath.h
  src/lib/tvgPictureImpl.h
  src/loaders/jpg/tvgJpgd.cpp
  src/loaders/png/tvgLodePng.cpp
  test/capi/capiFill.cpp
  test/testAccessor.cpp
Labels: refactoring

#1301 svg_loader: fixing crash for to big buffer
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug

#1308 svg_loader: overwrite the clip's opacity/alpha
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#1313 example: correct clipper usage.
  src/examples/PictureRaw.cpp
Labels: example

#1312 svg loader: correct clipper usage.
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: refactoring

#1314 doc: updated the header description.
  inc/thorvg.h
Labels: documentation

#1317 infra: Disable cpp lint checker
  .github/workflows/actions_cpplint.yml
Labels: infrastructure
