Repository thorvg/thorvg, pull requests merged in 2023-03, with the labels that each got.

#1328 sw_engine - ++safety
  src/lib/sw_engine/tvgSwRasterTexmap.h
Labels: refactoring

#1333 svg_loader: invalid strokes' width set to zero
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#1337 sw_engine: fix safety check
  src/lib/sw_engine/tvgSwRasterTexmap.h
Labels: bug

#1339 external_jpg_loader: Fix crash when loader is reloaded
  src/loaders/external_jpg/tvgJpgLoader.cpp
Labels: bug

#1338 svg_loader: forcing file loading completion
  src/loaders/svg/tvgSvgLoader.cpp
Labels: enhancement
