Repository thorvg/thorvg, pull requests merged in 2023-06, with the labels that each got.

#1477 doc: ++Colorspace description
  inc/thorvg.h
Labels: documentation

#1482 Fix clang compiler warnings in unit tests.
  test/testAccessor.cpp
  test/testFill.cpp
  test/testPaint.cpp
  test/testPicture.cpp
  test/testSavers.cpp
  test/testScene.cpp
  test/testSwCanvasBase.cpp
  test/testSwEngine.cpp
Labels: portability

#1483 introduce paints() apis that returns the list of paints
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/Blending.cpp
  src/examples/Capi.cpp
  src/examples/ClipPath.cpp
  src/examples/Duplicate.cpp
  src/examples/LinearGradient.cpp
  src/examples/MultiShapes.cpp
  src/examples/Opacity.cpp
  src/examples/RadialGradient.cpp
  src/examples/Scene.cpp
  src/examples/SceneTransform.cpp
  src/examples/Stacking.cpp
  src/lib/tvgCanvas.cpp
  src/lib/tvgCanvasImpl.h
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgSwCanvas.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  test/capi/capiScene.cpp
  test/capi/capiSwCanvas.cpp
  test/testScene.cpp
  test/testSwCanvasBase.cpp
Labels: feature

#1484 infra github: keep the loader tries load all.
  .github/workflows/build_linux.yml
Labels: infrastructure

#1485 api: -- a redundant util func.
  inc/thorvg.h
Labels: refactoring

#1489 api: enhance API usability
  inc/thorvg.h
  src/examples/AnimateMasking.cpp
  src/examples/Async.cpp
  src/examples/ClipPath.cpp
  src/examples/DirectUpdate.cpp
  src/examples/Duplicate.cpp
  src/examples/GradientMasking.cpp
  src/examples/GradientTransform.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LinearGradient.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/MaskingMethods.cpp
  src/examples/PicturePng.cpp
  src/examples/PictureRaw.cpp
  src/examples/PictureWebp.cpp
  src/examples/RadialGradient.cpp
  src/examples/Shape.cpp
  src/examples/Stress.cpp
  src/examples/Stroke.cpp
  src/examples/StrokeLine.cpp
  src/examples/Svg.cpp
  src/examples/Svg2.cpp
  src/examples/Texmap.cpp
  src/examples/Transform.cpp
  src/examples/Tvg.cpp
  src/examples/Update.cpp
  test/testSwCanvasBase.cpp
  test/testSwEngine.cpp
Labels: refactoring

#1491 tvg: recover the broken compatibility.
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug, tvg

#1492 tvg: support stroke miterlimit property.
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: enhancement, tvg

#1494 test: ++coverage of Canvas::paints(), Scene::paints()
  test/images/tag.tvg
  test/images/test.tvg
  test/testScene.cpp
  test/testSwCanvasBase.cpp
Labels: test

#1495 common: optimize paint data size.
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgFill.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgShapeImpl.h
Labels: optimization

#1497 doc: update the CompositeMethod.
  inc/thorvg.h
Labels: documentation

#1498 common engines: optimizing data packing for compactness.
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/tvgCanvasImpl.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: refactoring, optimization

#1502 sw_engine: optimize code.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterAvx.h
  src/lib/sw_engine/tvgSwRasterNeon.h
  src/lib/sw_engine/tvgSwRasterTexmap.h
Labels: refactoring, optimization

#1503 example stack: updated sample.
  src/examples/Stacking.cpp
Labels: example

#1507 common array: ++enhance the usability.
  src/lib/tvgArray.h
  src/savers/tvg/tvgTvgSaver.cpp
Labels: refactoring

#1508 common array: ++enhance the usability.
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgArray.h
  src/savers/tvg/tvgTvgSaver.cpp
  src/wasm/thorvgwasm.cpp
Labels: refactoring

#1511 common array: revise the interface.
  src/lib/tvgArray.h
  src/savers/tvg/tvgTvgSaver.cpp
Labels: refactoring

#1512 tvgArray: return a const reference for const methods
  src/lib/tvgArray.h
Labels: refactoring
