Repository thorvg/thorvg, pull requests merged in 2023-12, with the labels that each got.

#1814 thorvg: Godot CI compilation issue fixed
  src/renderer/tvgPaint.h
Labels: portability

#1818 loader/jpg: Fix warning
  src/loaders/jpg/tvgJpgd.cpp
Labels: portability

#1820 lottie/builder: fix crash by null reference
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug

#1823 renderer/loader: optimization++
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/loaders/tvg/tvgTvgCommon.h
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgPicture.cpp
Labels: optimization

#1825 renderer/shape: Apply the magic number kappa to achieve rounded corners.
  src/renderer/tvgShape.cpp
Labels: bug

#1828 renderer/scheduler: --binary size by 2.2kb
  src/renderer/tvgTaskScheduler.cpp
  src/renderer/tvgTaskScheduler.h
Labels: optimization

#1829 common/array: code refactoring.
  src/common/tvgArray.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/tvgScene.h
  src/savers/tvg/tvgTvgSaver.cpp
Labels: refactoring

#1831 include missing headers for strcmp(), strdup() and realloc()
  src/common/tvgArray.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/savers/gif/tvgGifSaver.cpp
Labels: portability

#1838 Update CODEOWNERS
  CODEOWNERS
Labels: infrastructure

#1835 doc: added thorvg-gpt badge (link)
  README.md
Labels: documentation

#1839 common: clean up the code.
  src/loaders/external_jpg/tvgJpgLoader.h
  src/loaders/external_png/tvgPngLoader.h
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/png/tvgPngLoader.h
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/tvg/tvgTvgLoader.h
  src/renderer/tvgPicture.cpp
Labels: refactoring

#1840 renderer/picture: fixed a regression
  src/renderer/tvgPicture.cpp
Labels: bug

#1833 wg_engine: pipelines and bind groups refactoring
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelineBase.cpp
  src/renderer/wg_engine/tvgWgPipelineBase.h
  src/renderer/wg_engine/tvgWgPipelineEmpty.cpp
  src/renderer/wg_engine/tvgWgPipelineEmpty.h
  src/renderer/wg_engine/tvgWgPipelineImage.cpp
  src/renderer/wg_engine/tvgWgPipelineImage.h
  src/renderer/wg_engine/tvgWgPipelineLinear.cpp
  src/renderer/wg_engine/tvgWgPipelineLinear.h
  src/renderer/wg_engine/tvgWgPipelineRadial.cpp
  src/renderer/wg_engine/tvgWgPipelineRadial.h
  src/renderer/wg_engine/tvgWgPipelineSolid.cpp
  src/renderer/wg_engine/tvgWgPipelineSolid.h
  src/renderer/wg_engine/tvgWgPipelineStroke.cpp
  src/renderer/wg_engine/tvgWgPipelineStroke.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring, raster

#1842 doc: polish up the doxygen.
  inc/thorvg.h
Labels: documentation

#1832 gl_engine: optimize framebuffer creation and save some runtime memory
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
Labels: optimization, raster

#1846 renderer: minor optimization.
  src/renderer/tvgPicture.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
Labels: refactoring, optimization

#1847 gl_engine: fix wrong scissor value cause content not fully rendered
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#1845 wg_engine: refactor render targets handling
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, raster

#1849 wg_engine: refactor context handles
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, raster

#1850 loader/svg: Do not draw shapes with invalid path information
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: svg

#1852 Welcome to our new official ThorVG developer.
  CODEOWNERS
  CONTRIBUTING.md
Labels: documentation

#1853 loader/svg: optimize the path conversion.
  src/loaders/svg/tvgSvgPath.cpp
  src/loaders/svg/tvgSvgPath.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: svg, optimization

#1855 wg_engine: Added shape opacity value usage
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: feature, raster

#1857 wg_engine: shape bbox based rendering (optimization)
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: optimization, raster

#1859 sw_engine/fill: fix a linear filling scaling issue.
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: bug, raster

#1860 doc: updated the guide.
  README.md
  res/example_flow.png
  res/example_primitives.png
  res/example_structure.png
  res/example_tvgmodule.png
Labels: documentation

#1854 gl_engine: fix svg gradient position not correct
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: enhancement, raster

#1864 doc: remove unnecessary doxy guide.
  inc/thorvg.h
Labels: documentation

#1865 api: promote to official APIs.
  inc/thorvg.h
Labels: APIs

#1867 gl_engine: fix a compiler warning.
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: portability, raster

#1872 text/ttf: fixed all memory violations.
  src/loaders/ttf/tvgTtfLoader.cpp
  src/renderer/tvgText.h
Labels: bug

#1873 Revert "svg: removed an unnecessary nested scene."
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg

#1876 renderer/loader: code refactoring.
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_jpg/tvgJpgLoader.h
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/external_png/tvgPngLoader.h
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/raw/tvgRawLoader.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgPicture.cpp
Labels: refactoring, optimization

#1877 lottie: resolve a thread sanitizer report.
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: bug

#1879 svg: ensure that all allocated memory.
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#1878 renderer: enhanced shared surface handling with mutex implementation
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_jpg/tvgJpgLoader.h
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/external_png/tvgPngLoader.h
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/raw/tvgRawLoader.h
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgLoadModule.h
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.h
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: bug

#1880 examples: ++safety.
  src/examples/AnimateMasking.cpp
  src/examples/Animation.cpp
  src/examples/CustomTransform.cpp
  src/examples/DirectUpdate.cpp
  src/examples/ImageScaleDown.cpp
  src/examples/ImageScaleUp.cpp
  src/examples/Performance.cpp
  src/examples/Retaining.cpp
  src/examples/SceneTransform.cpp
  src/examples/Transform.cpp
  src/examples/Update.cpp
Labels: example
