Repository thorvg/thorvg, pull requests merged in 2023-11, with the labels that each got.

#1751 examples: Support mac os to execute all
  src/examples/all.sh
Labels: enhancement, example

#1756 loaders/png: fixed data conversion warnings on Windows
  src/loaders/external_png/tvgPngLoader.cpp
Labels: portability

#1757 gl_engine: fix memory out of bounds error in GlGpuBuffer
  src/renderer/gl_engine/tvgGlGpuBuffer.cpp
  src/renderer/gl_engine/tvgGlGpuBuffer.h
Labels: bug, raster

#1755 docs: Remove all warnings from doxygen
  docs/Doxyfile
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#1760 tools/lottie2gif: introduce a new converter tool.
  meson.build
  meson_options.txt
  src/tools/lottie2gif/lottie2gif.cpp
  src/tools/lottie2gif/meson.build
  src/tools/meson.build
Labels: tools

#1766 example: renamed a sample, Svg2 -> DataLoad
  src/examples/DataLoad.cpp
  src/examples/meson.build
Labels: example

#1768 picture: added ability to support premultiplied for picture raw loader
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/Blending.cpp
  src/examples/Duplicate.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/MaskingMethods.cpp
  src/examples/PictureRaw.cpp
  src/examples/Texmap.cpp
  src/examples/TvgSaver.cpp
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/raw/tvgRawLoader.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/renderer/tvgLoadModule.h
  src/renderer/tvgLoader.cpp
  src/renderer/tvgLoader.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  test/capi/capiPicture.cpp
  test/testPicture.cpp
  test/testSavers.cpp
  test/testSwEngine.cpp
Labels: enhancement

#1770 capi: udpated the doc.
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#1771 doc: make it up missing parameter information.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#1772 renderer/loader: code refactoring
  src/loaders/raw/tvgRawLoader.h
  src/renderer/tvgLoadModule.h
Labels: refactoring

#1774 lottie/loader: Corrected an issue with the return value when loading …
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: bug, Lottie

#1777 lottie/builder: Fix a broken animation
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: bug, Lottie

#1776 sw_engine: ++null safety
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: refactoring

#1780 examples: show users the best practice usage.
  src/examples/Animation.cpp
  src/examples/Lottie.cpp
Labels: example

#1781 lottie/parser: ++ blending options
  src/loaders/lottie/tvgLottieParser.cpp
Labels: Lottie

#1787 infra: fix macos build crash
  .github/workflows/build_macos.yml
Labels: bug, infrastructure

#1778 sw_engine: Clear buffer at the proper time.
  src/examples/ImageScaleDown.cpp
  src/examples/ImageScaleUp.cpp
  src/examples/Performance.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgCanvas.h
  test/capi/capiSwCanvas.cpp
  test/testSwCanvasBase.cpp
Labels: enhancement, raster

#1789 gl_engine/renderer: skip sync if nothing should be done.
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: raster

#1786 support transparent gif
  src/savers/gif/gif.h
  src/savers/gif/tvgGifSaver.cpp
  src/tools/lottie2gif/lottie2gif.cpp
Labels: tools, Image

#1791 infra: fix git-action ios break
  .github/workflows/build_ios.yml
  .github/workflows/build_macos.yml
Labels: infrastructure

#1788 lottie/parser: Fix the shapes parsing logic.
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, Lottie

#1795 examples: fixed manual loading of binary data (jpg, png, raw ect)
  src/examples/Blending.cpp
  src/examples/Duplicate.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/MaskingMethods.cpp
  src/examples/PictureJpg.cpp
  src/examples/PicturePng.cpp
  src/examples/PictureRaw.cpp
  src/examples/PictureWebp.cpp
  src/examples/Texmap.cpp
  src/examples/TvgSaver.cpp
Labels: portability

#1797 webgpu: add support for textures color space formats
  src/renderer/wg_engine/tvgWgPipelineImage.cpp
  src/renderer/wg_engine/tvgWgPipelineImage.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: Image

#1798 apis/engines: Revise the clear() buffer behavior.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/Capi.cpp
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/tvgCanvas.cpp
  src/renderer/tvgCanvas.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  test/capi/capiSwCanvas.cpp
  test/images/tag.tvg
  test/testSwCanvasBase.cpp
Labels: APIs, raster

#1799 lottie/builder: hotfix, invalid stroking scaling.
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug

#1800 Lottie/builder: Fix a regression bug related to matte masking.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: bug

#1801 renderer: code refactoring.
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_jpg/tvgJpgLoader.h
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/external_png/tvgPngLoader.h
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/renderer/tvgCanvas.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
Labels: refactoring

#1803 lottie/builder: corrected polystar rotation.
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, Lottie

#1807 api: updated the recent changed api again.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/DataLoad.cpp
  src/examples/PictureJpg.cpp
  src/examples/PicturePng.cpp
  src/examples/PictureWebp.cpp
  src/examples/StrokeMiterlimit.cpp
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_jpg/tvgJpgLoader.h
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/external_png/tvgPngLoader.h
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgLoader.cpp
  src/renderer/tvgLoader.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  test/capi/capiPicture.cpp
  test/testPicture.cpp
Labels: refactoring, portability, APIs

#1805 Loaders: Introduced a loader cache.
  src/common/tvgInlist.h
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_jpg/tvgJpgLoader.h
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/external_png/tvgPngLoader.h
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/raw/tvgRawLoader.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
  src/renderer/tvgAnimation.cpp
  src/renderer/tvgFrameModule.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgLoader.cpp
  src/renderer/tvgLoader.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
Labels: enhancement, optimization

#1810 lottie/builder: revert the clipper cache.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, Lottie

#1806 gl_engine: support advance compose method
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.h
Labels: enhancement, raster
