Repository thorvg/thorvg, pull requests merged in 2023-04, with the labels that each got.

#1343 picture: remove unnecessary reloads
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
Labels: enhancement

#1344 svg_loader: fixing viewbox width/height
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#1345 examples: preventing undef behavior
  src/examples/ImageScaleDown.cpp
  src/examples/ImageScaleUp.cpp
Labels: bug

#1348 test: fix broken plugin support.
  test/capi/capiFill.cpp
  test/capi/capiInitializer.cpp
  test/capi/capiLinearGradient.cpp
  test/capi/capiPaint.cpp
  test/capi/capiPicture.cpp
  test/capi/capiRadialGradient.cpp
  test/capi/capiSavers.cpp
  test/capi/capiScene.cpp
  test/capi/capiShape.cpp
  test/capi/capiSwCanvas.cpp
  test/images/rawimage_250x375.raw
  test/testAccessor.cpp
  test/testFill.cpp
  test/testInitializer.cpp
  test/testPaint.cpp
  test/testPicture.cpp
  test/testSavers.cpp
  test/testScene.cpp
  test/testShape.cpp
  test/testSwCanvas.cpp
  test/testSwCanvasBase.cpp
  test/testSwEngine.cpp
Labels: infrastructure

#1349 test capi: ++coverage
  test/capi/capiPicture.cpp
Labels: example

#1347 sw_engine: fix the inproper stroke raster.
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: bug

#1350 infra - add 'all' option for savers.
  meson.build
  meson_options.txt
  src/savers/meson.build
Labels: infrastructure

#1352 common: code refactoring for the IteractorAccessor.
  src/lib/tvgAccessor.cpp
  src/lib/tvgIteratorAccessor.h
  src/lib/tvgSaveModule.h
  src/savers/tvg/tvgTvgSaver.cpp
  src/wasm/thorvgwasm.cpp
Labels: refactoring

#1353 common taskscheduler: increase thread efficiency.
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgTaskScheduler.cpp
  src/lib/tvgTaskScheduler.h
Labels: optimization

#1359 common taskscheduler: warning removed
  src/lib/tvgTaskScheduler.h
Labels: portability

#1358 common: log msg modified
  src/lib/tvgCommon.h
Labels: enhancement

#1360 infra github: apply codeql
  .github/workflows/codeql.yml
Labels: infrastructure

#1361 infra github: updated script
  .github/workflows/actions.yml
  .github/workflows/build_win.yml
  .github/workflows/memcheck_asan.sh
Labels: infrastructure

#1362 infra github: bump up version
  .github/workflows/actions.yml
  .github/workflows/actions_cpplint.yml
  .github/workflows/build_win.yml
Labels: infrastructure

#1364 infra github: ++minor changes.
  .github/workflows/actions.yml
  .github/workflows/codeql.yml
Labels: infrastructure

#1363 common: enhancement++ of the logging method
  src/lib/tvgCommon.h
Labels: enhancement

#1365 common: adding [E]/[L] markers to errors/logs
  src/lib/tvgCommon.h
Labels: enhancement

#1356 svg_loader: gradient inheritance implemented
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: enhancement

#1369 svg_loader: fixing parsing empty tags
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1375 svg_loader: fix vx and vy
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#1376 svg_loader: fixing clipper transformation
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug

#1379 tools svg2tvg: ++Windows port
  src/bin/svg2tvg/svg2tvg.cpp
Labels: portability

#1384 Make it silent MSVC's trivial compilation warnings.
  src/bin/svg2png/svg2png.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/raw/tvgRawLoader.cpp
Labels: portability

#1386 tests: fixing error on windows (mingw-64)
  test/capi/capiLinearGradient.cpp
  test/capi/capiRadialGradient.cpp
Labels: portability

#1391 tests capi: missing header added
  test/capi/capiSwCanvas.cpp
Labels: test

#1394 svg_loader: fixing 'infinity' handling in svgUtilStrtof
  src/loaders/svg/tvgSvgUtil.cpp
Labels: bug

#1393 tests: ++coverage of the svg_loader
  test/images/tag.svg
  test/images/tag.tvg
Labels: test

#1396 svg_loader: changed update order
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1392 capi: type identifier apis added
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Labels: capi

#1390 svg_loader: removing setting the locale
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug, portability

#1399 common: polished the log message.
  src/lib/tvgCommon.h
Labels: refactoring

#1398 svg_loader: fixing grad overriding
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1395 svg_loader: removed unused code
  src/loaders/svg/tvgSvgCssStyle.cpp
Labels: refactoring

#1388 Poc Regression finder
  .github/workflows/regression.yml
  .github/workflows/regression_check.sh
  .gitignore
  test/regression/settings.toml
Labels: infrastructure

#1403 Code refactoring
  inc/thorvg.h
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwImage.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/sw_engine/tvgSwRenderer.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
Labels: refactoring

#1407 tvg_saver: fixing file opening mode
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug

#1408 engine/loaders: Migrate alpha premultiplying to the engine side.
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/raw/tvgRawLoader.cpp
Labels: refactoring
