Repository thorvg/thorvg, pull requests merged in 2023-05, with the labels that each got.

#1412 svg_loader: handling svg width/height in percentages
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: svg

#1415 common: fixing log std stream
  src/lib/tvgCommon.h
Labels: portability

#1416 svg_loader: fixing percent. calculations of width/height
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1417 svg2png: changing image size
  src/bin/svg2png/svg2png.cpp
Labels: bug

#1418 tests: capi identifier tests added
  test/capi/capiLinearGradient.cpp
  test/capi/capiPaint.cpp
  test/capi/capiPicture.cpp
  test/capi/capiRadialGradient.cpp
  test/capi/capiScene.cpp
  test/capi/capiShape.cpp
Labels: test

#1419 common taskscheduler: revert - 4db25db962c6cdf311012ffb94fc4a67e1d58f24
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgTaskScheduler.h
Labels: bug

#1421 svg2png: rounding up svg width and height
  src/bin/svg2png/svg2png.cpp
Labels: tools

#1422 canvas: ++ log msg for dev
  src/lib/tvgCanvas.cpp
Labels: refactoring

#1424 sw_engine: fix a logical wrong.
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#1425 sw_engine: fix the broken scene clipping.
  src/lib/sw_engine/tvgSwRenderer.cpp
Labels: bug

#1420 infra: Improved regression finder
  .github/workflows/regression.yml
  .github/workflows/regression_check.sh
  test/regression/check_same_image_size.py
  test/regression/settings.toml
Labels: infrastructure

#1431 sw_renderer: fixing names after refactor
  src/lib/sw_engine/tvgSwRasterAvx.h
  src/lib/sw_engine/tvgSwRasterNeon.h
Labels: bug

#1434 common: changed a returned value from load function
  src/lib/tvgPictureImpl.h
Labels: enhancement

#1435 capi: luma mask introduced, tvg_picture_load_raw description changed
  src/bindings/capi/thorvg_capi.h
Labels: capi

#1432 sw_engine: fix the dead lock issue.
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgTaskScheduler.h
Labels: bug

#1436 tests: lcov++ sw_engine
  test/testSwEngine.cpp
Labels: test

#1441 test_capi: Add missing *_del api
  test/capi/capiLinearGradient.cpp
  test/capi/capiPaint.cpp
Labels: test

#1442 tvg_saver: fixing unwanted merging
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug, tvg

#1444 api: remove deprecated apis
  inc/thorvg.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPicture.cpp
Labels: refactoring

#1452 svg_loader: copy the use node properties
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#1453 svg_loader: fixing finding defs node
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#1454 examples: updated SVG samples.
  src/examples/Common.h
  src/examples/MultiCanvas.cpp
  src/examples/Stress.cpp
  src/examples/Svg.cpp
  src/examples/images/LottieFiles_logo.svg
  src/examples/images/eu.svg
  src/examples/images/opensearch.svg
Labels: example

#1449 portability: fix usage of TVG_API
  inc/thorvg.h
  src/bin/meson.build
  src/bin/svg2png/meson.build
  src/bin/svg2tvg/meson.build
  src/bindings/capi/thorvg_capi.h
  src/examples/meson.build
  src/meson.build
  test/meson.build
Labels: portability

#1456 fix composition bugs
  src/examples/Performance.cpp
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/lib/tvgSceneImpl.h
Labels: bug

#1461 documentation
  README.md
  res/example_godot.png
Labels: documentation

#1465 infa: Install svg2png and svg2tvg.
  src/bin/svg2png/meson.build
  src/bin/svg2tvg/meson.build
Labels: infrastructure, tools

#1466 Fix clang compiler warnings.
  src/bin/svg2png/svg2png.cpp
  src/bin/svg2tvg/svg2tvg.cpp
  src/wasm/thorvgwasm.cpp
Labels: portability

#1467 infra: Avoid meson warning.
  src/examples/meson.build
Labels: infrastructure

#1473 CI: Fix ubuntu-latest apt-get install ... 404 Not Found.
  .github/workflows/regression.yml
Labels: infrastructure

#1469 tvgJpgd.cpp: compiler warnings
  src/loaders/jpg/tvgJpgd.cpp
Labels: portability

#1478 textmap code refactoring.
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Labels: refactoring
