Repository thorvg/thorvg, pull requests merged in 2023-08, with the labels that each got.

#1570 webp_loader: libwebp set to be a required depend
  src/loaders/external_webp/meson.build
Labels: infrastructure

#1504 common canvas: Alter the concept of the Canvas::clear() API.
  inc/thorvg.h
  src/examples/Retaining.cpp
  src/examples/meson.build
  src/lib/tvgCanvasImpl.h
  test/capi/capiSwCanvas.cpp
  test/testSwCanvasBase.cpp
Labels: enhancement

#1571 example stress: revise the sample.
  src/examples/Stress.cpp
Labels: example

#1572 infra build: revise the binding builds.
  meson_options.txt
  src/bindings/capi/meson.build
  src/bindings/meson.build
  src/meson.build
Labels: infrastructure

#1577 utils str: remove unencessary definitions.
  src/utils/tvgStr.cpp
Labels: refactoring

#1579 utils: code clean up
  src/utils/tvgLzw.cpp
Labels: refactoring

#1580 binding wasm: fix a memory leak.
  src/bindings/wasm/tvgWasm.cpp
Labels: bug, tools

#1581 common: deleted paints only when they are no longer valid.
  src/lib/tvgCanvasImpl.h
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: bug

#1587 common: add new method to get mat4x4 directly from mat3x3
  src/lib/gl_engine/tvgGlGeometry.h
Labels: gl engine

#1589 gl_engine: upgrade min gl version
  src/examples/Common.h
  src/lib/gl_engine/meson.build
  src/lib/gl_engine/tvgGlCommon.h
Labels: gl engine

#1592 gl_engine: use vertex array and index buffer when render primitive
  src/lib/gl_engine/tvgGlGeometry.cpp
  src/lib/gl_engine/tvgGlGeometry.h
  src/lib/gl_engine/tvgGlGpuBuffer.h
Labels: enhancement, gl engine

#1590 loader lottie: support for stroke dash style
  src/examples/images/_alarm.json
  src/examples/images/acrobatics.json
  src/examples/images/arrow_line.json
  src/examples/images/loading_siri.json
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#1597 loader/png: revert force colorspace conversion.
  src/loaders/png/tvgLodePng.cpp
  src/loaders/png/tvgPngLoader.cpp
Labels: refactoring

#1598 loader\lottie: Fixed incorrect b64 decoding
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#1596 gl_engine: use modern glsl syntax in shader source
  src/lib/gl_engine/tvgGlRenderTask.cpp
  src/lib/gl_engine/tvgGlRenderTask.h
  src/lib/gl_engine/tvgGlShader.cpp
  src/lib/gl_engine/tvgGlShaderSrc.cpp
Labels: enhancement, gl engine

#1532 svg_loader: clip composed of multiple transformed shapes
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement

#1599 gl_engine: refactor matrix calculation
  src/lib/gl_engine/tvgGlGeometry.cpp
  src/lib/gl_engine/tvgGlGeometry.h
  src/lib/gl_engine/tvgGlRenderTask.cpp
  src/lib/gl_engine/tvgGlRenderTask.h
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlShaderSrc.cpp
Labels: gl engine

#1602 lottie_loader: return false for frameRate = 0
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: bug

#1604 gl_engine: Fix mistake in glbuffer id check
  src/lib/gl_engine/tvgGlGpuBuffer.cpp
Labels: gl engine

#1609 lottie/loader: fix memory leaks
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#1608 renderer/paint: added an option for stroking when acquiring bounding …
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Labels: enhancement

#1576 svg_loader: support other units for mask and clip
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement

#1611 common: shape's composition fixed
  src/lib/tvgShapeImpl.h
Labels: bug

#1618 sw_engine: fix dash offset bug.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwShape.cpp
Labels: bug

#1615 gl_engine: Use advance tessellate algorithm
  AUTHORS
  src/lib/gl_engine/meson.build
  src/lib/gl_engine/tvgGlGeometry.cpp
  src/lib/gl_engine/tvgGlGeometry.h
  src/lib/gl_engine/tvgGlRenderer.cpp
  src/lib/gl_engine/tvgGlRenderer.h
  src/lib/gl_engine/tvgGlTessellator.cpp
  src/lib/gl_engine/tvgGlTessellator.h
  src/utils/meson.build
  src/utils/tvgList.h
Labels: enhancement, gl engine

#1621 common/array: enhance the interface
  src/common/tvgArray.h
  src/loaders/lottie/tvgLottieProperty.h
  src/loaders/svg/tvgSvgCssStyle.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/sw_engine/tvgSwImage.cpp
  src/renderer/sw_engine/tvgSwRle.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: refactoring

#1622 THORVG_LOG: --compiler -Werror=empty-body
  src/renderer/tvgCommon.h
Labels: portability

#1626 sw_engine: fixed a antialiasing issue.
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug, sw engine
