Repository thorvg/thorvg, pull requests merged in 2023-07, with the labels that each got.

#1514 Avx raster refactoring due to an internal change to support blending methods
  src/lib/sw_engine/tvgSwRasterAvx.h
Labels: bug, portability

#1515 common: code refactoring
  src/lib/sw_engine/tvgSwShape.cpp
  src/lib/tvgArray.h
  src/lib/tvgRender.h
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
Labels: refactoring

#1516 common: --unnecessary null check.
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgFill.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgSaver.cpp
Labels: refactoring

#1520 infra: updated git setting.
  .gitattributes
  .gitignore
Labels: infrastructure

#1521 common bezier: Add a function that returns the position.
  src/lib/tvgBezier.cpp
  src/lib/tvgBezier.h
Labels: enhancement

#1522 common bezier: fix a regression bug.
  src/lib/tvgBezier.cpp
Labels: bug

#1523 Refactoring of GlGeometry::decomposeOutline due to an internal change in RenderShape data structure.
  src/lib/gl_engine/tvgGlGeometry.cpp
Labels: bug

#1525 sw_engine: fix clang compiler warnings.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: portability

#1528 examples webp: --compiler warning.
  src/examples/PictureWebp.cpp
Labels: portability

#1530 sw_engine: fix compiler warning
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: portability

#1534 svg_loader: custom strndup moved into utils
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgUtil.cpp
  src/loaders/svg/tvgSvgUtil.h
  src/loaders/svg/tvgXmlParser.cpp
Labels: refactoring

#1535 sw_engine: enforce the drawing of small stroke cubic outlines.
  src/lib/sw_engine/tvgSwRle.cpp
  src/lib/sw_engine/tvgSwStroke.cpp
Labels: bug

#1426 svg_loader: support the '!important' directive
  src/loaders/svg/tvgSvgCssStyle.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: enhancement, svg

#1536 examples: use tvg::cast().
  src/examples/Animation.cpp
  src/examples/Lottie.cpp
  src/examples/Stress.cpp
Labels: refactoring

#1538 svg_loader: update style in defs
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug

#1542 sw_engine raster: fixed a wrong composition instruction.
  src/lib/sw_engine/tvgSwRaster.cpp
Labels: bug

#1551 sw_engine c: fix compile warnings on windows.
  src/lib/sw_engine/tvgSwRasterC.h
Labels: portability

#1553 infra wasm: up-to-date wasm build
  src/wasm/thorvgwasm.cpp
  wasm_build.sh
Labels: infrastructure

#1560 infra github: updated the main branch name.
  .github/workflows/actions_cpplint.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_win.yml
  .github/workflows/codeql.yml
  .github/workflows/regression.yml
Labels: infrastructure
