Repository thorvg/thorvg, pull requests merged in 2023-09, with the labels that each got.

#1624 lottie trimpath support
  src/common/tvgMath.h
  src/examples/MaskingMethods.cpp
  src/examples/images/5344-honey-sack-hud.json
  src/examples/images/batman.json
  src/examples/images/birth_stone_logo.json
  src/examples/images/duck.json
  src/examples/images/foodrating.json
  src/examples/images/generator.json
  src/examples/images/happy_holidays.json
  src/examples/images/insta_camera.json
  src/examples/images/lolo_walk.json
  src/examples/images/masking.json
  src/examples/images/skullboy.json
  src/examples/images/starts_transparent.json
  src/examples/images/threads.json
  src/examples/images/world_locations.json
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgShapeImpl.h
Labels: enhancement, lottie

#1628 bindings/wasm: optimize the performance.
  src/bindings/wasm/tvgWasm.cpp
Labels: optimization

#1632 infra: renamed the files for the consistency.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/renderer/meson.build
  src/renderer/sw_engine/tvgSwImage.cpp
  src/renderer/tvgAnimation.cpp
  src/renderer/tvgCanvas.cpp
  src/renderer/tvgCanvas.h
  src/renderer/tvgGlCanvas.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgScene.cpp
  src/renderer/tvgScene.h
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
  src/renderer/tvgSwCanvas.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Labels: refactoring

#1625 gl_engine: pack all data into one gpu buffer
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlGpuBuffer.cpp
  src/renderer/gl_engine/tvgGlGpuBuffer.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
Labels: enhancement, gl engine

#1630 Revert "renderer taskscheduler: code refactoring."
  src/renderer/tvgTaskScheduler.cpp
Labels: bug

#1633 loader/lottie: support focal property in the radial gradient
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/tvgShape.cpp
Labels: enhancement, lottie

#1634 sw_engine: utilize the memory pool for dash stroking.
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwMemPool.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: optimization

#1637 loader/lottie: support the repeater property
  src/examples/images/5317-fireworkds.json
  src/examples/images/abstract_circle.json
  src/examples/images/browser_click.json
  src/examples/images/focal_test.json
  src/examples/images/game_finished.json
  src/examples/images/message.json
  src/examples/images/morphing_anim.json
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: enhancement, lottie

#1645 docs: revise the doxygen design
  docs/html/doxygen.css
  docs/html/navtree.css
  docs/html/navtree.js
  docs/html/sync_off.svg
  docs/html/sync_on.svg
  docs/html/tabs.css
Labels: documentation

#1647 docs: updated font size
  docs/html/doxygen.css
  docs/html/navtree.css
  docs/html/tabs.css
Labels: documentation

#1648 sw_engine: fix a regression bug by 0dafe9ff64a5975b4b08e84f2716b61ff3…
  src/common/tvgMath.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug

#1649 sw_engine: skip the rendering if possible.
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: optimization

#1650 sw_engine: fix a wrong compuation.
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug

#1651 ++gitaction CI build test
  .github/workflows/actions_cpplint.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_ubuntu.yml
  .github/workflows/build_win.yml
  .github/workflows/build_windows.yml
  .github/workflows/cpp_lint_check.sh
  .github/workflows/regression.yml
  README.md
Labels: infrastructure

#1652 sw_engine enhancement
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: bug, enhancement

#1656 gl_engine: fix compilation erros due to redundant header inclusion
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlGpuBuffer.h
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: gl

#1654 sw_engine: Do not handle exceptions for zero line length.
  src/renderer/sw_engine/tvgSwShape.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: enhancement, sw

#1658 taskschduler: fix a regression deadlock issue
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/tvgTaskScheduler.cpp
  src/renderer/tvgTaskScheduler.h
Labels: bug

#1663 sw_engine: fix VS 2017 issues with Godot's NOMINMAX
  src/renderer/sw_engine/tvgSwCommon.h
Labels: portability

#1662 sw_engine: properly implemented the missing image composition.
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: enhancement, sw

#1659 sw_engine fill: fixed radial fill focal issue.
  src/renderer/sw_engine/tvgSwFill.cpp
Labels: bug, sw

#1657 gl_engine: make GlRenderTask generic with uniform block
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlGpuBuffer.cpp
  src/renderer/gl_engine/tvgGlGpuBuffer.h
  src/renderer/gl_engine/tvgGlProgram.cpp
  src/renderer/gl_engine/tvgGlProgram.h
  src/renderer/gl_engine/tvgGlPropertyInterface.cpp
  src/renderer/gl_engine/tvgGlPropertyInterface.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlRendererProperties.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: enhancement, gl

#1666 lottie/model: revise the colorstop poplulation logic.
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#1674 update tvg binary support
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/renderer/tvgBinaryDesc.h
  src/savers/tvg/tvgTvgSaver.cpp
Labels: enhancement, tvg

#1676 sw_engine: fix a regression stroke bug
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: bug

#1677 examples: remove Async test
  src/examples/Async.cpp
  src/examples/meson.build
Labels: example

#1678 sw_engine: fix an invalid memory access.
  src/renderer/sw_engine/tvgSwRenderer.cpp
  wasm_cross.txt
Labels: bug, sw

#1679 sw_engine: Correct the color conversion condition.
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: bug
