Repository thorvg/thorvg, pull requests merged in 2024-12, with the labels that each got.

#3015 renderer: make the file io configurable.
  meson.build
  meson_options.txt
  src/loaders/external_jpg/tvgJpgLoader.cpp
  src/loaders/external_png/tvgPngLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/ttf/tvgTtfLoader.cpp
  src/loaders/webp/tvgWebpLoader.cpp
  src/renderer/tvgLoader.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgText.cpp
Labels: enhancement, infrastructure, svg, portability, image, lottie, font, renderer

#3019 capi: maintain consistency in Doxygen formatting
  src/bindings/capi/thorvg_capi.h
Labels: binding

#3012 sw_engine: replaced longjmp with returns
  AUTHORS
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: refactoring, raster

#3021 capi: removed default argument from C API.
  src/bindings/capi/thorvg_capi.h
Labels: binding

#3022 wg_engine: Fixed scene blending equation and clear color rule
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#3020 1.0 API Spec Revision
  examples/Retaining.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/renderer/tvgCanvas.cpp
  src/renderer/tvgCanvas.h
  src/renderer/tvgScene.cpp
  src/renderer/tvgScene.h
  src/renderer/tvgSwCanvas.cpp
  test/testPaint.cpp
  test/testScene.cpp
Labels: enhancement, example, APIs, test, lottie, renderer, binding

#3025 wasm: switch to Emscripten-specific WebGPU header
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: enhancement, binding

#3018 lottie: add caps support
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieCommon.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#3033 lottie: code clean up
  src/loaders/lottie/meson.build
  src/loaders/lottie/tvgLottieData.h
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieExpressions.h
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie

#3036 API: Replace the Canvas::clear() API with Canvas::remove() & draw()
  examples/Animation.cpp
  examples/Blending.cpp
  examples/Capi.cpp
  examples/CustomTransform.cpp
  examples/DirectUpdate.cpp
  examples/EffectDropShadow.cpp
  examples/EffectGaussianBlur.cpp
  examples/Example.h
  examples/GradientTransform.cpp
  examples/ImageRotation.cpp
  examples/ImageScaleDown.cpp
  examples/ImageScaleUp.cpp
  examples/Interaction.cpp
  examples/Lottie.cpp
  examples/LottieExpressions.cpp
  examples/MaskingMethods.cpp
  examples/Performance.cpp
  examples/Retaining.cpp
  examples/SceneTransform.cpp
  examples/Svg.cpp
  examples/Transform.cpp
  examples/Update.cpp
  examples/Viewport.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/tvgCanvas.cpp
  src/renderer/tvgCanvas.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/savers/gif/tvgGifSaver.cpp
  test/testPaint.cpp
  tools/svg2png/svg2png.cpp
Labels: refactoring, example, tools, APIs, test, image, raster, renderer, binding

#3035 wasm: reduce WebGPU stack size
  cross/wasm32.txt
  cross/wasm32_wg.txt
Labels: optimization, binding

#3037 wg_engine: improve resizing mechanics
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: bug, optimization, raster

#3028 gl_engine: Fix calculation error in path triming
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: enhancement, raster

#3040 wasm: update canvas API usage from clear() to remove()
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: binding

#3043 lottie: code refactoring
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParserHandler.cpp
  src/loaders/lottie/tvgLottieParserHandler.h
Labels: refactoring, lottie

#3046 infra: --meson deprecated usages
  examples/meson.build
Labels: example

#3049 sw_engine: fix grad calculations
  src/renderer/sw_engine/tvgSwFill.cpp
Labels: bug, raster

#3051 gl_engine: Fix gradient color not correct when shape has opacity
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: enhancement, raster

#3058 lottie: ++exception handling
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: refactoring, lottie

#3061 sw_engine: fix dash offset
  src/renderer/tvgRender.h
Labels: bug, renderer

#3067 common: refactored the scene effect tint
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/renderer/sw_engine/tvgSwPostEffect.cpp
  src/renderer/tvgRender.h
Labels: refactoring, raster, lottie, renderer

#3069 portability: fix file size check on Windows
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: portability, lottie

#3073 renderer: fixed a memory leak
  src/renderer/tvgPaint.h
Labels: showstopper, renderer

#3075 API: enable users to use an accessor to traverse Scene
  inc/thorvg.h
  src/renderer/tvgAccessor.cpp
Labels: enhancement, APIs, renderer

#3077 lottie: Fixed a regression in masking logic
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: showstopper, lottie

#3060 lottie: support Stroke layer effect
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
  src/loaders/lottie/tvgLottieProperty.h
Labels: enhancement, lottie

#3068 gl_engine: Fix for rendering short paths
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: enhancement, raster

#3086 sw_engine: fix clipping
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug, raster

#3084 lottie: fix viewport clipping issue when resize
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: bug, lottie

#3088 gl_engine: ++binary optimization
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlProgram.cpp
  src/renderer/gl_engine/tvgGlProgram.h
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderTarget.cpp
  src/renderer/gl_engine/tvgGlRenderTarget.h
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShader.cpp
  src/renderer/gl_engine/tvgGlShader.h
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: refactoring, optimization, raster

#3079 svg: remove styles from the clipPath
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, refactoring, svg

#3090 gl_engine: fix fbo and texture leak
  src/renderer/gl_engine/tvgGlRenderTarget.cpp
  src/renderer/gl_engine/tvgGlRenderTarget.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: raster
