Repository thorvg/thorvg, pull requests merged in 2024-09, with the labels that each got.

#2696 loader/ttf: Spaces and invalid glyphs rendering fix
  src/loaders/ttf/tvgTtfLoader.cpp
  src/loaders/ttf/tvgTtfReader.cpp
Labels: bug, font

#2705 lottie/parser: ++ null value handling
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: enhancement, lottie

#2707 common: precision increase while matrix inversion
  src/common/tvgMath.cpp
  src/common/tvgMath.h
Labels: refactoring

#2695 wg_engine: external webgpu handles (web integration)
  examples/Example.h
  inc/thorvg.h
  src/renderer/tvgWgCanvas.cpp
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, example, APIs

#2714 sw_engine: rectified the blending operations.
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: bug, raster

#2716 renderer: ++reliability in text drawing
  src/renderer/tvgText.h
Labels: showstopper

#2717 lottie/text: Support Text Based (Part of Phase 2)
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#2719 lottie/text: Support line spacing
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#2723 sw_engine: +++
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: bug, refactoring, raster

#2730 examples: updated lottie resources
  examples/Lottie.cpp
  examples/resources/lottie/Animation.-.1718860337023.json
  examples/resources/lottie/button.json
  examples/resources/lottie/crowds.json
  examples/resources/lottie/gardient_rot.json
  examples/resources/lottie/gradient_ball.json
  examples/resources/lottie/gradient_wave.json
  examples/resources/lottie/insta_camera.json
  examples/resources/lottie/intelia_logo_animation.json
  examples/resources/lottie/lf20_l3qxn9jy.json
  examples/resources/lottie/monkey.json
  examples/resources/lottie/offsetStarNoRound.json
  examples/resources/lottie/page_slide.json
  examples/resources/lottie/pumpkin.json
  examples/resources/lottie/snail.json
  examples/resources/lottie/textblock.json
  examples/resources/lottie/woman.json
Labels: example

#2727 wg_engine: wrong gradient transformation fixed
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#2734 lottie: fixed memory violation.
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: showstopper, lottie

#2737 lottie: ++expressions coverage
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: bug, lottie

#2740 renderer: hotfix a crash
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/tvgShape.h
Labels: showstopper, renderer

#2742 lottie/expressions: ++coverage
  examples/resources/lottie/expressions/antennaAnimation.json
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: enhancement, lottie

#2743 wg_engine: fix vertices while line joining
  src/renderer/wg_engine/tvgWgGeometry.cpp
Labels: bug, raster

#2748 lottie/text: hotfix for parsing text range issue
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#2744 lottie/text: Fix incorrect text range without end condition
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#2739 wg_engine: fix strokes triangulation artifacts
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
Labels: bug, raster

#2749 lottie: --type casting warning in MSVC
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: portability, lottie

#2750 svg_loader: Fix calculation when stroke-width unit is percentage
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug, svg

#2754 common: code refactoring
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgLoader.h
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/png/tvgPngLoader.h
  src/loaders/webp/tvgWebpLoader.cpp
  src/loaders/webp/tvgWebpLoader.h
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterC.h
  src/renderer/sw_engine/tvgSwRasterTexmap.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring

#2751 infra: Add PR labeler
  .github/labeler.yml
  .github/workflows/pull_request_label.yml
Labels: infrastructure

#2725 wasm: Handle WebGPU part for integration
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: binding

#2752 api: clean up
  examples/Capi.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/lottie/thorvg_lottie.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgScene.h
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
  test/capi/capiShape.cpp
  test/capi/capiText.cpp
  test/testPaint.cpp
  test/testShape.cpp
Labels: example, APIs, test, lottie, renderer, binding

#2761 infra: updated labeler
  .github/labeler.yml
Labels: infrastructure

#2757 svg_loader: fix circle radius if in percentages
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#2763 loader/jpg: --compiler warnings
  src/loaders/jpg/tvgJpgd.cpp
Labels: portability, image

#2760 wg_engine: geometry generating optimization
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: refactoring, optimization, raster

#2767 wg_engine: fix stroke trimming crash
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: bug, raster

#2775 sw_engine: fix translucent grad rastering
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: bug, raster

#2774 sw_engine: add support for 8bits gradient rectangles
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: enhancement, showstopper, raster

#2778 renderer: fix clipped clippers
  src/renderer/tvgPaint.cpp
Labels: bug, renderer

#2779 example: MultiCanvas show case with GL backend
  examples/MultiCanvas.cpp
Labels: example

#2782 lottie: optimization++
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: optimization, lottie

#2785 examples: fixed an incorrect buffer size.
  examples/MultiCanvas.cpp
Labels: bug, example

#2784 wg_engine: CompositeMethod::ClipPath will be replaced with the Scene::clip()
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
Labels: refactoring, raster

#2786 hotfix: backward compatibility++
  src/renderer/tvgPaint.cpp
Labels: showstopper, renderer

#2787 lottie: fix mem leak
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#2789 gl_engine: implement darken and lighten mask method
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.h
Labels: enhancement, raster

#2790 test: fix a memory leak
  test/testAnimation.cpp
Labels: bug, test
