Repository thorvg/thorvg, pull requests merged in 2024-10, with the labels that each got.

#2793 examples/tvg: updated samples
  examples/Tvg.cpp
  examples/resources/tvg/2961.tvg
  examples/resources/tvg/364028690-c745d95c-ac9e-4461-8f4c-0a1bcb9971c4.tvg
  examples/resources/tvg/SVG_FILE_147939.tvg
  examples/resources/tvg/alphachannel.tvg
  examples/resources/tvg/car.tvg
  examples/resources/tvg/cartman.tvg
  examples/resources/tvg/circles1.tvg
  examples/resources/tvg/consecutive_lines.tvg
  examples/resources/tvg/dst.tvg
  examples/resources/tvg/gallardo.tvg
  examples/resources/tvg/gump-bench.tvg
  examples/resources/tvg/heliocentric.tvg
  examples/resources/tvg/json.tvg
  examples/resources/tvg/lineargradient2.tvg
  examples/resources/tvg/matheusmdx.tvg
  examples/resources/tvg/multipath+matrix.tvg
  examples/resources/tvg/patch.tvg
  examples/resources/tvg/radial_gradient_focal_outside_circle.tvg
  examples/resources/tvg/radialgradient1.tvg
  examples/resources/tvg/rg1024_Presentation_with_girl.tvg
  examples/resources/tvg/rg1024_Ufo_in_metalic_style.tvg
  examples/resources/tvg/rg1024_green_grapes.tvg
  examples/resources/tvg/samsung-7.tvg
  examples/resources/tvg/scimitar-anim.tvg
  examples/resources/tvg/skew.tvg
  examples/resources/tvg/svg2009.tvg
  examples/resources/tvg/thanks.tvg
  examples/resources/tvg/tommek_Car.tvg
  examples/resources/tvg/vnu.tvg
  test/resources/tag.tvg
Labels: example, test

#2796 lottie: portability++
  src/loaders/lottie/jerryscript/jerry-core/include/jerryscript-compiler.h
Labels: portability, lottie

#2788 lottie: fix gradient populating
  src/loaders/lottie/tvgLottieModel.cpp
Labels: bug, lottie

#2806 lottie: fixed a corrupted colorstop population
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#2807 lottie: hotfix layer effect parsing
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#2804 examples: fix mingw build error
  examples/ImageRotation.cpp
Labels: example, portability

#2810 sw_engine: fixed an uninitialized data access
  src/renderer/sw_engine/tvgSwCommon.h
Labels: refactoring, raster

#2809 sw_engine: ++stability
  src/renderer/sw_engine/tvgSwRle.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: refactoring, raster

#2813 sw_engine: ignore small cubics
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwMath.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: bug, raster

#2815 sw_engine: ++exception handling
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: refactoring, raster

#2818 test/capi: fixed a memory leak
  test/capi/capiPaint.cpp
Labels: test

#2820 wg_engine: fix picture memory leak
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: bug, raster

#2822 release: bump up version v0.15
  meson.build
Labels: infrastructure

#2814 wg_engine: fixed resource leaks
  examples/Example.h
  src/renderer/tvgWgCanvas.cpp
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: bug, example, raster, renderer

#2823 infra: Improve valgrind result analysis syntax
  .github/workflows/memcheck_valgrind.sh
Labels: infrastructure

#2803 wg_engine: fix custom scene blending with opacity
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#2824 wasm: increase stack size for WebGPU
  cross/wasm32_wg.txt
Labels: enhancement

#2826 wg_engine: fix long path decoding crash
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, raster

#2828 wasm: increase stack size
  cross/wasm32_wg.txt
Labels: enhancement

#2830 api: remove deprecations
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/tvgAccessor.cpp
  src/renderer/tvgFill.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgScene.cpp
  src/renderer/tvgShape.cpp
Labels: APIs, renderer, binding

#2833 common: fix autors name
  AUTHORS
Labels: infrastructure

#2834 examples/lottie: updated resources
  examples/resources/lottie/earth_hour.json
  examples/resources/lottie/fiery_skull.json
  examples/resources/lottie/insta_camera.json
  examples/resources/lottie/monkey.json
  examples/resources/lottie/page_slide.json
  examples/resources/lottie/pumpkin.json
  examples/resources/lottie/textblock.json
  examples/resources/lottie/textrange.json
  examples/resources/lottie/woman.json
Labels: example

#2827 svg_loader: Support id attribute for tvg::Accessor
  examples/Accessor.cpp
  examples/resources/svg/favorite_on.svg
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: example, svg

#2839 sw_engine: split long lines to avoid overflow
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwMath.cpp
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: enhancement, raster

#2840 lottie: add support for mask expansion
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieModifier.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#2845 wasm: update wasm build script
  wasm_build.sh
Labels: infrastructure

#2847 example: unify Shape & MultiShapes
  examples/Shape.cpp
  examples/Shapes.cpp
  examples/meson.build
Labels: example

#2846 api: polish the thorvg API usages.
  examples/Example.h
  examples/MultiCanvas.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgSwCanvas.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/savers/gif/tvgGifSaver.cpp
  test/testAccessor.cpp
  test/testPicture.cpp
  test/testSwCanvas.cpp
  test/testSwEngine.cpp
  tools/svg2png/svg2png.cpp
Labels: example, tools, APIs, test, image, raster, renderer, binding

#2848 api: removed redundant CompisiteMethod::ClipPath
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
Labels: refactoring, APIs, raster, renderer, binding

#2851 api: polish the thorvg API usages
  examples/Blending.cpp
  examples/Duplicate.cpp
  examples/InvLumaMasking.cpp
  examples/InvMasking.cpp
  examples/LumaMasking.cpp
  examples/Masking.cpp
  examples/MaskingMethods.cpp
  examples/PictureRaw.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/raw/tvgRawLoader.cpp
  src/loaders/raw/tvgRawLoader.h
  src/renderer/tvgLoader.cpp
  src/renderer/tvgLoader.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  test/capi/capiPicture.cpp
  test/testPicture.cpp
  test/testSwEngine.cpp
Labels: refactoring, example, APIs, test, image, renderer, binding

#2856 api: path data size reduction (to 1 byte)
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: refactoring, APIs, binding

#2857 api: Fill Transform revision
  inc/thorvg.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/tvgFill.cpp
  src/renderer/tvgFill.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: refactoring, svg, APIs, raster, renderer

#2862 gl_engine: implement path trim in tvgGlTessellator
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: enhancement, raster

#2861 api: renamed the composite with mask.
  examples/AnimateMasking.cpp
  examples/Capi.cpp
  examples/GradientMasking.cpp
  examples/InvLumaMasking.cpp
  examples/InvMasking.cpp
  examples/LumaMasking.cpp
  examples/Masking.cpp
  examples/MaskingMethods.cpp
  examples/Performance.cpp
  examples/Viewport.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  test/capi/capiPaint.cpp
  test/testPaint.cpp
  test/testSwEngine.cpp
Labels: refactoring, example, svg, APIs, test, raster, lottie, renderer, binding

#2868 lottie: release memory immediately after loading is complete.
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
Labels: optimization, lottie

#2865 wg_engine: MSAA support, part 1 - move blending to fragment shaders
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: refactoring, optimization, raster

#2873 gl_engine: merged point/line data structure with common
  src/common/tvgMath.cpp
  src/common/tvgMath.h
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: refactoring, raster, renderer

#2876 wg_engine: merged math functions with common
  src/common/tvgMath.h
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: refactoring, raster, renderer

#2872 lottie: fix offset
  src/loaders/lottie/tvgLottieModifier.cpp
Labels: bug, lottie

#2877 lottie: correct the array reserved size
  src/loaders/lottie/tvgLottieParser.cpp
Labels: lottie

#2878 sw_engine: fix _rasterDirectImage
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: raster

#2881 gl_engine: code refactoring
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: refactoring, portability, raster

#2875 lottie: offset does not depend on shape direction
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModifier.cpp
  src/loaders/lottie/tvgLottieModifier.h
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie, renderer

#2871 example: include mask extension in personal_character.json
  examples/resources/lottie/personal_character.json
Labels: example

#2882 gl_engine: ignore masking alpha when calculate inv luma masking
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: bug, raster

#2887 sw_engine: fixed linear gradient filling masking.
  src/renderer/sw_engine/tvgSwFill.cpp
Labels: bug, raster

#2858 svg: wrapping a paint with a scene
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: refactoring, svg

#2895 renderer: hotfix a broken svg file sharing
  src/renderer/tvgLoader.cpp
Labels: bug, renderer

#2897 wg_engine: use tvg math constants
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: refactoring, raster

#2901 svg: clean up code
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
Labels: refactoring, svg

#2903 svg: prevent runtime error
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug, svg

#2899 wg_engine: clippath optimization
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: optimization, raster

#2905 renderer: --shadow variable compiler warning
  src/renderer/tvgPaint.h
Labels: portability, renderer

#2904 wg_engine: multisampling support
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
Labels: feature, raster

#2912 wg_engine: fixed image and scene normal blend
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#2906 gl_engine: seperate the index buffer from vertex buffer
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGpuBuffer.cpp
  src/renderer/gl_engine/tvgGlGpuBuffer.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: refactoring, raster

#2911 wg_engine: fix artifacts with zero length segmants on path
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, raster

#2891 lottie: fix rotation in text range selector
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/renderer/tvgPaint.h
Labels: bug, lottie, renderer

#2913 lottie: fix text range selector translation
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#2916 wg_engine: fix equals gradient offsets
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
Labels: bug, raster

#2917 wg_engine: fix cubic splines and circles tesselation quality
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: bug, raster

#2918 sw_engine: fix render fill region
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: showstopper, raster
