Repository thorvg/thorvg, pull requests merged in 2024-05, with the labels that each got.

#2238 infra: fix build failure using c++17 (or later) with MSVC.
  meson.build
  src/tools/lottie2gif/lottie2gif.cpp
  src/tools/svg2png/svg2png.cpp
  src/tools/svg2tvg/svg2tvg.cpp
Labels: portability

#2237 gl_engine: optimize tessellation performance
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: optimization, raster

#2236 gl_engine: fix stencil logical not correct
  src/renderer/gl_engine/tvgGlRenderTask.cpp
Labels: bug, raster

#2247 lottie/expressions: ++exceptional handling
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: refactoring, lottie

#2248 lottie/expressions: minor size down expressions engine.
  src/loaders/lottie/jerryscript/jerry-core/api/jerryscript.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/builtin-objects/ecma-builtin-regexp-string-iterator-prototype.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/builtin-objects/ecma-builtin-regexp-string-iterator-prototype.inc.h
  src/loaders/lottie/jerryscript/jerry-core/ecma/operations/ecma-function-object.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/operations/ecma-iterator-object.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/operations/ecma-objects.cpp
  src/loaders/lottie/jerryscript/jerry-core/include/jerry-config.h
  src/loaders/lottie/jerryscript/jerry-core/include/jerryscript-core.h
  src/loaders/lottie/jerryscript/jerry-core/vm/opcodes.cpp
Labels: optimization, lottie

#2240 sw_engine : arm neonRasterGrayscale8 function to support aarch64
  src/renderer/sw_engine/tvgSwRasterNeon.h
Labels: optimization, raster

#2242 svg_loader: paintOrder property properly copied
  src/loaders/svg/tvgSvgCssStyle.cpp
Labels: bug, svg

#2245 svg_loader: improved clarity, no logical changes
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: refactoring, svg

#2253 sw_engine/neon: arm neonRasterPixel32 function to support aarch64
  src/renderer/sw_engine/tvgSwRasterNeon.h
Labels: optimization, raster

#2249 infra: update the compiler options
  src/meson.build
Labels: infrastructure

#2251 common: fix a precision issue in appendArc api
  src/renderer/tvgShape.cpp
Labels: bug

#2241 svg_loader: move the display property to the style
  src/loaders/svg/tvgSvgCssStyle.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg

#2258 common/array: ++safety
  src/common/tvgArray.h
Labels: refactoring, renderer

#2257 example: Sync setting size and window default size
  examples/Common.h
Labels: refactoring, example

#2254 lottie/text: Support text tracking
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieProperty.h
Labels: enhancement, lottie

#2259 common: tweaking bezier computation for perf.
  src/common/tvgLines.cpp
Labels: optimization, renderer

#2261 lottie: fixed a memory leak
  src/loaders/lottie/tvgLottieModel.cpp
Labels: bug, lottie

#2271 gl_engine: updated GLES minimum requirement from v2 to v3
  README.md
  src/renderer/gl_engine/meson.build
Labels: infrastructure, raster

#2272 lottie/slot: Fix slot resetting bug
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#2275 test: fix margin value
  test/capi/capiAnimation.cpp
  test/testAnimation.cpp
Labels: bug, test

#2278 wg_engine: code refactoring
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, raster

#2279 infra/gl_enigne: fallback use gles v2 if the system doesn't have v3.
  src/renderer/gl_engine/meson.build
Labels: infrastructure, portability

#2284 lottie: fix access violation while updating
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#2277 test/lottie: added the slot resetting in animated property case
  test/capi/capiLottie.cpp
  test/resources/lottieslotkeyframe.json
  test/testLottie.cpp
Labels: test, lottie

#2281 lottie: implement skew transformation
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#2286 lottie: keep the code clean and neat.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie

#2291 lottie: fix build error without extras
  src/loaders/lottie/tvgLottieExpressions.h
Labels: lottie

#2288 wg_engine: Text support
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: enhancement, raster

#2294 lottie: code clean up
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: refactoring, lottie

#2296 renderer/canvas: tweak the viewport behavior.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/tvgGlCanvas.cpp
  src/renderer/tvgSwCanvas.cpp
  src/renderer/tvgWgCanvas.cpp
Labels: renderer

#2298 lottie: matrix multiplication fix
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#2304 web: Reduce initial playing resources
  web/src/lottie-player.ts
Labels: optimization, web, lottie

#2290 common: fix data parsing
  src/loaders/svg/tvgXmlParser.h
Labels: bug, svg

#2307 Update README.md
  README.md
Labels: documentation

#2306 wg_engine: fill rule winding optimization
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
Labels: optimization, raster

#2308 lottie: fixed a missing slot overriding update.
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/renderer/tvgPicture.cpp
Labels: bug, lottie

#2310 common: code refactoring
  src/common/tvgMath.cpp
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/sw_engine/tvgSwRasterTexmap.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgRender.cpp
  src/savers/tvg/tvgTvgSaver.cpp
  test/resources/tag.tvg
Labels: refactoring

#2316 capi: fix compile warning
  AUTHORS
  src/bindings/capi/thorvg_capi.h
Labels: portability

#2321 sw_engine: fix -Wcalloc-transposed-args
  src/renderer/sw_engine/tvgSwMemPool.cpp
Labels: refactoring, portability

#2320 Fix AnimateMasking with GL backend not triger redraw
  examples/AnimateMasking.cpp
Labels: bug, example

#2319 gl_engine: Support StrokeCap in GlTessellator
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: enhancement, raster

#2311 lottie: repeater transformation fix
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, enhancement, lottie

#2324 infra: removed web support
  web/.eslintrc.js
  web/.gitignore
  web/README.md
  web/example/benchmark.html
  web/example/index.html
  web/package.json
  web/rollup.config.js
  web/src/lottie-player.ts
  web/src/version.ts
  web/tsconfig.json
  web/yarn.lock
Labels: infrastructure, refactoring

#2329 wasm: Support viewport API
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: enhancement, binding

#2331 lottie: hotfix memory leaks by a regression
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: showstopper, lottie

#2336 examples: fix heap-use-after-free in Capi.cpp
  examples/Capi.cpp
Labels: bug, example
