Repository thorvg/thorvg, pull requests merged in 2024-01, with the labels that each got.

#1885 fixed compilation issue with loaders
  src/renderer/tvgLoader.cpp
Labels: portability

#1888 saver/tvg: removed an unstable condition.
  src/examples/resources/masking.tvg
  src/savers/tvg/tvgTvgSaver.cpp
Labels: bug, tvg

#1889 infra: bumped up version v0.12, set it dev mode.
  meson.build
Labels: infrastructure

#1893 loader/svg: Skip check for quotes inside quotes
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug, svg

#1895 ttf: Fixed an invalid unicode encoding.
  src/loaders/ttf/tvgTtfLoader.cpp
Labels: bug, ttf

#1899 loader: code refactoring
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.cpp
  src/loaders/tvg/tvgTvgLoader.h
Labels: refactoring

#1902 doc: added LVGL in the practice section
  README.md
  res/example_lvgl.png
Labels: documentation

#1907 lottie: Corrected the Time Remapping Range
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#1908 renderer/shape: fixed a regression bug
  src/renderer/tvgShape.cpp
Labels: bug, lottie

#1910 svg2png: clear the target buffer before the drawing.
  src/tools/svg2png/svg2png.cpp
Labels: bug, tools

#1904 wg_engine: introduced composition ability
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: feature, raster

#1911 common: STM32 portability enhancement
  meson.build
  meson_options.txt
  src/common/meson.build
  src/common/tvgLock.h
  src/meson.build
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/tvgLoader.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgTaskScheduler.cpp
  src/renderer/tvgTaskScheduler.h
  wasm_build.sh
Labels: enhancement, portability

#1918 sw_engine: removed redundant logic.
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: refactoring, raster

#1919 wg_engine: introduced scene opacity
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: raster

#1916 gl_engine: append stencil attachment in GLRenderTarget
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
Labels: raster

#1921 sw_engine: retain the compositor cache memory
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: raster

#1923 sw_engine: fix a regression bug
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: showstopper, raster

#1926 Update README.md
  README.md
Labels: documentation

#1928 svg_loader: Add missing implementation of skewX and skewY in transform-list
  src/loaders/svg/tvgSvgLoader.cpp
Labels: enhancement, svg

#1929 svg_loader: code refactoring
  src/examples/resources/skew.svg
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring, svg

#1930 examples/gif: revise the sample.
  src/examples/GifSaver.cpp
Labels: example

#1932 sw_engine: Rectified dash line drawing issue.
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: raster

#1935 lottie: rectified scene building logic
  src/examples/resources/11555.json
  src/examples/resources/loading_siri.json
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: optimization, lottie

#1938 loader/svg: Apply specification of out-of-range elliptical arc parameters
  src/loaders/svg/tvgSvgPath.cpp
Labels: svg

#1941 sw_engine: Address a corner case in trim path handling
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: raster

#1940 wg_engine: introduced blending
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: feature, raster
