Repository thorvg/thorvg, pull requests merged in 2024-11, with the labels that each got.

#2927 lottie/slot: revise gradient fill support
  examples/LottieExtension.cpp
  examples/resources/lottie/extensions/slotsample.json
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
  test/capi/capiLottie.cpp
  test/resources/lottieslot.json
  test/testLottie.cpp
Labels: enhancement, example, test, lottie

#2923 wg_engine: fix close command logic
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, raster

#2924 wg_engine: implement dash offset
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, raster

#2933 api: revise the apis for v1.0
  examples/StrokeMiterlimit.cpp
  inc/thorvg.h
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
  src/common/tvgStr.cpp
  src/common/tvgStr.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/tvgCommon.h
  src/renderer/tvgLoader.cpp
  src/renderer/tvgLoader.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgSaver.cpp
  src/renderer/tvgText.cpp
  tools/lottie2gif/lottie2gif.cpp
Labels: example, svg, tools, APIs, renderer, binding

#2940 gl_engine: Fix memory leak in the IndexBuffer object
  src/renderer/gl_engine/tvgGlGpuBuffer.cpp
  src/renderer/gl_engine/tvgGlGpuBuffer.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: showstopper, raster

#2942 wg_engine: support gradient focal point
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: bug, feature, raster

#2934 gl_engine: Support new radial gradient data struct and calculation
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: enhancement, raster

#2946 capi: unified the separate linear and gradient fill APIs
  examples/Capi.cpp
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  test/capi/capiLinearGradient.cpp
  test/capi/capiRadialGradient.cpp
Labels: refactoring, example, test, binding

#2948 gl_engine: Fix repeated clip drawing causes performance degradation
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#2949 lottie: text range opacity ++
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#2943 wg_engine: fix test build scripts and ambiguous declarations for macos
  examples/meson.build
  test/meson.build
Labels: example, portability, test

#2945 wg_engine: fix radial fill anti-aliased drawing
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
Labels: bug, raster

#2965 sw_engine: ++exceptional handling
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: refactoring, raster

#2966 wasm: Enhance gif saving without data copy
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: optimization, binding

#2970 lottie: fixed a memory leak
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, showstopper, lottie

#2967 lottie/slot: Fix incorrect image slot schema
  examples/LottieExtension.cpp
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, example, lottie

#2950 infra: prevent warning on windows
  src/loaders/lottie/tvgLottieParser.cpp
Labels: refactoring, lottie

#2971 lottie: ++slot overriding
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: bug, lottie

#2963 svg_loader: handle currentColor inside gradient
  src/loaders/svg/tvgSvgLoader.cpp
Labels: enhancement, svg

#2979 api: revise the gl target() api.
  examples/Example.h
  examples/MultiCanvas.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/tvgGlCanvas.cpp
Labels: example, APIs, renderer, binding

#2980 renderer: code refactoring
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterAvx.h
  src/renderer/sw_engine/tvgSwRasterC.h
  src/renderer/sw_engine/tvgSwRasterNeon.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring, raster, renderer

#2952 lottie: shapes support in text range selector
  src/loaders/lottie/tvgLottieModel.cpp
Labels: enhancement, lottie

#2986 tests: remove capi tests
  test/capi/capiAnimation.cpp
  test/capi/capiFill.cpp
  test/capi/capiInitializer.cpp
  test/capi/capiLinearGradient.cpp
  test/capi/capiLottie.cpp
  test/capi/capiMain.cpp
  test/capi/capiPaint.cpp
  test/capi/capiPicture.cpp
  test/capi/capiRadialGradient.cpp
  test/capi/capiSavers.cpp
  test/capi/capiScene.cpp
  test/capi/capiShape.cpp
  test/capi/capiSwCanvas.cpp
  test/capi/capiText.cpp
  test/capi/meson.build
  test/meson.build
Labels: test

#2993 renderer/sw_engine: fix omitted alpha multiplication in the dropshado…
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwPostEffect.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: bug, raster, renderer

#2983 lottie: portability++
  src/loaders/lottie/tvgLottieProperty.h
Labels: portability, lottie

#2996 example: ++gl, wgpu safety
  examples/Example.h
Labels: bug, example

#2994 lottie: fix bug in expressions
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: bug, lottie

#2991 wg_engine: fix resources disposing on context destroy
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: bug, refactoring, raster

#3000 renderer: reserved colorspace option in target api
  examples/Example.h
  examples/MultiCanvas.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
  src/renderer/tvgWgCanvas.cpp
Labels: enhancement, example, APIs, renderer, binding

#2977 gl_engine: support cross compile GL backend into WASM
  cross/wasm32_gl.txt
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGlCommon.h
  wasm_build.sh
Labels: raster, binding

#3001 gl_engine: correct the stroke alpha calculation
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
Labels: bug, raster

#3004 wasm: fix build error
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: binding

#3005 lottie: ++parser stability
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: bug, lottie

#3002 wg_engine: separate pipelines ans bind group layouts (refactoring)
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, raster

#3010 wg_engine: apply texture formats on creation (refactoring)
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: refactoring, raster

#3011 wg_engine: simplify shader types (refactoring)
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring, raster

#3014 wg_engine: refactor pipeline creation
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
Labels: refactoring, raster

#3013 gl_engine: Fix the wrong bounds cause composition not correct
  src/renderer/gl_engine/tvgGlGeometry.cpp
Labels: bug, raster
