Repository thorvg/thorvg, pull requests merged in 2024-07, with the labels that each got.

#2418 sw_engine: improve grad quality
  src/renderer/sw_engine/tvgSwFill.cpp
Labels: enhancement, raster

#2502 common: code refactoring
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: refactoring

#2501 api: ++description
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/tvgCanvas.h
Labels: documentation, APIs

#2511 sw_engine: fix aa
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgShape.h
Labels: enhancement, raster

#2500 wg_engine: fix scene opacity usage
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#2514 common: Fix a compilation failure on VS 2017
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: portability

#2508 gl_engine: optimize off-screen rendering
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderTarget.cpp
  src/renderer/gl_engine/tvgGlRenderTarget.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
Labels: optimization, raster

#2515 gl_engine: support simple hairline stroke rendering
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: enhancement, raster

#2513 wg_engine: fix blend methods support
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: bug, raster

#2490 examples: fix surface refresh approuch for webgpu
  examples/Example.h
Labels: refactoring, example, raster

#2523 gl_engine: fix memory leak when rendering image
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#2524 gl_engine: --deprecated warnings on macOS
  src/renderer/gl_engine/meson.build
Labels: infrastructure

#2526 API: revise the APIs.
  examples/Accessor.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgCommon.h
  src/renderer/tvgFill.cpp
  src/renderer/tvgFill.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgScene.cpp
  src/renderer/tvgScene.h
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
  src/renderer/tvgText.cpp
  src/renderer/tvgText.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/savers/tvg/tvgTvgSaver.cpp
  test/capi/capiAnimation.cpp
  test/capi/capiLinearGradient.cpp
  test/capi/capiLottie.cpp
  test/capi/capiPaint.cpp
  test/capi/capiPicture.cpp
  test/capi/capiRadialGradient.cpp
  test/capi/capiScene.cpp
  test/capi/capiShape.cpp
  test/capi/capiText.cpp
  test/testAccessor.cpp
  test/testAnimation.cpp
  test/testFill.cpp
  test/testLottie.cpp
  test/testPicture.cpp
  test/testScene.cpp
  test/testShape.cpp
  test/testText.cpp
Labels: APIs

#2529 wg_engine: fix safe disposing of render data in MT environment
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: bug, raster

#2531 wg_engine: code refactoring
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, raster

#2519 svg_loader: Fix incorrect stack.pop() call in loader
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#2532 lottie: ++thread safety.
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
Labels: enhancement, lottie

#2534 renderer: Rectified the paint transforms.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgRender.cpp
  src/renderer/tvgRender.h
  test/testPaint.cpp
Labels: refactoring, renderer

#2533 Renderer: rectified a missing image update flag
  src/renderer/tvgPicture.h
  src/renderer/tvgShape.h
Labels: bug, renderer

#2535 gl_engine: make sure solid color not overwrite gradient fill
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#2538 lottie: add support for image size
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: bug, lottie

#2528 gl_engine: fix aliasing in gradient rendering
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: enhancement, raster

#2540 common: fix bezAngleAt function
  src/common/tvgLines.cpp
Labels: bug, lottie

#2541 lottie: enhance support for ao: 1
  src/loaders/lottie/tvgLottieProperty.h
Labels: bug, lottie

#2542 lottie: code refactoring
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie

#2545 renderer: ++optimization
  src/common/tvgLock.h
  src/renderer/tvgRender.cpp
  src/renderer/tvgRender.h
Labels: optimization

#2539 wg_engine: fix masking methods support
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: bug, raster

#2544 common/math: introduced custom atan2()
  src/common/tvgLines.cpp
  src/common/tvgMath.cpp
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/loaders/svg/tvgSvgPath.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/sw_engine/tvgSwMath.cpp
Labels: optimization

#2546 sw_engine: fix masked translucent rect
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: bug, raster

#2551 rle enhancement
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterC.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: optimization, raster

#2552 common: replace the round() with nearbyint()
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/sw_engine/tvgSwImage.cpp
  src/renderer/sw_engine/tvgSwMath.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: optimization

#2430 lottie/text: Support text range selector (Phase 1)
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#2555 lottie: ++memory access stability
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#2554 wg_engine: Viewport support
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: feature, raster

#2553 lottie: ++ scene composing optimization
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: optimization, lottie

#2556 examples: added svg samples
  examples/resources/svg/alphachannel.svg
  examples/resources/svg/car.svg
  examples/resources/svg/circles1.svg
  examples/resources/svg/gump-bench.svg
  examples/resources/svg/json.svg
  examples/resources/svg/lineargradient2.svg
  examples/resources/svg/patch.svg
  examples/resources/svg/radialgradient1.svg
  examples/resources/svg/rg1024_Presentation_with_girl.svg
  examples/resources/svg/rg1024_Ufo_in_metalic_style.svg
  examples/resources/svg/rg1024_green_grapes.svg
  examples/resources/svg/scimitar-anim.svg
  examples/resources/svg/svg2009.svg
  examples/resources/svg/tommek_Car.svg
  examples/resources/svg/vnu.svg
Labels: example, svg

#2557 lottie: apply direction to rect
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: lottie

#2333 lottie: support 'direction' in ellipses
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#2564 infra: updated ios arm64 build
  .github/workflows/build_ios.yml
  cross/ios_arm64.txt
Labels: infrastructure

#2563 lottie: introduced LottieRenderPooler
  src/loaders/lottie/meson.build
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieRenderPooler.h
Labels: enhancement, lottie

#2560 sw_engine: grayscale image support++
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: enhancement, raster

#2569 examples: ++exception handling
  examples/Example.h
Labels: example

#2566 lottie: ++scene rendering optimization
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
Labels: optimization, lottie

#2565 wg_engine: Introduce ClipPath composition support
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: feature, raster

#2571 wg_engine: fix fill spread artifacts
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#2572 wg_engine: fix cubic generation artifacts (GradientStroke example)
  src/renderer/wg_engine/tvgWgGeometry.cpp
Labels: bug, raster

#2575 lottie/expressions: added a missing polystar property build.
  examples/LottieExpressions.cpp
  examples/resources/lottie/expressions/11272.json
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: bug, lottie

#2576 lottie/expressions: ++coverage enhancement
  examples/resources/lottie/expressions/1254.json
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieExpressions.h
Labels: enhancement, lottie

#2586 lottie: hotfix with an intermediate patch merge.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieRenderPooler.h
Labels: bug

#2587 lottie: ++optimization with object culling
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: optimization, lottie

#2584 svg: resolve compiler warnings.
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring, svg

#2583 sw_engine: fix linear grad issue
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: bug, renderer

#2594 renderer/animation: rectified the segment value exception
  inc/thorvg.h
  src/renderer/tvgAnimation.cpp
Labels: renderer

#2601 sw_engine: fix radial coefficients calculations
  src/renderer/sw_engine/tvgSwFill.cpp
Labels: enhancement, renderer

#2602 common: code refactoring
  src/common/tvgMath.cpp
  src/common/tvgMath.h
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring, raster, renderer

#2604 renderer: code refactoring
  src/common/tvgMath.cpp
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/sw_engine/tvgSwImage.cpp
  src/renderer/sw_engine/tvgSwMath.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterTexmap.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/sw_engine/tvgSwShape.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
  src/renderer/tvgCanvas.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring

#2600 ttf_loader: Basic support for composite glyphs loading
  src/loaders/ttf/tvgTtfLoader.cpp
  src/loaders/ttf/tvgTtfReader.cpp
  src/loaders/ttf/tvgTtfReader.h
  test/testText.cpp
Labels: enhancement, font

#2606 ++lottie/expressions
  examples/resources/lottie/expressions/intelia_logo_animation.json
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieProperty.h
Labels: enhancement, lottie

#2596 common: fix trimming
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/sw_engine/tvgSwShape.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgShape.h
Labels: bug
