Repository thorvg/thorvg, pull requests merged in 2024-04, with the labels that each got.

#2118 sw_engine: hotfix a regression bug of line drawing.
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug, showstopper, raster

#2120 lottie: Fix buffer-overflow in base64 decode
  src/common/tvgCompressor.cpp
Labels: bug, lottie

#2126 wg_engine: Lottie extensions
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: feature, raster, lottie

#2123 lottie: Fix heap-buffer-overflow in gradient populate
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#2133 sw_engine/stroke: hotfix the memory access violation
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug, showstopper, raster

#2135 lottie: hotfix memory corruption.
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#2132 wg_engine: blending optimization
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: enhancement, raster, lottie

#2141 lottie: removed unused code.
  src/loaders/lottie/tvgLottieLoader.cpp
  src/renderer/tvgLoader.cpp
Labels: refactoring, lottie

#2139 Update CODEOWNERS
  CODEOWNERS
Labels: infrastructure

#2137 Modify txt file for cross-platform build setup
  .github/workflows/build_android.yml
  cross/android_aarch64.txt
  cross/android_x86_64.txt
Labels: enhancement, infrastructure

#2140 loader/svg: Fix invalid syntax check
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug, svg

#2127 gl_engine: change all shader output premultiplied alpha color
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: enhancement, raster

#2134 gl_engine: hotfix for the main surface drawing issue.
  inc/thorvg.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#2145 wg_engine: vertex, index and unifroms buffers, render objects caching
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: enhancement, raster, lottie

#2154 sw_engine/neon : Fix compilation error
  src/renderer/sw_engine/tvgSwRasterNeon.h
Labels: raster

#2155 svg: code refactoring
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring, svg

#2113 Finding also crashes in regression finder
  .github/workflows/regression.yml
  .github/workflows/regression_check.py
  test/regression/check_same_image_size.py
  test/regression/settings_comparison.toml
  test/regression/settings_crash_leak.toml
Labels: enhancement, infrastructure

#2158 lottie: rectify the frame updates.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: enhancement, lottie

#2157 Update README.md
  README.md
Labels: documentation

#2148 loader/svg: Skip to invalid polygon
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug, svg

#2150 loader/svg: Ignore unrecognized commands following 'z'
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug, svg

#2174 sw_engine : type cast compile error
  src/renderer/sw_engine/tvgSwRasterNeon.h
Labels: portability, raster

#2176 infra: revise the vector build script
  meson.build
  meson_options.txt
  src/meson.build
Labels: infrastructure

#2177 lottie: code refactoring.
  src/loaders/lottie/tvgLottieAnimation.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/renderer/tvgFrameModule.h
Labels: refactoring, lottie

#2162 gl_engine: using normal texture rendering in final color blit
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.h
Labels: enhancement, raster

#2181 gl_engine: fix some typo inside GlRenderer
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#2180 common: code refactoring
  src/common/tvgLines.cpp
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
  src/renderer/tvgShape.cpp
Labels: refactoring

#2179 loader/svg: Add null to the end of data
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
Labels: bug, svg

#2186 lottie/common: Fix typo in API documentation comment
  src/bindings/capi/thorvg_capi.h
Labels: documentation, lottie

#2187 lottie: ++stability
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: enhancement, lottie

#2167 gl_engine: using depth buffer to support path clip
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
Labels: enhancement, raster

#2189 loader/svg: Return actual decoded size
  src/loaders/svg/tvgSvgUtil.cpp
Labels: bug, svg

#2184 lottie/loader: Fix crash when parsing error
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: bug, lottie

#2194 lottie: code clean up
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: refactoring, lottie

#2193 loader/svg: Add check to the limits of result of StrToFloat
  src/common/tvgStr.cpp
Labels: refactoring, renderer

#2188 sw_engine: fix max length of trimmed strokes
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug, lottie

#2196 build: enforcing saver/loader usage for given tool
  examples/meson.build
  meson.build
  src/loaders/meson.build
  src/savers/meson.build
Labels: infrastructure

#2215 svg_loader: copy display property
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#2220 svg_loader: fix opacity cloning
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#2208 gl_engine: fix gradient rendering error
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
Labels: enhancement, raster

#2203 common: fix composition while masking
  src/renderer/tvgShape.h
Labels: bug, renderer

#2219 loader/svg: If link string is empty, not create picture object
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg

#2213 loader/svg: Check current graphics node that not closed
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug, svg

#2218 lottie: correct the multiline text alignment
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#2221 docs: Add Conan Installation steps
  README.md
Labels: documentation

#2222 wg_engine: blending and composition optimization
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: optimization, raster

#2231 doc: adds the api version history
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#2234 bindings/capi: Fix incompatible parameter
  src/bindings/capi/thorvg_capi.h
  test/capi/capiAnimation.cpp
Labels: APIs
