Repository thorvg/thorvg, pull requests merged in 2024-02, with the labels that each got.

#1945 lottie: compatibility++
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#1950 lottie: minor optimization.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: optimization, lottie

#1954 lottie/parser: shutdown a compiler warning.
  src/loaders/lottie/tvgLottieProperty.h
Labels: portability, lottie

#1953 examples: updated DirectUpdate sample
  src/examples/DirectUpdate.cpp
Labels: example

#1961 wg_engine: clenup shader sources
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: infrastructure, refactoring

#1962 examples/picture/svg: Add PictureSvg example
  src/examples/PictureSvg.cpp
  src/examples/meson.build
Labels: example

#1956 doc: updated dependencies section.
  README.md
Labels: documentation

#1958 gl_engine: enhance the tessellation algorithm
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: enhancement, raster

#1957 renderer: ensure canvas rendering continues despite invalid scene parts
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/tvgScene.h
Labels: bug, renderer

#1960 sw_engine: Improve image up-scaler quality
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: enhancement, raster

#1963 renderer/canvas: Optimize logic by removing paint verification.
  src/renderer/tvgCanvas.h
  test/testSwCanvasBase.cpp
Labels: optimization

#1964 infra/window: Remove version fix of meson
  .github/workflows/build_windows.yml
Labels: infrastructure

#1966 loader/webp: Support static webp loader option
  .github/workflows/build_ubuntu.yml
  .github/workflows/codeql.yml
  meson.build
  meson_options.txt
  src/examples/PictureWebp.cpp
  src/loaders/external_webp/meson.build
  src/loaders/meson.build
  src/loaders/webp/dec/alpha.cpp
  src/loaders/webp/dec/alphai.h
  src/loaders/webp/dec/buffer.cpp
  src/loaders/webp/dec/common.h
  src/loaders/webp/dec/decode_vp8.h
  src/loaders/webp/dec/frame.cpp
  src/loaders/webp/dec/io.cpp
  src/loaders/webp/dec/meson.build
  src/loaders/webp/dec/quant.cpp
  src/loaders/webp/dec/tree.cpp
  src/loaders/webp/dec/vp8.cpp
  src/loaders/webp/dec/vp8i.h
  src/loaders/webp/dec/vp8l.cpp
  src/loaders/webp/dec/vp8li.h
  src/loaders/webp/dec/webp.cpp
  src/loaders/webp/dec/webpi.h
  src/loaders/webp/dsp/alpha_processing.cpp
  src/loaders/webp/dsp/argb.cpp
  src/loaders/webp/dsp/cpu.cpp
  src/loaders/webp/dsp/dec.cpp
  src/loaders/webp/dsp/dec_clip_tables.cpp
  src/loaders/webp/dsp/dsp.h
  src/loaders/webp/dsp/filters.cpp
  src/loaders/webp/dsp/lossless.cpp
  src/loaders/webp/dsp/lossless.h
  src/loaders/webp/dsp/meson.build
  src/loaders/webp/dsp/rescaler.cpp
  src/loaders/webp/dsp/upsampling.cpp
  src/loaders/webp/dsp/yuv.cpp
  src/loaders/webp/dsp/yuv.h
  src/loaders/webp/meson.build
  src/loaders/webp/tvgWebpLoader.cpp
  src/loaders/webp/tvgWebpLoader.h
  src/loaders/webp/utils/bit_reader.cpp
  src/loaders/webp/utils/bit_reader.h
  src/loaders/webp/utils/bit_reader_inl.h
  src/loaders/webp/utils/color_cache.cpp
  src/loaders/webp/utils/color_cache.h
  src/loaders/webp/utils/endian_inl.h
  src/loaders/webp/utils/huffman.cpp
  src/loaders/webp/utils/huffman.h
  src/loaders/webp/utils/meson.build
  src/loaders/webp/utils/quant_levels_dec.cpp
  src/loaders/webp/utils/quant_levels_dec.h
  src/loaders/webp/utils/random.cpp
  src/loaders/webp/utils/random.h
  src/loaders/webp/utils/rescaler.cpp
  src/loaders/webp/utils/rescaler.h
  src/loaders/webp/utils/utils.h
  src/loaders/webp/webp/decode.h
  src/loaders/webp/webp/format_constants.h
  src/loaders/webp/webp/meson.build
  src/loaders/webp/webp/types.h
Labels: image

#1970 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1969 Update CODEOWNERS
  CODEOWNERS
Labels: infrastructure

#1967 gl_engine: add stencil and cover render task
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.h
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: raster

#1971 infra: remove codeql.
  .github/workflows/codeql.yml
Labels: infrastructure

#1973 renderer/canvas: fix a regression error.
  src/renderer/tvgCanvas.h
Labels: bug, renderer

#1975 Portability: Fix compiler shadowing warning
  src/common/tvgLock.h
Labels: portability

#1976 web: code refactoring
  web/src/lottie-player.ts
Labels: refactoring, web

#1978 loader/svg: Fix empty id to null
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#1981 lottie: remove the duplicated binary search logic.
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie

#1980 wg_engine: animation optimizations (part 1)
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: feature, optimization, raster

#1982 loader/webp: do not expose webp apis.
  src/loaders/webp/webp/types.h
Labels: portability, image

#1988 common/array: code refactoring
  src/common/tvgArray.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/sw_engine/tvgSwMath.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRle.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
  src/renderer/tvgShape.h
  src/renderer/tvgTaskScheduler.cpp
Labels: refactoring

#1989 lottie/parser: clean up the exception handling mechanisms.
  src/loaders/lottie/tvgLottieParser.cpp
Labels: refactoring, lottie

#1990 examples/picture/svg: Adjust size ratio
  src/examples/PictureSvg.cpp
Labels: example

#1992 wg_engine: meson script fixed
  src/renderer/wg_engine/meson.build
Labels: infrastructure

#1993 sw_engine: fixing stroke outline
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: bug

#1985 sw_engine: Increasing accuracy for dashed curves
  src/common/tvgBezier.cpp
  src/common/tvgBezier.h
  src/loaders/lottie/tvgLottieProperty.h
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: enhancement

#1998 lottie: introduced LottieProperty base class
  src/loaders/lottie/tvgLottieProperty.h
Labels: enhancement, lottie

#2000 gl_engine: fix a compile warnings, errors.
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: portability, raster

#2001 svg: Improve valid check for url(#id)
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#2005 Lottie loader: fix compilation on windows
  src/loaders/lottie/tvgLottieModel.h
Labels: portability

#2009 lottie: clean up code and minor bugs by mistake.
  src/examples/LottieExtension.cpp
  src/loaders/lottie/thorvg_lottie.h
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieProperty.h
Labels: lottie

#2007 examples: ++threading stability.
  src/examples/AnimateMasking.cpp
  src/examples/Animation.cpp
  src/examples/DirectUpdate.cpp
Labels: bug, example

#2010 Update README.md
  web/README.md
Labels: documentation
