Repository thorvg/thorvg, pull requests merged in 2024-08, with the labels that each got.

#2607 common: fix trimming
  src/renderer/tvgRender.h
Labels: bug

#2577 wg_engine: introduce simultaneous flag support for strokes trimming
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
Labels: feature, raster

#2609 lottie: remove useless condition check.
  src/loaders/lottie/tvgLottieAnimation.cpp
Labels: refactoring

#2603 wg_engine: emscripten and browser support
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: infrastructure, refactoring, raster

#2588 sw_engine: handle grad edge cases
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: enhancement, renderer

#2610 lottie/expressions: add missing expressions property updates
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#2611 Revert `_DISABLE_CONSTEXPR_MUTEX_CONSTRUCTOR` workaround
  src/common/tvgLock.h
  src/renderer/tvgTaskScheduler.h
Labels: refactoring

#2616 lottie: support matte+masking combination
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#2617 renderer: rectified the bounds() behavior
  src/renderer/tvgPaint.cpp
  src/renderer/tvgText.h
Labels: showstopper

#2585 infra: switch the optimization option to level 3
  meson.build
Labels: infrastructure

#2621 common: increase precision for bezier calculations
  src/common/tvgMath.cpp
Labels: enhancement, showstopper

#2614 wg_engine: composition and blend optimization - PART 1
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring, optimization, raster

#2626 wg_engine: light/dark mask mode support
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: feature, raster

#2628 lottie: handle rounded polygons
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#2633 lottie: code refactoring
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
Labels: refactoring, lottie

#2581 wasm: thorvg canvas resize problem.
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: binding

#2627 lottie: handle edge case for rounded rect
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#2634 common: spec out Scene Clipper
  examples/SceneClipper.cpp
  examples/meson.build
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/sw_engine/tvgSwRle.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgText.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, APIs

#2630 wg_engine: shaders refactoring
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring, raster

#2635 lottie: prioritization of roundness in rectangles
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#2641 API: deprecate the appendArc() api
  examples/Arc.cpp
  examples/Capi.cpp
  examples/StrokeLine.cpp
  examples/meson.build
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/tvgShape.cpp
  test/capi/capiShape.cpp
  test/testShape.cpp
  test/testSwEngine.cpp
Labels: APIs

#2646 lottie: ensure a null terminator at the end of the copied data
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: refactoring, lottie

#2649 build: Override dependency for use as subproject
  inc/meson.build
  src/meson.build
Labels: infrastructure

#2650 build: Remove redundant comparisons
  examples/meson.build
  meson.build
  src/bindings/meson.build
  src/bindings/wasm/meson.build
  src/loaders/meson.build
  src/meson.build
  test/meson.build
  tools/meson.build
Labels: infrastructure, refactoring

#2637 common: spec out TexMap
  examples/Texmap.cpp
  examples/TvgSaver.cpp
  examples/meson.build
  inc/thorvg.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwImage.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterTexmap.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.h
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/savers/tvg/tvgTvgSaver.cpp
  test/resources/tag.tvg
  test/testPicture.cpp
Labels: refactoring, APIs

#2653 doc: ++enhancement in Picture::load()
  inc/thorvg.h
Labels: documentation

#2638 wg_engine: composition and blend optimization - PART 2
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: optimization, raster

#2645 docs: description++
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#2644 examples: capi example ++
  examples/Capi.cpp
Labels: example

#2661 wasm: code refactoring
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: refactoring

#2660 sw_engine: fix TexmapPolygon rastering
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: refactoring, showstopper, raster

#2663 examples: added image rotation
  examples/ImageRotation.cpp
  examples/meson.build
Labels: example

#2658 lottie: fix text update
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: showstopper, lottie

#2672 lottie/jerryscript: ++build reliance
  src/loaders/lottie/jerryscript/jerry-core/ecma/operations/ecma-objects.cpp
Labels: lottie

#2671 gl_engine: fix mistake in the calculation of stroke miter limit
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
Labels: enhancement, raster

#2674 lottie/expressions: Improve safety
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieProperty.h
Labels: showstopper, lottie

#2680 lottie/parser: enable logs to notify missing features
  src/loaders/lottie/tvgLottieParser.cpp
Labels: refactoring, lottie

#2686 wasm: fix typo
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: bug

#2675 wg_engine: masking optimization - PART 3
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: optimization, raster

#2683 renderer/text: fix a missing text update
  src/loaders/ttf/tvgTtfLoader.cpp
  src/loaders/ttf/tvgTtfLoader.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgText.h
Labels: bug, renderer

#2694 lottie: fix trim path regression
  src/loaders/lottie/tvgLottieModel.cpp
Labels: bug, showstopper, lottie

#2688 lottie: fix trim
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#2679 svg_loader: Adjust hsl values out of range
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#2698 lottie/expressions: hotfix a crash
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: showstopper, lottie

#2668 common: uint8_t version of the lerp
  src/common/tvgMath.cpp
  src/common/tvgMath.h
Labels: refactoring

#2654 ++ blendings
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: enhancement, raster, renderer

#2699 sw_engine: increased accuracy in dashing
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: enhancement, raster
