Repository thorvg/thorvg, pull requests merged in 2024-03, with the labels that each got.

#1999 lottie: use internal append rect/ellipse func
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: refactoring, lottie

#1987 common: Changing the circle/ellipse starting point
  src/renderer/tvgShape.cpp
Labels: enhancement, renderer

#1996 common: Changing the rounded rect starting point
  src/renderer/tvgShape.cpp
Labels: enhancement

#2016 saver: ++robustness
  src/renderer/tvgSaver.cpp
Labels: enhancement, renderer

#2019 lottie: copy the data only necessarily.
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie

#2022 lottie: code refactoring.
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/renderer/tvgShape.cpp
Labels: refactoring, lottie

#2023 sw_engine: fix a regression bug.
  src/renderer/sw_engine/tvgSwMath.cpp
Labels: bug, raster

#2024 sw_engine: fix a regression bug
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug

#2025 gl_engine: use stencil and cover tessellator by default
  src/renderer/gl_engine/tvgGlGeometry.cpp
Labels: enhancement, raster

#2012 wg_engine: antialiasing
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
Labels: feature, raster

#2028 capi: added missing lottie header
  src/bindings/capi/tvgCapi.cpp
Labels: bug, lottie

#2026 renderer/loader: revamping the caching mechanism.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgLoader.cpp
Labels: bug, renderer

#2033 lottie/api: specify clear result for override API
  src/bindings/capi/thorvg_capi.h
  src/loaders/lottie/thorvg_lottie.h
  src/loaders/lottie/tvgLottieAnimation.cpp
Labels: APIs, lottie

#2030 test: Updated test code for the lottie slot
  test/capi/capiLottie.cpp
  test/capi/meson.build
  test/meson.build
  test/resources/lottieslot.json
  test/testLottie.cpp
Labels: test, lottie

#2036 wg_engine: fill spread
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: feature, raster

#2027 sw_engine: fix radial gradient when focal point is outside circle on Apple Silicon
  AUTHORS
  src/examples/resources/radial_gradient_focal_outside_circle.svg
  src/renderer/sw_engine/tvgSwFill.cpp
Labels: bug, raster

#2042 png: corrected a wrong premultiplied option.
  src/loaders/png/tvgPngLoader.cpp
  src/renderer/tvgRender.h
Labels: bug, image

#2046 lottie/slot: Support overriding plural sids
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: enhancement, lottie

#2040 gl_engine: enable msaa resolve in GLRenderPass
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
Labels: enhancement, raster

#2049 renderer/gl_engine: Refine GlCanvas Interface
  inc/thorvg.h
  src/examples/Accessor.cpp
  src/examples/AnimateMasking.cpp
  src/examples/Animation.cpp
  src/examples/Arc.cpp
  src/examples/Blending.cpp
  src/examples/ClipPath.cpp
  src/examples/CustomTransform.cpp
  src/examples/DataLoad.cpp
  src/examples/DirectUpdate.cpp
  src/examples/Duplicate.cpp
  src/examples/FillRule.cpp
  src/examples/GradientMasking.cpp
  src/examples/GradientStroke.cpp
  src/examples/GradientTransform.cpp
  src/examples/ImageScaleDown.cpp
  src/examples/ImageScaleUp.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LinearGradient.cpp
  src/examples/Lottie.cpp
  src/examples/LottieExtension.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/MaskingMethods.cpp
  src/examples/MultiCanvas.cpp
  src/examples/MultiShapes.cpp
  src/examples/Opacity.cpp
  src/examples/Path.cpp
  src/examples/PathCopy.cpp
  src/examples/Performance.cpp
  src/examples/PictureJpg.cpp
  src/examples/PicturePng.cpp
  src/examples/PictureRaw.cpp
  src/examples/PictureSvg.cpp
  src/examples/PictureTvg.cpp
  src/examples/PictureWebp.cpp
  src/examples/RadialGradient.cpp
  src/examples/Retaining.cpp
  src/examples/Scene.cpp
  src/examples/SceneBlending.cpp
  src/examples/SceneClipper.cpp
  src/examples/SceneTransform.cpp
  src/examples/Shape.cpp
  src/examples/Stroke.cpp
  src/examples/StrokeLine.cpp
  src/examples/StrokeMiterlimit.cpp
  src/examples/Svg.cpp
  src/examples/Texmap.cpp
  src/examples/Text.cpp
  src/examples/Transform.cpp
  src/examples/Tvg.cpp
  src/examples/Update.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/tvgGlCanvas.cpp
Labels: enhancement, raster

#2054 capi: Add two additional ColorSpace options to align with C++ APIs.
  src/bindings/capi/thorvg_capi.h
Labels: APIs

#2041 loader/webp: Remove WEBP_FORCE_ALIGNED and use memcpy() instead
  src/loaders/webp/utils/bit_reader.cpp
  src/loaders/webp/utils/bit_reader_inl.h
  src/loaders/webp/utils/utils.h
Labels: portability, image

#2052 lottie: fixed a compiler warning:
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: portability, lottie

#2056 wg_engine: winding fill rule
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: feature, raster

#2063 lottie: Renamed function names with prefix
  src/loaders/lottie/tvgLottieInterpolator.cpp
Labels: refactoring, portability, lottie

#2060 ttf: enhance UWP portability with alternative file loading
  src/loaders/ttf/tvgTtfLoader.cpp
Labels: portability, font

#2059 renderer: ensure paints retain composition context
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
Labels: enhancement, renderer

#2071 lottie: Prevent memory leak when file is invalid
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#2069 wg_engine: stroke first
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
Labels: enhancement, raster

#2065 loader/svg: Remove duplicate if-check in pathAppendArcTo
  src/loaders/svg/tvgSvgPath.cpp
Labels: bug, svg

#2057 Better regression testing
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_ubuntu.yml
  .github/workflows/build_windows.yml
  .github/workflows/regression.yml
  .github/workflows/regression_check.py
  .github/workflows/regression_check.sh
  test/regression/check_same_image_size.py
  test/regression/settings.toml
Labels: infrastructure

#2074 examples/lottie: do not scan samples recursively.
  src/examples/Lottie.cpp
Labels: example

#2064 gl_engine: make stencil task support other advance logical
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: enhancement, raster

#2076 loader/lottie: Prevent leak memory when image load fails
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#2086 ttf: ++uwp portability
  src/loaders/ttf/tvgTtfLoader.cpp
  src/loaders/ttf/tvgTtfLoader.h
Labels: portability, font

#2085 use MATH_PI and MATH_PI2 instead of M_PI and M_PI_2
  src/common/tvgMath.cpp
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
  src/renderer/tvgShape.cpp
  src/renderer/wg_engine/tvgWgGeometry.cpp
Labels: refactoring

#2089 [common] code clean up
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: refactoring

#2082 wg_engine: stroke trim
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: feature, raster

#2087 lottie/slot: Fixed potential overriding bug
  src/loaders/lottie/tvgLottieModel.h
Labels: enhancement, lottie

#2092 renderer: Fix a crash issue related to the clipper
  src/renderer/tvgPaint.cpp
Labels: bug, renderer

#2098 sw_engine: rectify consecutive line drawings.
  src/examples/resources/svg/consecutive_lines.svg
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: enhancement, raster

#2091 api: Promote experimental Animation APIs to official status.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: APIs

#2100 lottie: Fix crash when an invalid gradient is provided
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#2099 sw_engine: stabilize the contour composition logic.
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug, raster

#2101 lottie: Fix crash from invalid masking method
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#2102 lottie: code refactoring.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: refactoring, lottie

#2103 wg_engine: render buffers usage refactorings
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: refactoring, optimization

#2105 doc: List the parameters in their respective order.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: APIs

#2090 loader/svg: Do recalc after gradient inheritance
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#2079 loader/svg: Check whether href id of use is parent or not
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, svg

#2109 lottie: Removed redundant code.
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: refactoring, lottie

#2112 lottie: polish up a comment.
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: refactoring, lottie

#2110 portability: removed a compiler waring
  src/loaders/lottie/tvgLottieParserHandler.h
Labels: portability, lottie

#2114 README.MD: add instructions to install and update thorVG with MSYS2
  README.md
Labels: documentation
