Repository thorvg/thorvg, pull requests merged in 2024-06, with the labels that each got.

#2344 sw_engine: fix dashing
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug, renderer

#2343 lottie: parsing obj property inside this obj
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#2354 common: fix typos & remove unused var
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: refactoring

#2342 gl_engine: fix GradientStroke ignored by tessellator
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#2339 wg_engine: fix color buffer corruption with wgpu-opengl wrapper (linux)
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#2357 gl_engine: fix gradient color interpretation error
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: bug, raster

#2351 common: clarification of returned types
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
Labels: documentation, refactoring

#2356 lottie: Fix invalid font match
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, showstopper, lottie

#2341 sw_engine: fix trimming
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug, raster

#2359 api: corrected return type.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/tvgShape.cpp
  test/capi/capiShape.cpp
  test/testShape.cpp
Labels: APIs

#2361 sw_engine: Fine-tuning RLE performance.
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: optimization, raster

#2364 examples: fix memory leak
  examples/MaskingMethods.cpp
Labels: bug, example

#2372 test: resolve compiler warnings on msvc.
  test/capi/capiShape.cpp
  test/testShape.cpp
Labels: refactoring, test

#2378 docs: resolve doxygen warnings
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#2380 sw_engine: fix fastTrack condition
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug, renderer

#2362 svg_loader: handle text node
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: enhancement, svg

#2387 Update README.md
  README.md
Labels: documentation

#2388 Update README.md
  README.md
Labels: documentation

#2376 gl_engine: fix clip path and bounds not correct
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderPass.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
Labels: bug, raster

#2358 wg_engine: cross-platform support (windows, linux and macos)
  inc/thorvg.h
  src/renderer/tvgWgCanvas.cpp
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: enhancement, APIs, raster

#2398 infra: relocate the tools folder.
  meson.build
  src/meson.build
  tools/lottie2gif/lottie2gif.cpp
  tools/lottie2gif/meson.build
  tools/meson.build
  tools/svg2png/lodepng.cpp
  tools/svg2png/lodepng.h
  tools/svg2png/meson.build
  tools/svg2png/svg2png.cpp
  tools/svg2tvg/meson.build
  tools/svg2tvg/svg2tvg.cpp
Labels: infrastructure

#2396 sw_engine: fix a missing anti-aliasing
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug, raster

#2399 sw_engine: fix a crash issue.
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: bug, raster

#2404 capi: remove the incorrectly named API
  src/bindings/capi/tvgCapi.cpp
Labels: refactoring, binding

#2407 renderer/canvas: clean up code
  src/renderer/tvgGlCanvas.cpp
  src/renderer/tvgSwCanvas.cpp
  src/renderer/tvgWgCanvas.cpp
Labels: refactoring

#2408 infra: build wg canvas properly.
  src/renderer/meson.build
Labels: infrastructure

#2400 wg_engine: fix strokes failers and visual atrifacts
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: bug, raster

#2406 wg_engine: fix fill rule usage
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
Labels: bug, raster

#2409 wg_engine: fix composition math
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#2411 wg_engine: --redundant code
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, raster

#2412 wg_engine: skip shapes with zero opacity values
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: bug, raster

#2413 examples: add FillSpread example
  examples/FillSpread.cpp
  examples/meson.build
Labels: example

#2414 infra: --egl dependncy
  README.md
  src/renderer/gl_engine/tvgGlCommon.h
Labels: infrastructure, raster

#2416 lottie: fix repeater order
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#2417 common: add missing ifdef
  src/renderer/tvgLoader.cpp
  test/testSavers.cpp
Labels: bug

#2421 tests: add missing capi saver tests & ifdefs
  test/capi/capiSavers.cpp
  test/testSavers.cpp
Labels: test

#2427 sw_engine: hotfix avx/neon 8 bit rasterizer.
  src/renderer/sw_engine/tvgSwRasterAvx.h
  src/renderer/sw_engine/tvgSwRasterNeon.h
Labels: bug, raster

#2429 sw_engine: ++exception handling
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: bug, raster

#2424 lottie: fix a compile error on MSC with clang.
  src/loaders/lottie/jerryscript/jerry-core/jrt/jrt.h
Labels: portability

#2422 wg_engine: fix incorrect geomatry
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: bug, raster

#2432 docs: remove deprecated description
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#2431 tests: resolve warnings
  test/capi/capiText.cpp
Labels: test

#2438 infra: promote the GL engine to an official one.
  meson.build
  meson_options.txt
  src/renderer/meson.build
Labels: infrastructure

#2440 examples: Support window resizable
  examples/Example.h
Labels: example

#2434 sw_engine: fix stroke miterlimit precision
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: bug, raster

#2446 lottie: hotfix for preventing a crash.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, showstopper, lottie

#2449 example: clear buffer properly.
  examples/DirectUpdate.cpp
Labels: example

#2445 gl_engine: Fix compile error if only has OpenGL library on MacOS
  examples/Example.h
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlShader.cpp
Labels: infrastructure, portability, raster

#2441 renderer/canvas: Check refresh before draw
  src/renderer/tvgCanvas.h
Labels: bug, renderer

#2451 gl_engine: revise the gl portability
  README.md
  examples/Example.h
  examples/meson.build
  meson.build
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlShader.cpp
Labels: portability, raster

#2452 gl_engine: Fix compose render not correct after canvas resize
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
Labels: bug, raster

#2456 release: updated tvg binaries
  examples/resources/tvg/gallardo.tvg
  test/resources/tag.tvg
Labels: tvg

#2458 docs: add missing args description
  inc/thorvg.h
Labels: documentation

#2460 examples: --unnecessary initial buffer clear
  examples/Example.h
Labels: example

#2464 gl_engine: Fix memory leak caused by no deleted GlRenderTask
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#2450 doc: removed useless information for easier maintainence
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: documentation

#2467 gl_engine: correct the return value of render function
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, raster

#2433 wg_engine: fix stroke miterlimit
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, raster

#2471 tvg_saver: fix 'order' serialization
  src/savers/tvg/tvgTvgSaver.cpp
  test/resources/tag.tvg
Labels: bug, tvg

#2470 wg_engine: force texture data writing on GPU side
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: bug, raster

#2474 apis: promotes to official apis.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
Labels: APIs

#2472 tests: ++coverage
  test/capi/capiText.cpp
  test/resources/test10.json
  test/testAnimation.cpp
  test/testSwEngine.cpp
  test/testText.cpp
Labels: test

#2476 examples: fix sdl2 headers include path
  examples/Example.h
Labels: refactoring, example

#2477 Revert "renderer/canvas: Check refresh before draw"
  src/renderer/tvgCanvas.h
Labels: showstopper

#2478 lottie: fix a data-race problem
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: bug, lottie

#2480 examples: fix sdl2 headers in Capi example
  examples/Capi.cpp
Labels: example

#2479 common: fix rendering failure
  examples/resources/svg/thanks.svg
  src/renderer/tvgText.h
Labels: bug

#2483 example: ++exception handling
  examples/Example.h
Labels: bug, example

#2454 wg_engine: fix line joins
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, raster

#2486 example: do not scan a given resource folder recursively
  examples/Example.h
Labels: example

#2487 sw_engine: ++thread safety
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug, raster

#2488 test/capi: --compiler warning on MSVC
  test/capi/capiSavers.cpp
Labels: portability, test

#2491 doc: polishing++
  inc/thorvg.h
Labels: documentation

#2497 renderer: Ensure `const` equality operators
  src/renderer/gl_engine/tvgGlGeometry.h
  src/renderer/tvgRender.h
Labels: refactoring, raster
