Repository thorvg/thorvg, pull requests merged in 2025-04, with the labels that each got.

#3376 loaders: ++static loader thread safty
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/png/tvgPngLoader.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/webp/tvgWebpLoader.cpp
Labels: bug, svg, image

#3373 lottie: fix stroke cap/join values
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, APIs, lottie, binding

#3384 lottie: simplify text layout calculation
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: refactoring, lottie

#3379 lottie/text: added range selector flags
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#3388 lottie: add custom layer effect with expressions support
  examples/resources/lottie/expressions/10456.json
  examples/resources/lottie/expressions/16447.json
  examples/resources/lottie/expressions/4128.json
  examples/resources/lottie/expressions/layereffect.json
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieExpressions.h
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
  src/loaders/lottie/tvgLottieProperty.h
Labels: enhancement, example, lottie

#3386 lottie: revert "lottie: more precise culling for inverse mattes"
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
Labels: bug, lottie

#3391 lottie: follow path fixes
  src/loaders/lottie/tvgLottieModel.cpp
Labels: bug, lottie

#3389 common: fix incorrect aabb of scenes
  src/renderer/tvgScene.h
Labels: bug, renderer

#3398 lottie: safety++
  src/loaders/lottie/tvgLottieModel.h
Labels: lottie

#3399 ttf: prevent crash while converting utf8 to unicode
  src/loaders/ttf/tvgTtfLoader.cpp
Labels: bug, font

#3396 gl_engine: introduce dropshadow effect for opengl renderer
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderTask.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.h
Labels: feature, gl

#3407 renderer: fixed a clippging update isssue
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgRender.h
Labels: bug, cpu, renderer

#3408 renderer: add missing RenderUpdateFlag
  src/renderer/tvgShape.h
Labels: bug, renderer

#3409 lottie: fixed a invalid memory access
  src/loaders/lottie/tvgLottieProperty.h
Labels: showstopper, lottie

#3411 api: fixed a build linking issue on lottie
  inc/thorvg.h
  src/loaders/lottie/thorvg_lottie.h
  src/loaders/lottie/tvgLottieAnimation.cpp
Labels: APIs, lottie

#3413 lottie/expressions: --memory leak
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: lottie, borker

#3414 svg: fixed invalid memory access
  src/loaders/svg/tvgXmlParser.cpp
Labels: bug, svg

#3415 renderer: revise the pImpl design with a better efficiency
  inc/thorvg.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/tvgCommon.h
  src/renderer/tvgFill.cpp
  src/renderer/tvgFill.h
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.h
  src/renderer/tvgScene.cpp
  src/renderer/tvgScene.h
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
  src/renderer/tvgText.cpp
  src/renderer/tvgText.h
Labels: refactoring, APIs, optimization, cpu, lottie, renderer, gl

#3418 sw_engine: --size reduction
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: refactoring, optimization

#3421 api: revise engine initialization and termination
  examples/Capi.cpp
  examples/Example.h
  examples/MultiCanvas.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwPostEffect.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgCommon.h
  src/renderer/tvgGlCanvas.cpp
  src/renderer/tvgInitializer.cpp
  src/renderer/tvgSwCanvas.cpp
  src/renderer/tvgWgCanvas.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  test/testAccessor.cpp
  test/testInitializer.cpp
  test/testPicture.cpp
  test/testScene.cpp
  tools/lottie2gif/lottie2gif.cpp
  tools/svg2png/svg2png.cpp
Labels: refactoring, example, tools, APIs, test, cpu, renderer, binding, gl, webgpu

#3420 svg_loader: fix clipping in use/symbol nodes
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg
