Repository thorvg/thorvg, pull requests merged in 2025-02, with the labels that each got.

#3174 include <cstring> in examples/Example.h
  examples/Example.h
Labels: example, portability, borker

#3172 common: more accurate clipped viewport rounding
  src/renderer/tvgPaint.cpp
Labels: renderer

#3176 commmon: ++neat code
  src/common/tvgArray.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
Labels: refactoring, lottie, renderer

#3178 lottie: compact code & size++
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: refactoring, lottie

#3180 lottie: allow expressions for the text properties
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#3181 lottie: neat code++
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModifier.cpp
  src/loaders/lottie/tvgLottieModifier.h
Labels: refactoring, lottie

#3182 lottie: ++compact & neat code
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieExpressions.h
  src/loaders/lottie/tvgLottieModifier.cpp
  src/loaders/lottie/tvgLottieModifier.h
  src/loaders/lottie/tvgLottieProperty.h
  src/renderer/tvgRender.h
Labels: refactoring, lottie, renderer

#3177 wg_engine: gaussian blur basic implementation
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: feature, webgpu, raster

#3186 common: neat code++
  src/common/tvgMath.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoader.h
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: refactoring, svg, renderer, raster

#3188 common: add missing condition while trimming
  src/renderer/tvgTrimPath.cpp
Labels: bug, renderer

#3196 infra: sync up the github labeler
  .github/labeler.yml
Labels: infrastructure

#3202 sw/gl/wg: ++threads safety
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgSwCanvas.cpp
  src/renderer/tvgWgCanvas.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, cpu, renderer, gl, webgpu

#3203 renderer: revise the Shape rect/circle features
  examples/Capi.cpp
  examples/StrokeTrim.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
  test/testShape.cpp
Labels: refactoring, example, svg, APIs, test, lottie, renderer, binding

#3207 renderer: fix trimmed stroke blinking
  src/renderer/tvgTrimPath.cpp
Labels: renderer, borker

#3211 lottie/jerryscript: removed dead code
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-extended-info.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-gc.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-globals.h
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-helpers.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-helpers.h
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-lcache.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-line-info.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-line-info.h
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/meson.build
  src/loaders/lottie/jerryscript/jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/operations/ecma-exceptions.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/operations/ecma-objects-general.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/operations/ecma-promise-object.h
  src/loaders/lottie/jerryscript/jerry-core/include/jerry-config.h
  src/loaders/lottie/jerryscript/jerry-core/jcontext/jcontext.h
  src/loaders/lottie/jerryscript/jerry-core/jmem/jmem-allocator-internal.h
  src/loaders/lottie/jerryscript/jerry-core/jmem/jmem-allocator.cpp
  src/loaders/lottie/jerryscript/jerry-core/jmem/jmem-heap.cpp
  src/loaders/lottie/jerryscript/jerry-core/jmem/jmem-poolman.cpp
  src/loaders/lottie/jerryscript/jerry-core/jmem/jmem.h
  src/loaders/lottie/jerryscript/jerry-core/jrt/jrt.h
  src/loaders/lottie/jerryscript/jerry-core/lit/lit-magic-strings.inc.h
  src/loaders/lottie/jerryscript/jerry-core/parser/js/byte-code.h
  src/loaders/lottie/jerryscript/jerry-core/parser/js/common.h
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-lexer.cpp
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-lexer.h
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-parser-expr.cpp
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-parser-internal.h
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-parser-limits.h
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-parser-line-info-create.cpp
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-parser-statm.cpp
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-parser-util.cpp
  src/loaders/lottie/jerryscript/jerry-core/parser/js/js-parser.cpp
  src/loaders/lottie/jerryscript/jerry-core/parser/js/meson.build
  src/loaders/lottie/jerryscript/jerry-core/vm/opcodes.cpp
  src/loaders/lottie/jerryscript/jerry-core/vm/vm-utils.cpp
Labels: refactoring, lottie

#3216 jerryscript: fix warnings on masOS (intel)
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-helpers-conversion.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/base/ecma-helpers-number.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/builtin-objects/ecma-builtin-math.cpp
  src/loaders/lottie/jerryscript/jerry-core/ecma/operations/ecma-typedarray-object.cpp
Labels: lottie

#3201 webgpu_gaussian_optimization
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring, optimization, webgpu, raster

#3219 sw_engine: ++clean code
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: refactoring, cpu

#3225 lottie: properly copy missing property values
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie

#3226 lottie: --casting compiler warnings
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: refactoring, lottie

#3227 wg_engine: fix dash offset behavior
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, webgpu

#3220 lottie: parsing embedded fonts data
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: enhancement, lottie

#3238 sw_engine: fix update issue
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: bug, cpu

#3239 wasm: optimize binary size
  cross/wasm32.txt
  cross/wasm32_gl.txt
  cross/wasm32_sw.txt
  cross/wasm32_wg.txt
  wasm_build.sh
Labels: optimization

#3240 sw_engine: properly set shared pool and don't flush memory pool
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
Labels: refactoring, cpu

#3233 wg_engine: introduced global vertexbuffer mempool / ++thread safety
  cross/wasm32.txt
  cross/wasm32_wg.txt
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, webgpu

#3228 gl_engine: fix dashing
  src/renderer/gl_engine/tvgGlTessellator.cpp
Labels: enhancement, gl

#3229 gl_engine: add offset support in dashed strokes
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: enhancement, gl

#3243 wg_engine: fix a memory violation by a mistake
  src/renderer/wg_engine/tvgWgGeometry.cpp
Labels: borker, webgpu

#3236 wg/gl_engine: standardize shapes closing precision
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, gl, webgpu

#3245 wg_engine: Fix undefined error in task scheduler usage
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: borker, webgpu

#3242 wg_engine: fix stroke update
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: bug, webgpu

#3247 sw_engine: fix internal types of rasterXYFlip
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: refactoring, cpu

#3254 wasm: fix ambigious symbols
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: binding, borker

#3255 common: remove redundant lzw decoder
  src/common/tvgCompressor.cpp
  src/common/tvgCompressor.h
Labels: refactoring, renderer

#3259 lottie/expressions: Fix incorrect evaluation result check condition
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: bug, lottie

#3250 wg_engine: Introduce drop shadow effect for webgpu renderer
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: feature, webgpu

#3271 gl/wg_engine: fix differences in dashing among engines
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, gl, webgpu

#3274 examples: renamed StrokeTrim -> TrimPath
  examples/TrimPath.cpp
  examples/meson.build
Labels: refactoring, example

#3275 examples: allow the engine name from the test script
  examples/all.sh
Labels: example

#3277 renderer: remove unused file
  src/renderer/tvgTrimPath.cpp
Labels: renderer

#3280 lottie: more precise culling for inverse mattes
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
Labels: enhancement, lottie

#3278 wg_engine: Introduce fill effect for webgpu renderer
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.h
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: feature, webgpu

#3272 gl_engine: fix line join while dashing
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: enhancement, gl

#3270 ttf_loader: handling contours starting with OFF_CURVE
  src/loaders/ttf/tvgTtfReader.cpp
Labels: enhancement, font

#3257 wasm: optimize default font size
  src/bindings/wasm/tvgWasmDefaultFont.h
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: optimization, binding

#3284 wasm: refine the logic for clarity
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: refactoring, binding

#3281 common: Support .lot extension
  examples/Lottie.cpp
  examples/LottieExpressions.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/renderer/tvgCommon.h
  src/renderer/tvgLoader.cpp
Labels: enhancement, example, APIs, lottie, renderer, binding

#3287 sw_engine: hanndle empty clips
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: cpu, borker

#3283 lottie: optimize rendering performance
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: optimization, lottie

#3291 wg_engine: introduce tiny and triton effect for webgpu renderer
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: feature, webgpu

#3293 wg_engine: fix memory leak sanitizer report (fill effect)
  src/renderer/wg_engine/tvgWgPipelines.cpp
Labels: bug, webgpu

#3294 common: replace the strdup() with strDuplicate()
  src/common/tvgStr.cpp
  src/common/tvgStr.h
  src/loaders/lottie/tvgLottieInterpolator.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParserHandler.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/loaders/svg/tvgSvgCssStyle.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgXmlParser.cpp
  src/renderer/tvgCommon.h
  src/renderer/tvgLoader.cpp
  src/renderer/tvgText.h
  src/savers/gif/tvgGifSaver.cpp
Labels: refactoring, svg, image, lottie, renderer
