Repository thorvg/thorvg, pull requests merged in 2025-05, with the labels that each got.

#3428 wg_engine: fixed target texture update
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: webgpu

#3430 lottie: fix stroke join for offset path
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#3432 sw_engine: ++raster color accuracy
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: enhancement, cpu

#3433 example: disable vsync of sw window for stability.
  examples/Example.h
Labels: refactoring, example

#3436 examples: changed animatable window size.
  examples/CustomTransform.cpp
  examples/DirectUpdate.cpp
  examples/GradientTransform.cpp
  examples/ImageRotation.cpp
  examples/Retaining.cpp
  examples/SceneTransform.cpp
  examples/Transform.cpp
  examples/Update.cpp
Labels: refactoring, example

#3434 wg_engine: fixed target surface update
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: bug, webgpu

#3438 capi: added missing mask methods
  src/bindings/capi/thorvg_capi.h
Labels: binding

#3441 lottie: add missing delimiter
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: lottie

#3445 gl_engine: dynamic load gl functions
  examples/Example.h
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGl.cpp
  src/renderer/gl_engine/tvgGl.h
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
Labels: example, gl

#3447 infra: added opengl_es extra option for explicit selection
  examples/meson.build
  meson.build
  meson_options.txt
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGl.cpp
  src/renderer/gl_engine/tvgGl.h
Labels: infrastructure, example, gl

#3451 examples: updated svg
  examples/resources/svg/johnny_automatic_ebi_nigiri_sushi.svg
  examples/resources/svg/tommek_Car.svg
Labels: example

#3393 lottie: support for firstMargin < 0 in text follow path
  src/loaders/lottie/tvgLottieModel.cpp
Labels: lottie

#3458 wg_engine: ++exception handling
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: refactoring, webgpu

#3460 lottie: fix points calculation for rounded polygon
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#3467 lottie: removed undesired embedded option.
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: refactoring, lottie

#3468 tools/lottie2gif: typo fix
  tools/lottie2gif/lottie2gif.cpp
Labels: tools

#3470 svg_loader: Fix <stop> being registered in closed latestGradient
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: bug, svg

#3476 wasm: enable software only it's valid
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: binding

#3474 sw_engine: fix too small memory alloc for spans
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: bug, cpu

#3477 sw_engine: added diagnostics for potential issues
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: refactoring, cpu

#3478 gl_engine: fix memory leak on target resize
  src/renderer/gl_engine/tvgGlRenderTarget.cpp
  src/renderer/gl_engine/tvgGlRenderTarget.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: bug, gl

#3473 lottie: fix precomposition with masking
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#3491 wg_engine: geometry stage buffers implementation
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.h
  src/renderer/wg_engine/tvgWgRenderTask.cpp
  src/renderer/wg_engine/tvgWgRenderTask.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: refactoring, optimization, webgpu
