Repository thorvg/thorvg, pull requests merged in 2025-06, with the labels that each got.

#3507 gl_engine: fix always-true clear flag
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
Labels: bug, gl

#3513 lottie: fixed a repeater opacity logic
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
Labels: bug, lottie

#3518 sw_engine: texture mapping performance optimization
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: optimization, cpu

#3519 sw_engine: replaced texture mapping AA with 4x sampling interp
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: bug, optimization, cpu

#3521 sw_engine: revised the texture clipping
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterTexmap.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
Labels: bug, enhancement, cpu, lottie

#3524 renderer: caching the viewport update
  src/renderer/tvgScene.h
Labels: refactoring, renderer

#3522 wg_engine: uniform stage buffers implementation
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgBindGroups.h
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.h
Labels: refactoring, optimization, webgpu

#3526 lottie: fix offset with miter join
  src/loaders/lottie/tvgLottieModifier.cpp
Labels: bug, lottie

#3532 wg_engine: clean code++
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: refactoring, webgpu

#3535 api: revise the canvas update() API
  examples/ImageScaling.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/tvgCanvas.cpp
  src/renderer/tvgCanvas.h
  src/renderer/tvgPicture.h
  src/renderer/tvgScene.h
  test/testPaint.cpp
Labels: example, APIs, test, renderer, binding

#3527 wg_engine: avoid forced texture flushes
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgCompositor.cpp
Labels: optimization, webgpu

#3536 renderer: clean up the render update condition
  src/loaders/lottie/tvgLottieAnimation.cpp
  src/renderer/tvgAnimation.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.h
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
Labels: refactoring, lottie, renderer

#3544 example: added particle effects
  examples/Particles.cpp
  examples/meson.build
  examples/resources/image/particle.jpg
Labels: example

#3548 avx/neon: remove double increment of the value
  src/renderer/sw_engine/tvgSwRasterAvx.h
  src/renderer/sw_engine/tvgSwRasterNeon.h
Labels: bug, cpu

#3553 sw_engine: fix focal point clamping
  src/renderer/sw_engine/tvgSwFill.cpp
Labels: bug

#3565 build: Export TVG_STATIC to parent projects
  src/meson.build
Labels: portability

#3578 sw_engine: Fix potential memory violation in direct image drawing
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: bug, cpu
