Repository thorvg/thorvg, pull requests merged in 2025-08, with the labels that each got.

#3684 renderer: added an API to set the visibility of the Paint object.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  test/testPaint.cpp
Labels: feature, APIs, test, renderer, binding

#3681 wg_engine: fix gauss border clamping
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, webgpu

#3685 sw_engine: hotfix a partial rendering condition
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug, cpu

#3680 wg_engine: hsl blending support
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: feature, webgpu

#3706 sw_engine: neat & clean data++
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: refactoring, cpu

#3701 wasm: enable closure optimization for JS glue
  cross/wasm32.txt
  cross/wasm32_gl.txt
  cross/wasm32_sw.txt
  cross/wasm32_wg.txt
Labels: optimization

#3708 revise the engine based bbox support
  examples/BoundingBox.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/common/tvgMath.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwMath.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/sw_engine/tvgSwShape.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/savers/gif/tvgGifSaver.cpp
  test/testPaint.cpp
Labels: enhancement, refactoring, example, svg, APIs, test, optimization, image, cpu, renderer, binding, gl, webgpu

#3714 sw_engine: neat code++
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwImage.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: refactoring, cpu

#3719 sw_engine: recovered performance regression after v1.0-pre26
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: optimization, cpu

#3720 sw_engine: memory optimization++
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwMemPool.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
Labels: optimization, cpu

#3727 gl_engine: fix broken blending visual
  src/renderer/gl_engine/tvgGlRenderTask.cpp
Labels: bug, gl

#3728 sw_engine: fine-tune image composition
  src/renderer/sw_engine/tvgSwRaster.cpp
Labels: optimization, cpu

#3730 gl engine: fix broken blending visual (sub-scenes alignment)
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.h
Labels: bug, gl

#3323 lottie/slot: Introduce reusable Slot API
  examples/LottieExtension.cpp
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/lottie/thorvg_lottie.h
  src/loaders/lottie/tvgLottieAnimation.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
  test/testLottie.cpp
Labels: enhancement, example, test, lottie, binding

#3744 wg/gl: support stroke bounding box
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: feature, gl, webgpu

#3749 lottie/expressions: add .value property accessor support
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: enhancement, lottie

#3753 sw_engine: stability++
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug, cpu

#3752 example: fix compilation errors on win/mingw
  examples/Example.h
Labels: bug, example

#3754 api: added Picture::origin() support for user covenience
  examples/Animation.cpp
  examples/ImageRotation.cpp
  examples/ImageScaling.cpp
  examples/Lottie.cpp
  examples/LottieExpressions.cpp
  examples/LottieInteraction.cpp
  examples/LottieTweening.cpp
  examples/MultiCanvas.cpp
  examples/PictureSvg.cpp
  examples/Svg.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
Labels: example, APIs, renderer, binding

#3765 api: add missing const qualifier to user data parameter
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
Labels: refactoring, APIs, renderer, binding
