Repository thorvg/thorvg, pull requests merged in 2025-07, with the labels that each got.

#3583 lottie: support group-level blending
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: enhancement, lottie

#3587 sw_engine: keep the code in a more primitive style
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwMath.cpp
  src/renderer/sw_engine/tvgSwPostEffect.cpp
  src/renderer/sw_engine/tvgSwRle.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: refactoring, cpu

#3590 common: chores wrt scene effect
  examples/SceneEffects.cpp
  inc/thorvg.h
  src/renderer/tvgScene.cpp
  src/renderer/tvgScene.h
Labels: refactoring, example, APIs, renderer

#3596 common: added blending factor to tritone post-effect
  examples/SceneEffects.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
  src/renderer/sw_engine/tvgSwPostEffect.cpp
  src/renderer/tvgRender.h
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
Labels: enhancement, example, APIs, cpu, lottie, renderer, binding, gl, webgpu

#3598 lottie: adjusted the effect distance
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#3599 sw_engine: dropshadow stability++
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwPostEffect.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: bug, cpu

#3607 api: rename shape fill rule API for clarity
  examples/FillRule.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/tvgShape.cpp
  src/renderer/tvgText.h
  test/testShape.cpp
Labels: example, svg, APIs, test, lottie, renderer, binding

#3617 sw_engine: improved blending quality
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterTexmap.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
Labels: enhancement, cpu

#3618 sw_engine: improved the dropshadow effect support
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwPostEffect.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgCommon.h
Labels: enhancement, cpu, renderer

#3586 sw_engine: trimmed out unnecessary blending parameters
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwFill.cpp
  src/renderer/sw_engine/tvgSwRaster.cpp
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: enhancement, cpu

#3623 gl_engine: revised the effect logic
  src/renderer/gl_engine/meson.build
  src/renderer/gl_engine/tvgGlCommon.h
  src/renderer/gl_engine/tvgGlEffect.cpp
  src/renderer/gl_engine/tvgGlEffect.h
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/gl_engine/tvgGlShaderSrc.h
Labels: refactoring, gl

#3625 wg_engine: Fixed typo in comment
  src/renderer/wg_engine/tvgWgCompositor.cpp
Labels: webgpu

#3616 svg: fix nested use nodes
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
Labels: svg

#3624 renderer: refactored to share gl stroke dasher among engines
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
  src/renderer/tvgRender.cpp
  src/renderer/tvgRender.h
Labels: refactoring, renderer, gl

#3629 common: clean code++
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieModifier.cpp
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/svg/tvgSvgPath.cpp
  src/loaders/svg/tvgSvgPath.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/loaders/ttf/tvgTtfReader.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
Labels: refactoring, svg, lottie, font, renderer

#3635 wg_engine: tessellator optimization
  src/renderer/wg_engine/meson.build
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCommon.h
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgCompositor.h
  src/renderer/wg_engine/tvgWgGeometry.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
  src/renderer/wg_engine/tvgWgTessellator.cpp
  src/renderer/wg_engine/tvgWgTessellator.h
Labels: refactoring, optimization, webgpu

#3641 Hermet/hotfix
  examples/BoundingBox.cpp
  src/renderer/tvgShape.h
Labels: enhancement, example, renderer

#3642 wg/gl: add composition blend mode
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: enhancement, feature, gl, webgpu

#3644 lottie: fix timeRemap frame boundary handling
  src/loaders/lottie/tvgLottieModel.cpp
Labels: bug, lottie

#3664 test: updated coverage
  test/testAccessor.cpp
  test/testPaint.cpp
  test/testPicture.cpp
  test/testScene.cpp
  test/testSwCanvas.cpp
  test/testSwEngine.cpp
  test/testText.cpp
Labels: test

#3667 api: assign 0 thread count by default
  README.md
  examples/GifSaver.cpp
  inc/thorvg.h
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
  test/testAccessor.cpp
  test/testAnimation.cpp
  test/testInitializer.cpp
  test/testLottie.cpp
  test/testPaint.cpp
  test/testPicture.cpp
  test/testSavers.cpp
  test/testScene.cpp
  test/testSwCanvas.cpp
  test/testSwEngine.cpp
  test/testText.cpp
  tools/lottie2gif/lottie2gif.cpp
Labels: documentation, example, tools, APIs, test, binding
