Repository thorvg/thorvg, pull requests merged in 2025-09, with the labels that each got.

#3760 wasm: remove unused rpath parameter from load()
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: binding

#3768 api: introduced EngineOption to specify engine behavior
  examples/Capi.cpp
  examples/Example.h
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgRender.h
  src/renderer/tvgSwCanvas.cpp
Labels: example, APIs, cpu, renderer, binding

#3767 lottie/slot: fix colorstop memory access crash with animated value
  src/loaders/lottie/tvgLottieProperty.h
Labels: lottie

#3772 sw_engine: hotfix memory violation of dropshadow
  src/renderer/sw_engine/tvgSwPostEffect.cpp
Labels: showstopper, cpu

#3773 renderer: revise canvas context handling in target method
  src/renderer/tvgCanvas.cpp
Labels: renderer

#3776 loader/jpg: fine tune optimization++
  src/loaders/jpg/tvgJpgLoader.cpp
  src/loaders/jpg/tvgJpgd.cpp
  src/loaders/jpg/tvgJpgd.h
Labels: optimization, image

#3777 loader/jpg: enhancement++
  src/loaders/jpg/tvgJpgd.cpp
Labels: optimization, image

#3779 lottie/slot: skip overriding as soon as possible
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
Labels: enhancement, lottie

#3783 renderer: paint duplication++
  src/renderer/tvgPaint.cpp
  src/renderer/tvgPicture.h
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/tvgText.h
Labels: bug, renderer

#3784 lottie: repeater fine-tune with memory pooling
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: optimization, lottie

#3792 Lottie: Fixed track matte behavior.
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#3797 ttf: optimize codepoint conversion
  src/loaders/ttf/tvgTtfLoader.cpp
Labels: optimization, font

#3820 sw_engine: corrected wrong condition
  src/renderer/sw_engine/tvgSwPostEffect.cpp
Labels: bug, cpu

#3796 lottie: support asset resolver callback
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgPicture.cpp
  src/renderer/tvgPicture.h
Labels: feature, APIs, lottie, renderer, binding

#3850 lottie: fixes the trim path multiplication
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie
