Repository thorvg/thorvg, pull requests merged in 2025-10, with the labels that each got.

#3855 lottie: corrected dropshadow distance
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#3864 lottie/slot: fixed slot parsing for non-existent slots
  src/loaders/lottie/tvgLottieLoader.cpp
Labels: lottie, borker

#3862 webgl: fix shader compilation errors
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: gl

#3861 wg_engine: update webgpu lib to v25
  cross/wasm32.txt
  cross/wasm32_wg.txt
  examples/Example.h
  examples/MultiCanvas.cpp
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
  src/renderer/wg_engine/tvgWgBindGroups.cpp
  src/renderer/wg_engine/tvgWgCommon.cpp
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgPipelines.cpp
  src/renderer/wg_engine/tvgWgPipelines.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: example, binding, webgpu, build

#3869 lottie: separate build and update logic for better flexibility
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  test/testAnimation.cpp
Labels: refactoring, test, lottie

#3873 loader/jpg: fix double free
  src/loaders/jpg/tvgJpgd.cpp
Labels: bug, image
