Repository thorvg/thorvg, pull requests merged in 2025-01, with the labels that each got.

#3091 svg_loader: fix transformation order
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg

#3094 sw_engine: prevent warning
  src/renderer/sw_engine/tvgSwRle.cpp
Labels: refactoring, raster

#3095 lottie: enforce fill clipper over stroke clipper
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#3092 svg: specs ++
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: bug, svg

#3101 examples: revise the blending sample
  examples/Blending.cpp
  examples/MultiCanvas.cpp
  examples/PictureSvg.cpp
Labels: example

#3104 wg_engine: corrected ColorDodge, ColorBurn equation
  src/renderer/wg_engine/tvgWgShaderSrc.cpp
Labels: bug, raster

#3106 wg_engine: fix context handle passing by ref
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderData.h
Labels: bug, optimization

#3105 sw_engine: ++portability on macOS
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: portability, raster

#3108 webp: --compiler warning
  src/loaders/webp/dsp/dec.cpp
Labels: portability, image

#3111 common: Use explicit floating-point value types.
  src/common/tvgStr.cpp
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieInterpolator.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgPath.cpp
  src/renderer/tvgAnimation.cpp
  src/renderer/tvgRender.h
  test/testAnimation.cpp
Labels: svg, test, lottie, renderer

#3119 api: renamed api for consistency
  examples/Accessor.cpp
  inc/thorvg.h
  src/bindings/capi/tvgCapi.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgShape.cpp
  src/renderer/tvgShape.h
  test/testAccessor.cpp
  test/testShape.cpp
Labels: refactoring, example, APIs, test, renderer, binding

#3122 common: optimize clamp() for reduced overhead in web
  src/common/tvgMath.h
Labels: optimization, renderer

#3120 api: path api revision for v1.0
  examples/Capi.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/tvgPaint.cpp
  src/renderer/tvgShape.cpp
  test/testShape.cpp
Labels: refactoring, example, svg, APIs, test, renderer, binding

#3124 gl_engine: corrected ColorDodge, ColorBurn equation
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: bug, raster

#3130 renderer: minor code clean++
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/tvgPaint.h
  src/renderer/tvgPicture.h
  src/renderer/tvgScene.h
  src/renderer/tvgShape.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: refactoring, raster, renderer

#3129 lottie: fix text stroke's 'of' property
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieData.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: bug, lottie

#3131 common: code refactoring
  src/common/tvgArray.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/loaders/lottie/tvgLottieRenderPooler.h
  src/loaders/svg/tvgSvgCssStyle.cpp
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/gl_engine/tvgGlRenderTask.cpp
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRle.cpp
  src/renderer/sw_engine/tvgSwStroke.cpp
  src/renderer/tvgScene.h
  src/renderer/tvgTaskScheduler.cpp
  src/renderer/wg_engine/tvgWgCompositor.cpp
  src/renderer/wg_engine/tvgWgGeometry.h
  src/renderer/wg_engine/tvgWgRenderData.cpp
  src/renderer/wg_engine/tvgWgRenderTarget.cpp
  src/renderer/wg_engine/tvgWgRenderer.cpp
Labels: refactoring, svg, raster, lottie, renderer

#3113 sw_engine: Fix buffer overflow in texture mapping rasterizer
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: bug, showstopper, raster

#3132 common: neat & clean code++
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/tvgPaint.h
Labels: refactoring, svg, raster, lottie, renderer

#3135 lottie/expressions: ++safety
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: bug, lottie

#3137 renderer: improved engine for scalable effects
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwCommon.h
  src/renderer/sw_engine/tvgSwPostEffect.cpp
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: enhancement, raster, renderer

#3134 sw_engine: fix bug introduced in 07e73a9
  src/renderer/sw_engine/tvgSwStroke.cpp
Labels: borker

#3138 sw_engine/texmap: tuning the blending logic
  src/renderer/sw_engine/tvgSwRasterTexmap.h
Labels: refactoring, raster

#3142 sw_engine: Improved the blur performance by 12%
  src/renderer/sw_engine/tvgSwPostEffect.cpp
Labels: optimization, raster

#3143 lottie: expressions compactness++
  src/loaders/lottie/tvgLottieBuilder.h
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: optimization, lottie

#2893 svg: added filter node support
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Labels: feature, svg

#3150 api: revised the animation segment specification
  examples/Interaction.cpp
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/loaders/lottie/tvgLottieAnimation.cpp
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/renderer/tvgAnimation.cpp
  src/renderer/tvgFrameModule.h
  test/testAnimation.cpp
Labels: refactoring, example, APIs, test, lottie, renderer, binding

#3145 gl_engine: add support for stroke/fill ordering
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: enhancement, opengl

#3149 svg_loader: loc--
  src/loaders/svg/tvgSvgLoader.cpp
Labels: refactoring, svg

#3155 wg_engine: fix segmentation fault on windows with SVG examples
  src/renderer/wg_engine/tvgWgGeometry.h
Labels: bug, webgpu

#3160 lottie: revise the effect parsing logic
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: refactoring, lottie

#3158 engine: introduce scene effect dispose render method
  src/renderer/gl_engine/tvgGlRenderer.cpp
  src/renderer/gl_engine/tvgGlRenderer.h
  src/renderer/sw_engine/tvgSwRenderer.cpp
  src/renderer/sw_engine/tvgSwRenderer.h
  src/renderer/tvgRender.h
  src/renderer/tvgScene.h
  src/renderer/wg_engine/tvgWgRenderer.cpp
  src/renderer/wg_engine/tvgWgRenderer.h
Labels: renderer

#3164 lottie: clean up code for maintenance
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie

#3169 renderer: hotfix a nullptr memory copy
  src/renderer/tvgFill.h
Labels: portability, renderer
