Repository thorvg/thorvg, pull requests merged in 2025-03, with the labels that each got.

#3296 renderer: improved the paint bounding box accuracy
  src/common/tvgMath.cpp
  src/common/tvgMath.h
  src/renderer/tvgRender.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgShape.h
Labels: enhancement, renderer

#3295 lottie/text: fix justification in embedded font rendering
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: bug, lottie

#3300 lottie: revise the text justify logic
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieData.h
  src/loaders/lottie/tvgLottieParser.cpp
Labels: refactoring, lottie

#3297 gl_engine: introduce the stroke clipper
  src/renderer/gl_engine/tvgGlRenderer.cpp
Labels: enhancement, feature, gl

#3304 wg_engine: stroke clipping issue
  src/renderer/wg_engine/tvgWgCompositor.cpp
Labels: borker, webgpu

#3308 examples: chores++
  examples/ImageScaleDown.cpp
  examples/ImageScaleUp.cpp
  examples/ImageScaling.cpp
  examples/meson.build
  examples/resources/image/scale.jpg
  examples/resources/image/scaleup.jpg
Labels: refactoring, example

#3309 lottie/slot: fix potential memory leak when overriding twice
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: bug, lottie

#3316 common: support c++20 builds
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieProperty.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/gl_engine/tvgGlGeometry.cpp
  src/renderer/gl_engine/tvgGlRenderPass.cpp
  src/renderer/wg_engine/tvgWgShaderTypes.cpp
Labels: svg, lottie, gl, webgpu

#3317 lottie: --compiler warnings
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieProperty.h
Labels: refactoring, lottie

#3310 lottie/text: render carriage return with local font
  src/loaders/lottie/tvgLottieBuilder.cpp
Labels: enhancement, lottie

#3319 gl_engine: ++neat code
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/gl_engine/tvgGlTessellator.h
Labels: refactoring, gl

#3185 lottie: add support for text follow path
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
  src/loaders/lottie/tvgLottieParser.cpp
  src/loaders/lottie/tvgLottieParser.h
Labels: feature, lottie

#3324 renderer: ++wasm build portability
  src/renderer/tvgTaskScheduler.cpp
  src/renderer/tvgTaskScheduler.h
  src/savers/gif/tvgGifSaver.cpp
Labels: portability, image, renderer, borker

#3322 svg: fix incorrect assignment of <stop> elements
  examples/resources/svg/421553147-22eaf24a-a9a7-4a35-abac-df5a54ac5b19.svg
  examples/resources/svg/samsung-7.svg
  src/loaders/svg/tvgSvgLoader.cpp
Labels: bug, example, svg

#3328 lottie/slot: fix image deep copy logic
  src/loaders/lottie/tvgLottieProperty.h
Labels: bug, lottie

#3337 wg_engine: remove unnecessary header
  src/renderer/wg_engine/tvgWgCommon.cpp
Labels: webgpu

#3338 wg_engine: crash for empty clips fix
  src/renderer/wg_engine/tvgWgRenderData.cpp
Labels: bug, webgpu

#3339 array: use default constructor
  src/common/tvgArray.h
Labels: renderer

#3341 gl_engine: luma visual differneces fix
  src/renderer/gl_engine/tvgGlShaderSrc.cpp
Labels: bug, gl

#3345 common: ++loader thread safety
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  src/renderer/tvgLoader.cpp
  src/renderer/tvgTaskScheduler.cpp
  src/renderer/tvgTaskScheduler.h
Labels: bug, svg, lottie, renderer

#3348 renderer: safety++
  src/renderer/gl_engine/tvgGlTessellator.cpp
  src/renderer/sw_engine/tvgSwShape.cpp
  src/renderer/tvgRender.h
  src/renderer/tvgShape.h
Labels: bug, cpu, renderer, gl

#3349 ttf: ++thread safety
  src/loaders/ttf/tvgTtfLoader.cpp
  src/loaders/ttf/tvgTtfLoader.h
  src/loaders/ttf/tvgTtfReader.cpp
  src/loaders/ttf/tvgTtfReader.h
  src/renderer/tvgLoadModule.h
  src/renderer/tvgLoader.cpp
  src/renderer/tvgText.h
Labels: bug, font, renderer

#3351 lottie: minor optimization
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieParser.cpp
Labels: optimization, lottie

#3355 lottie: improve the compatiblity
  src/loaders/lottie/tvgLottieBuilder.cpp
  src/loaders/lottie/tvgLottieBuilder.h
  src/loaders/lottie/tvgLottieModel.cpp
  src/loaders/lottie/tvgLottieModel.h
Labels: enhancement, lottie

#3357 wasm: fix build error when WebGPU is disabled (SW/GL only)
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: bug, binding

#3360 lottie/expressions: code clean up
  src/common/tvgMath.h
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: refactoring, lottie, renderer

#3362 lottie/expressions: support wiggle effect
  examples/LottieExpressions.cpp
  examples/resources/lottie/expressions/wiggle.json
  src/loaders/lottie/tvgLottieExpressions.cpp
Labels: enhancement, example, lottie

#3363 examples: Add default font fallback to LottieExpressions demo
  examples/LottieExpressions.cpp
  examples/resources/lottie/expressions/24243.json
Labels: example

#3364 binding/wasm: code refactoring
  src/bindings/wasm/tvgWasmLottieAnimation.cpp
Labels: binding

#3369 lottie/expressions: add temporalWiggle() support
  src/loaders/lottie/tvgLottieExpressions.cpp
  src/loaders/lottie/tvgLottieProperty.h
Labels: enhancement, lottie

#3370 Add Fedora package link
  README.md
Labels: documentation
