Repository thorvg/thorvg, changes with the owners that CODEOWNERS names for each.
All owners: @hermet, @JSUYA, @mgrudzinska

common masking: optimize InvAlphaMask
  src/lib/tvgPaint.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: code refactoring.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine fill: optimize linear/radial fill fetching.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

common masking: optimize InvAlphaMask
  src/lib/tvgPaint.cpp
Owners: @JSUYA, @mgrudzinska

examples Texmap: extending the feature scenario.
  src/examples/Texmap.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: code refactoring.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: code cleanup
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

sw_engine fill: optimize linear/radial fill fetching.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: optimize alpha blending operation.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

examples: changed the screen size.
  src/examples/Performance.cpp
  src/examples/Tvg.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: minor code clean up
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterAvx.h
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRasterNeon.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

sw_engine: code refactoring.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: code refactoring.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: minor code clean up
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterAvx.h
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRasterNeon.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

doc: ++Colorspace description
  inc/thorvg.h
Owners: @hermet

sw_engine texmap: code optimization.
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

sw_engine texmap: code optimization.
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

doc: ++Colorspace description
  inc/thorvg.h
Owners: @hermet

common sw_engine: adds missing composite methods.
  inc/thorvg.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterMaskedTexmapInternal.h
  src/lib/sw_engine/tvgSwRasterScaledMaskedImage.h
  src/lib/sw_engine/tvgSwRasterScaledMaskedRleImage.h
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
  src/lib/tvgPaint.cpp
  src/lib/tvgRender.h
Owners: @hermet, @JSUYA, @mgrudzinska

examples MaskMethods: add a new example
  src/examples/MaskingMethods.cpp
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

sw_engine: gradient filling code refactoring.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: Keep compact image raster code.
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterScaledMaskedImage.h
  src/lib/sw_engine/tvgSwRasterScaledMaskedRleImage.h
Owners: @JSUYA, @mgrudzinska

sw_engine: keep code clean.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: Keep compact masking raster code.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterScaledMaskedImage.h
  src/lib/sw_engine/tvgSwRasterScaledMaskedRleImage.h
Owners: @JSUYA, @mgrudzinska

sw_engine: keep code clean.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: Keep compact masking raster code.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterScaledMaskedImage.h
  src/lib/sw_engine/tvgSwRasterScaledMaskedRleImage.h
Owners: @JSUYA, @mgrudzinska

sw_engine: gradient filling code refactoring.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: Keep compact image raster code.
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterScaledMaskedImage.h
  src/lib/sw_engine/tvgSwRasterScaledMaskedRleImage.h
Owners: @JSUYA, @mgrudzinska

examples MaskMethods: add a new example
  src/examples/MaskingMethods.cpp
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

common sw_engine: adds missing composite methods.
  inc/thorvg.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterMaskedTexmapInternal.h
  src/lib/sw_engine/tvgSwRasterScaledMaskedImage.h
  src/lib/sw_engine/tvgSwRasterScaledMaskedRleImage.h
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
  src/lib/tvgPaint.cpp
  src/lib/tvgRender.h
Owners: @hermet, @JSUYA, @mgrudzinska

sw_engine raster: code clean up.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine fill: code clean up.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine texmap: code clean up.
  src/lib/sw_engine/meson.build
  src/lib/sw_engine/tvgSwRasterMaskedTexmapInternal.h
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

sw_engine fill: code clean up.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine texmap: code clean up.
  src/lib/sw_engine/meson.build
  src/lib/sw_engine/tvgSwRasterMaskedTexmapInternal.h
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

sw_engine raster: code clean up.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

examples lottie: adds a basic example
  src/examples/Lottie.cpp
  src/examples/images/sample.json
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

common loader: adds animatable() interface
  src/lib/tvgLoadModule.h
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/tvg/tvgTvgLoader.h
Owners: @JSUYA, @mgrudzinska, @hermet

common loader: enable lottie loader
  src/lib/tvgCommon.h
  src/lib/tvgLoader.cpp
Owners: @JSUYA, @mgrudzinska

common Animation: introduce the Animation class.
  inc/thorvg.h
  src/lib/meson.build
  src/lib/tvgAnimation.cpp
  src/lib/tvgPictureImpl.h
Owners: @hermet, @JSUYA, @mgrudzinska

CODEOWNERS:

# ThorVG uses the CODEOWNERS file to automatically assign reviewers in the GitHub system. 
# However, the presence of a CODEOWNER does not necessarily imply that they are the sole copyright owners of the code. 
# For more information, please consult the AUTHORS file.

* @hermet
/src/lib/* @JSUYA @mgrudzinska
/src/lib/sw_engine/ @JSUYA @mgrudzinska
/src/loaders/svg/ @JSUYA @mgrudzinska
/src/loaders/tvg/ @mgrudzinska
/src/savers/tvg/ @mgrudzinska
/src/bindings/capi/ @mgrudzinska
/src/bin/svg2png/ @JSUYA
/src/examples/ @JSUYA @mgrudzinska
/test/* @JSUYA @mgrudzinska
/test/capi/ @mgrudzinska
