Repository thorvg/thorvg, changes with the owners that CODEOWNERS names for each.
All owners: @hermet, @JSUYA, @mgrudzinska

sw_engine: remove an unused function.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

api: rename beta apis.
  inc/thorvg.h
  src/bin/svg2png/svg2png.cpp
  test/testSwEngine.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

test shape: add stroke order test
  test/testShape.cpp
Owners: @JSUYA, @mgrudzinska

apis: promote beta apis to offical ones.
  inc/thorvg.h
Owners: @hermet

api: remove a beta api.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgLoadModule.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgLoader.h
  test/capi/capiPicture.cpp
Owners: @hermet, @mgrudzinska, @JSUYA

composite: Support Inverse Luma Masking
  inc/thorvg.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/tvgRender.h
Owners: @hermet, @JSUYA, @mgrudzinska

examples: added InvLumaMasking sample.
  src/examples/InvLumaMasking.cpp
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

sw_engine code refactoring.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

test: add Inverse Luma Mask test cases
  test/testPaint.cpp
  test/testSwEngine.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: code refactoring
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

sw_engine raster: compact blender alpha table size.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

infa: Install svg2png and svg2tvg.
  src/bin/svg2png/meson.build
  src/bin/svg2tvg/meson.build
Owners: @JSUYA, @hermet

infa: Install svg2png and svg2tvg.
  src/bin/svg2png/meson.build
  src/bin/svg2tvg/meson.build
Owners: @JSUYA, @hermet

apis: promote beta apis to offical ones.
  inc/thorvg.h
Owners: @hermet

api: remove a beta api.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgLoadModule.h
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/loaders/svg/tvgSvgLoader.h
  test/capi/capiPicture.cpp
Owners: @hermet, @mgrudzinska, @JSUYA

test shape: add stroke order test
  test/testShape.cpp
Owners: @JSUYA, @mgrudzinska

api: rename beta apis.
  inc/thorvg.h
  src/bin/svg2png/svg2png.cpp
  test/testSwEngine.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

capi: tvg_shape_set_paint_order introduced
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Owners: @mgrudzinska

tests: capi test for tvg_shape_set_paint_order
  test/capi/capiShape.cpp
Owners: @mgrudzinska

Fix clang compiler warnings.
  src/bin/svg2png/svg2png.cpp
  src/bin/svg2tvg/svg2tvg.cpp
  src/wasm/thorvgwasm.cpp
Owners: @JSUYA, @hermet

Fix clang compiler warnings.
  src/bin/svg2png/svg2png.cpp
  src/bin/svg2tvg/svg2tvg.cpp
  src/wasm/thorvgwasm.cpp
Owners: @JSUYA, @hermet

sw_engine code refactoring.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

composite: Support Inverse Luma Masking
  inc/thorvg.h
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/tvgRender.h
Owners: @hermet, @JSUYA, @mgrudzinska

sw_engine raster: compact blender alpha table size.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: code refactoring
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

test: add Inverse Luma Mask test cases
  test/testPaint.cpp
  test/testSwEngine.cpp
Owners: @JSUYA, @mgrudzinska

examples: added InvLumaMasking sample.
  src/examples/InvLumaMasking.cpp
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

infra: Avoid meson warning.
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

infra: Avoid meson warning.
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

Fix invalid conversion error in Avx raster.
  src/lib/sw_engine/tvgSwRasterAvx.h
Owners: @JSUYA, @mgrudzinska

Fix invalid conversion error in Avx raster.
  src/lib/sw_engine/tvgSwRasterAvx.h
Owners: @JSUYA, @mgrudzinska

CI: Fix ubuntu-latest apt-get install ... 404 Not Found.
  .github/workflows/regression.yml
Owners: @hermet

CI: Fix ubuntu-latest apt-get install ... 404 Not Found.
  .github/workflows/regression.yml
Owners: @hermet

webp_loader: Introduce Webp image loader
  .github/workflows/build_linux.yml
  .github/workflows/build_win.yml
  .github/workflows/codeql.yml
  meson.build
  meson_options.txt
  src/examples/PictureWebp.cpp
  src/examples/images/test.webp
  src/examples/meson.build
  src/lib/tvgCommon.h
  src/lib/tvgLoader.cpp
  src/loaders/external_webp/meson.build
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/meson.build
  test/capi/capiPicture.cpp
  test/images/test.webp
  test/testPicture.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

tvgJpgd.cpp: Warnings - set but unused variables.
  src/loaders/jpg/tvgJpgd.cpp
Owners: @hermet

tvgJpgd.cpp: Warnings - set but unused variables.
  src/loaders/jpg/tvgJpgd.cpp
Owners: @hermet

examples: changed the screen size.
  src/examples/Performance.cpp
  src/examples/Tvg.cpp
Owners: @JSUYA, @mgrudzinska

examples Texmap: extending the feature scenario.
  src/examples/Texmap.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: optimize alpha blending operation.
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwFill.cpp
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterTexmap.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

sw_engine: code cleanup
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterC.h
  src/lib/sw_engine/tvgSwRasterTexmapInternal.h
Owners: @JSUYA, @mgrudzinska

CODEOWNERS:

# ThorVG uses the CODEOWNERS file to automatically assign reviewers in the GitHub system. 
# However, the presence of a CODEOWNER does not necessarily imply that they are the sole copyright owners of the code. 
# For more information, please consult the AUTHORS file.

* @hermet
/src/lib/* @JSUYA @mgrudzinska
/src/lib/sw_engine/ @JSUYA @mgrudzinska
/src/loaders/svg/ @JSUYA @mgrudzinska
/src/loaders/tvg/ @mgrudzinska
/src/savers/tvg/ @mgrudzinska
/src/bindings/capi/ @mgrudzinska
/src/bin/svg2png/ @JSUYA
/src/examples/ @JSUYA @mgrudzinska
/test/* @JSUYA @mgrudzinska
/test/capi/ @mgrudzinska
