Repository thorvg/thorvg, changes with the owners that CODEOWNERS names for each.
All owners: @hermet, @JSUYA, @mgrudzinska

common frame_module: adds FrameModule interface.
  src/lib/meson.build
  src/lib/tvgFrameModule.h
Owners: @JSUYA, @mgrudzinska

loader lottie: +rapidjson for lottie json parser.
  src/loaders/lottie/rapidjson/allocators.h
  src/loaders/lottie/rapidjson/cursorstreamwrapper.h
  src/loaders/lottie/rapidjson/document.h
  src/loaders/lottie/rapidjson/encodedstream.h
  src/loaders/lottie/rapidjson/encodings.h
  src/loaders/lottie/rapidjson/error/en.h
  src/loaders/lottie/rapidjson/error/error.h
  src/loaders/lottie/rapidjson/filereadstream.h
  src/loaders/lottie/rapidjson/filewritestream.h
  src/loaders/lottie/rapidjson/fwd.h
  src/loaders/lottie/rapidjson/internal/biginteger.h
  src/loaders/lottie/rapidjson/internal/clzll.h
  src/loaders/lottie/rapidjson/internal/diyfp.h
  src/loaders/lottie/rapidjson/internal/dtoa.h
  src/loaders/lottie/rapidjson/internal/ieee754.h
  src/loaders/lottie/rapidjson/internal/itoa.h
  src/loaders/lottie/rapidjson/internal/meta.h
  src/loaders/lottie/rapidjson/internal/pow10.h
  src/loaders/lottie/rapidjson/internal/regex.h
  src/loaders/lottie/rapidjson/internal/stack.h
  src/loaders/lottie/rapidjson/internal/strfunc.h
  src/loaders/lottie/rapidjson/internal/strtod.h
  src/loaders/lottie/rapidjson/internal/swap.h
  src/loaders/lottie/rapidjson/istreamwrapper.h
  src/loaders/lottie/rapidjson/memorybuffer.h
  src/loaders/lottie/rapidjson/memorystream.h
  src/loaders/lottie/rapidjson/msinttypes/inttypes.h
  src/loaders/lottie/rapidjson/msinttypes/stdint.h
  src/loaders/lottie/rapidjson/ostreamwrapper.h
  src/loaders/lottie/rapidjson/pointer.h
  src/loaders/lottie/rapidjson/prettywriter.h
  src/loaders/lottie/rapidjson/rapidjson.h
  src/loaders/lottie/rapidjson/reader.h
  src/loaders/lottie/rapidjson/schema.h
  src/loaders/lottie/rapidjson/stream.h
  src/loaders/lottie/rapidjson/stringbuffer.h
  src/loaders/lottie/rapidjson/uri.h
  src/loaders/lottie/rapidjson/writer.h
Owners: @hermet

loader lottie: added empty interface body
  meson.build
  meson_options.txt
  src/loaders/lottie/meson.build
  src/loaders/lottie/tvgLottieLoader.cpp
  src/loaders/lottie/tvgLottieLoader.h
  src/loaders/meson.build
Owners: @hermet

Revert "api: remove deprecated apis"
  inc/thorvg.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPicture.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

api: enhance Shape::stroke() method usage.
  inc/thorvg.h
  src/examples/AnimateMasking.cpp
  src/examples/Arc.cpp
  src/examples/ClipPath.cpp
  src/examples/CustomTransform.cpp
  src/examples/DirectUpdate.cpp
  src/examples/Duplicate.cpp
  src/examples/GradientStroke.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/Opacity.cpp
  src/examples/SceneClipper.cpp
  src/examples/SceneTransform.cpp
  src/examples/Stacking.cpp
  src/examples/Stroke.cpp
  src/examples/StrokeLine.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

api: enhance Shape::stroke() method usage.
  inc/thorvg.h
  src/examples/AnimateMasking.cpp
  src/examples/Arc.cpp
  src/examples/ClipPath.cpp
  src/examples/CustomTransform.cpp
  src/examples/DirectUpdate.cpp
  src/examples/Duplicate.cpp
  src/examples/GradientStroke.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/Opacity.cpp
  src/examples/SceneClipper.cpp
  src/examples/SceneTransform.cpp
  src/examples/Stacking.cpp
  src/examples/Stroke.cpp
  src/examples/StrokeLine.cpp
  src/loaders/svg/tvgSvgSceneBuilder.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

Fix clang compiler warnings in unit tests.
  test/testAccessor.cpp
  test/testFill.cpp
  test/testPaint.cpp
  test/testPicture.cpp
  test/testSavers.cpp
  test/testScene.cpp
  test/testSwCanvasBase.cpp
  test/testSwEngine.cpp
Owners: @JSUYA, @mgrudzinska

Fix clang compiler warnings in unit tests.
  test/testAccessor.cpp
  test/testFill.cpp
  test/testPaint.cpp
  test/testPicture.cpp
  test/testSavers.cpp
  test/testScene.cpp
  test/testSwCanvasBase.cpp
  test/testSwEngine.cpp
Owners: @JSUYA, @mgrudzinska

common canvas/scene: introduce paints() api that returns the list of the paints.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/Blending.cpp
  src/examples/Capi.cpp
  src/examples/ClipPath.cpp
  src/examples/Duplicate.cpp
  src/examples/LinearGradient.cpp
  src/examples/MultiShapes.cpp
  src/examples/Opacity.cpp
  src/examples/RadialGradient.cpp
  src/examples/Scene.cpp
  src/examples/SceneTransform.cpp
  src/examples/Stacking.cpp
  src/lib/tvgCanvas.cpp
  src/lib/tvgCanvasImpl.h
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgSwCanvas.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  test/capi/capiScene.cpp
  test/capi/capiSwCanvas.cpp
  test/testScene.cpp
  test/testSwCanvasBase.cpp
Owners: @hermet, @mgrudzinska, @JSUYA

webp_loader: Introduce Webp image loader
  .github/workflows/build_linux.yml
  .github/workflows/codeql.yml
  meson.build
  meson_options.txt
  src/examples/PictureWebp.cpp
  src/examples/images/test.webp
  src/examples/meson.build
  src/lib/tvgCommon.h
  src/lib/tvgLoader.cpp
  src/loaders/external_webp/meson.build
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/meson.build
  test/capi/capiPicture.cpp
  test/images/test.webp
  test/testPicture.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

common canvas/scene: introduce paints() api that returns the list of the paints.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/examples/Blending.cpp
  src/examples/Capi.cpp
  src/examples/ClipPath.cpp
  src/examples/Duplicate.cpp
  src/examples/LinearGradient.cpp
  src/examples/MultiShapes.cpp
  src/examples/Opacity.cpp
  src/examples/RadialGradient.cpp
  src/examples/Scene.cpp
  src/examples/SceneTransform.cpp
  src/examples/Stacking.cpp
  src/lib/tvgCanvas.cpp
  src/lib/tvgCanvasImpl.h
  src/lib/tvgScene.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgSwCanvas.cpp
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  test/capi/capiScene.cpp
  test/capi/capiSwCanvas.cpp
  test/testScene.cpp
  test/testSwCanvasBase.cpp
Owners: @hermet, @mgrudzinska, @JSUYA

webp_loader: Introduce Webp image loader
  .github/workflows/build_linux.yml
  .github/workflows/codeql.yml
  meson.build
  meson_options.txt
  src/examples/PictureWebp.cpp
  src/examples/images/test.webp
  src/examples/meson.build
  src/lib/tvgCommon.h
  src/lib/tvgLoader.cpp
  src/loaders/external_webp/meson.build
  src/loaders/external_webp/tvgWebpLoader.cpp
  src/loaders/external_webp/tvgWebpLoader.h
  src/loaders/meson.build
  test/capi/capiPicture.cpp
  test/images/test.webp
  test/testPicture.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

infra github: keep the loader tries load all.
  .github/workflows/build_linux.yml
Owners: @hermet

infra github: keep the loader tries load all.
  .github/workflows/build_linux.yml
Owners: @hermet

api: -- a redundant util func.
  inc/thorvg.h
Owners: @hermet

api: -- a redundant util func.
  inc/thorvg.h
Owners: @hermet

capi: --redundant tag
  src/bindings/capi/thorvg_capi.h
Owners: @mgrudzinska

API, CAPI, sw_engine: add suport for stroke-miterlimit.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwStroke.cpp
  src/lib/tvgRender.h
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  test/capi/capiShape.cpp
  test/testShape.cpp
Owners: @hermet, @mgrudzinska, @JSUYA

API, sw_engine: add stroke-miterlimit example.
  src/examples/StrokeMiterlimit.cpp
  src/examples/images/stroke-miterlimit.png
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

api: enhance API usability
  inc/thorvg.h
  src/examples/AnimateMasking.cpp
  src/examples/Async.cpp
  src/examples/ClipPath.cpp
  src/examples/DirectUpdate.cpp
  src/examples/Duplicate.cpp
  src/examples/GradientMasking.cpp
  src/examples/GradientTransform.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LinearGradient.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/MaskingMethods.cpp
  src/examples/PicturePng.cpp
  src/examples/PictureRaw.cpp
  src/examples/PictureWebp.cpp
  src/examples/RadialGradient.cpp
  src/examples/Shape.cpp
  src/examples/Stress.cpp
  src/examples/Stroke.cpp
  src/examples/StrokeLine.cpp
  src/examples/Svg.cpp
  src/examples/Svg2.cpp
  src/examples/Texmap.cpp
  src/examples/Transform.cpp
  src/examples/Tvg.cpp
  src/examples/Update.cpp
  test/testSwCanvasBase.cpp
  test/testSwEngine.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

sw_engine: optimize 64-bit rasterization.
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterC.h
Owners: @JSUYA, @mgrudzinska

API, CAPI, sw_engine: add suport for stroke-miterlimit.
  inc/thorvg.h
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
  src/lib/sw_engine/tvgSwCommon.h
  src/lib/sw_engine/tvgSwStroke.cpp
  src/lib/tvgRender.h
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
  src/loaders/svg/tvgSvgLoader.cpp
  src/loaders/svg/tvgSvgLoaderCommon.h
  src/loaders/svg/tvgSvgSceneBuilder.cpp
  test/capi/capiShape.cpp
  test/testShape.cpp
Owners: @hermet, @mgrudzinska, @JSUYA

API, sw_engine: add stroke-miterlimit example.
  src/examples/StrokeMiterlimit.cpp
  src/examples/images/stroke-miterlimit.png
  src/examples/meson.build
Owners: @JSUYA, @mgrudzinska

sw_engine: optimize 64-bit rasterization.
  src/lib/sw_engine/tvgSwRaster.cpp
  src/lib/sw_engine/tvgSwRasterC.h
Owners: @JSUYA, @mgrudzinska

api: enhance API usability
  inc/thorvg.h
  src/examples/AnimateMasking.cpp
  src/examples/Async.cpp
  src/examples/ClipPath.cpp
  src/examples/DirectUpdate.cpp
  src/examples/Duplicate.cpp
  src/examples/GradientMasking.cpp
  src/examples/GradientTransform.cpp
  src/examples/InvLumaMasking.cpp
  src/examples/InvMasking.cpp
  src/examples/LinearGradient.cpp
  src/examples/LumaMasking.cpp
  src/examples/Masking.cpp
  src/examples/MaskingMethods.cpp
  src/examples/PicturePng.cpp
  src/examples/PictureRaw.cpp
  src/examples/PictureWebp.cpp
  src/examples/RadialGradient.cpp
  src/examples/Shape.cpp
  src/examples/Stress.cpp
  src/examples/Stroke.cpp
  src/examples/StrokeLine.cpp
  src/examples/Svg.cpp
  src/examples/Svg2.cpp
  src/examples/Texmap.cpp
  src/examples/Transform.cpp
  src/examples/Tvg.cpp
  src/examples/Update.cpp
  test/testSwCanvasBase.cpp
  test/testSwEngine.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

tvg: recover the broken compatibility.
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Owners: @JSUYA, @mgrudzinska

tvg: recover the broken compatibility.
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Owners: @JSUYA, @mgrudzinska

Update README.md
  README.md
Owners: @hermet

tvg: support stroke miterlimit property.
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Owners: @JSUYA, @mgrudzinska

common: optimize paint data size.
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgFill.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgShapeImpl.h
Owners: @mgrudzinska, @JSUYA

test: ++coverage of Canvas::paints(), Scene::paints()
  test/images/tag.tvg
  test/images/test.tvg
  test/testScene.cpp
  test/testSwCanvasBase.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

Update README.md
  README.md
Owners: @hermet

Update README.md
  README.md
Owners: @hermet

Update README.md
  README.md
Owners: @hermet

tvg: support stroke miterlimit property.
  src/lib/tvgBinaryDesc.h
  src/loaders/tvg/tvgTvgBinInterpreter.cpp
  src/savers/tvg/tvgTvgSaver.cpp
Owners: @JSUYA, @mgrudzinska

test: ++coverage of Canvas::paints(), Scene::paints()
  test/images/tag.tvg
  test/images/test.tvg
  test/testScene.cpp
  test/testSwCanvasBase.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

common: optimize paint data size.
  src/bindings/capi/tvgCapi.cpp
  src/lib/tvgFill.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPaint.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgRender.h
  src/lib/tvgShapeImpl.h
Owners: @mgrudzinska, @JSUYA

doc: update the CompositeMethod.
  inc/thorvg.h
Owners: @hermet

doc: update the CompositeMethod.
  inc/thorvg.h
Owners: @hermet

doc: fix wrong info by mistake
  inc/thorvg.h
Owners: @hermet

CODEOWNERS:

# ThorVG uses the CODEOWNERS file to automatically assign reviewers in the GitHub system. 
# However, the presence of a CODEOWNER does not necessarily imply that they are the sole copyright owners of the code. 
# For more information, please consult the AUTHORS file.

* @hermet
/src/lib/* @JSUYA @mgrudzinska
/src/lib/sw_engine/ @JSUYA @mgrudzinska
/src/loaders/svg/ @JSUYA @mgrudzinska
/src/loaders/tvg/ @mgrudzinska
/src/savers/tvg/ @mgrudzinska
/src/bindings/capi/ @mgrudzinska
/src/bin/svg2png/ @JSUYA
/src/examples/ @JSUYA @mgrudzinska
/test/* @JSUYA @mgrudzinska
/test/capi/ @mgrudzinska
