Repository thorvg/thorvg, changes with the owners that CODEOWNERS names for each.
All owners: @hermet, @JSUYA, @mgrudzinska

api: remove deprecated apis
  inc/thorvg.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPicture.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

test: updated tvg binaries.
  test/images/tag.tvg
  test/images/test.tvg
Owners: @hermet

api: remove extern "C"
  inc/thorvg.h
Owners: @hermet

fix usage of TVG_API
  inc/thorvg.h
  src/bin/meson.build
  src/bin/svg2png/meson.build
  src/bin/svg2tvg/meson.build
  src/bindings/capi/thorvg_capi.h
  src/examples/meson.build
  src/meson.build
  test/meson.build
Owners: @hermet, @JSUYA, @mgrudzinska

fix usage of TVG_API
  inc/thorvg.h
  src/bin/meson.build
  src/bin/svg2png/meson.build
  src/bin/svg2tvg/meson.build
  src/bindings/capi/thorvg_capi.h
  src/examples/meson.build
  src/meson.build
  test/meson.build
Owners: @hermet, @JSUYA, @mgrudzinska

api: remove deprecated apis
  inc/thorvg.h
  src/lib/tvgPaint.cpp
  src/lib/tvgPicture.cpp
Owners: @hermet, @JSUYA, @mgrudzinska

portability: fix usage of TVG_API
  inc/thorvg.h
  src/bin/meson.build
  src/bin/svg2png/meson.build
  src/bin/svg2tvg/meson.build
  src/bindings/capi/thorvg_capi.h
  src/examples/meson.build
  src/meson.build
  test/meson.build
Owners: @hermet, @JSUYA, @mgrudzinska

api: introduce cast() template method.
  inc/thorvg.h
Owners: @hermet

common: code refactoring
  src/examples/Duplicate.cpp
  src/examples/GradientStroke.cpp
  src/examples/Stroke.cpp
  src/savers/tvg/tvgTvgSaver.cpp
  src/wasm/thorvgwasm.cpp
  test/testFill.cpp
  test/testPaint.cpp
  test/testPicture.cpp
  test/testSwEngine.cpp
Owners: @JSUYA, @mgrudzinska, @hermet

api: remove extern "C"
  inc/thorvg.h
Owners: @hermet

api: introduce cast() template method.
  inc/thorvg.h
Owners: @hermet

common: code refactoring
  src/examples/Duplicate.cpp
  src/examples/GradientStroke.cpp
  src/examples/Stroke.cpp
  src/savers/tvg/tvgTvgSaver.cpp
  src/wasm/thorvgwasm.cpp
  test/testFill.cpp
  test/testPaint.cpp
  test/testPicture.cpp
  test/testSwEngine.cpp
Owners: @JSUYA, @mgrudzinska, @hermet

svg_loader: copy the use node properties
  src/loaders/svg/tvgSvgLoader.cpp
Owners: @JSUYA, @mgrudzinska

svg_loader: fixing finding defs node
  src/loaders/svg/tvgSvgLoader.cpp
Owners: @JSUYA, @mgrudzinska

svg_loader: copy the use node properties
  src/loaders/svg/tvgSvgLoader.cpp
Owners: @JSUYA, @mgrudzinska

svg_loader: fixing finding defs node
  src/loaders/svg/tvgSvgLoader.cpp
Owners: @JSUYA, @mgrudzinska

examples: updated SVG samples.
  src/examples/Common.h
  src/examples/MultiCanvas.cpp
  src/examples/Stress.cpp
  src/examples/Svg.cpp
  src/examples/images/LottieFiles_logo.svg
  src/examples/images/eu.svg
  src/examples/images/opensearch.svg
Owners: @JSUYA, @mgrudzinska

examples: updated SVG samples.
  src/examples/Common.h
  src/examples/MultiCanvas.cpp
  src/examples/Stress.cpp
  src/examples/Svg.cpp
  src/examples/images/LottieFiles_logo.svg
  src/examples/images/eu.svg
  src/examples/images/opensearch.svg
Owners: @JSUYA, @mgrudzinska

common scene: fix a potential composition bug.
  src/lib/tvgSceneImpl.h
Owners: @JSUYA, @mgrudzinska

common picture: fix a composition bug.
  src/examples/Performance.cpp
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/lib/tvgSceneImpl.h
Owners: @JSUYA, @mgrudzinska

portability: fix usage of TVG_API
  inc/thorvg.h
  src/bin/meson.build
  src/bin/svg2png/meson.build
  src/bin/svg2tvg/meson.build
  src/bindings/capi/thorvg_capi.h
  src/examples/meson.build
  src/meson.build
  test/meson.build
Owners: @hermet, @JSUYA, @mgrudzinska

package: add thorvg preprocessor for static linking
  pc/thorvg.pc.in
Owners: @hermet

infra: enable strip flag only when it's requeted.
  meson.build
  src/meson.build
Owners: @hermet

common scene: fix a potential composition bug.
  src/lib/tvgSceneImpl.h
Owners: @JSUYA, @mgrudzinska

common picture: fix a composition bug.
  src/examples/Performance.cpp
  src/lib/tvgPicture.cpp
  src/lib/tvgPictureImpl.h
  src/lib/tvgSceneImpl.h
Owners: @JSUYA, @mgrudzinska

common shape: fixing stroking composition issue.
  inc/thorvg.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
Owners: @hermet, @JSUYA, @mgrudzinska

examples masking: updated for stroking composition.
  src/examples/Masking.cpp
Owners: @JSUYA, @mgrudzinska

examples svg: adjust window size.
  src/examples/Svg.cpp
Owners: @JSUYA, @mgrudzinska

common sw_engine: gather scattered stroking composition.
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Owners: @JSUYA, @mgrudzinska

package: add thorvg preprocessor for static linking
  pc/thorvg.pc.in
Owners: @hermet

infra: enable strip flag only when it's requeted.
  meson.build
  src/meson.build
Owners: @hermet

doc: updated godot image.
  README.md
  res/example_godot.png
Owners: @hermet

doc: updated godot image.
  README.md
  res/example_godot.png
Owners: @hermet

capi: tvg_shape_set_paint_order introduced
  src/bindings/capi/thorvg_capi.h
  src/bindings/capi/tvgCapi.cpp
Owners: @mgrudzinska

tests: capi test for tvg_shape_set_paint_order
  test/capi/capiShape.cpp
Owners: @mgrudzinska

examples svg: adjust window size.
  src/examples/Svg.cpp
Owners: @JSUYA, @mgrudzinska

common shape: fixing stroking composition issue.
  inc/thorvg.h
  src/lib/tvgPictureImpl.h
  src/lib/tvgShape.cpp
  src/lib/tvgShapeImpl.h
Owners: @hermet, @JSUYA, @mgrudzinska

common sw_engine: gather scattered stroking composition.
  src/lib/sw_engine/tvgSwRenderer.cpp
  src/lib/tvgSceneImpl.h
  src/lib/tvgShapeImpl.h
Owners: @JSUYA, @mgrudzinska

examples masking: updated for stroking composition.
  src/examples/Masking.cpp
Owners: @JSUYA, @mgrudzinska

sw_engine: remove an unused function.
  src/lib/sw_engine/tvgSwRaster.cpp
Owners: @JSUYA, @mgrudzinska

CODEOWNERS:

# ThorVG uses the CODEOWNERS file to automatically assign reviewers in the GitHub system. 
# However, the presence of a CODEOWNER does not necessarily imply that they are the sole copyright owners of the code. 
# For more information, please consult the AUTHORS file.

* @hermet
/src/lib/* @JSUYA @mgrudzinska
/src/lib/sw_engine/ @JSUYA @mgrudzinska
/src/loaders/svg/ @JSUYA @mgrudzinska
/src/loaders/tvg/ @mgrudzinska
/src/savers/tvg/ @mgrudzinska
/src/bindings/capi/ @mgrudzinska
/src/bin/svg2png/ @JSUYA
/src/examples/ @JSUYA @mgrudzinska
/test/* @JSUYA @mgrudzinska
/test/capi/ @mgrudzinska
